<template>
  <div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card mt-2">
          <div class="card-header bg bg-info">DETALLES DE PROMOCIÓN</div>
          <div class="card-body">
            <form>
              <form>
                <div class="form-row">
                  <div class="col">
                    <label>Descripción</label>
                    <input
                      type="text"
                      disabled
                      class="form-control"
                      placeholder="Ejm. Aniversario"
                      v-model="form.desprom"
                      @click="alert()"
                    >
                  </div>
                  <div class="col">
                    <label>Fecha</label>
                    <input
                      type="Date"
                      disabled
                      class="form-control"
                      v-model="form.fecdiprom"
                    >
                  </div>
                  <div class="col ml-4">
                    <div>
                      <label>Hasta agotar existencia?</label>
                    </div>

                    <div class="form-check form-check-inline ml-4">
                      <input
                        disabled
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="inlineRadio1"
                        :value=form.tiempoPromo
                        :checked="!form.tiempoPromo"
                        @click="form.tiempoPromo = false, change(form.tiempoPromo)"
                      >
                      <label
                        class="form-check-label"
                        for="inlineRadio1"
                      >NO</label>

                    </div>
                    <div class="form-check form-check-inline ml-4">
                      <input
                        disabled
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="inlineRadio2"
                        :value=form.tiempoPromo
                        :checked="form.tiempoPromo"
                        @click="form.tiempoPromo = true, change(form.tiempoPromo)"
                      >
                      <label
                        class="form-check-label"
                        for="inlineRadio2"
                      >SI</label>
                    </div>
                  </div>
                </div>
                <div
                  class=" mt-4"
                  v-if="form.tiempoPromo==false"
                >
                  <div class="mt-3">
                    <div class="form-row">
                      <div class="col-md-3">
                        <label>Desde:</label>
                        <input
                          disabled
                          type="date"
                          class="form-control"
                          v-model="form.fecdesprom"
                        >
                      </div>
                      <div class="col-md-3">
                        <label>Hasta:</label>
                        <input
                          disabled
                          type="date"
                          class="form-control"
                          v-model="form.fechasprom"
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row mt-5">
                  <div class="form-group col-md-4">
                    <label for="nomartpro">Nombre Del Articulo</label>
                    <input
                      disabled
                      type="text"
                      class="form-control"
                      placeholder="Ejm:articulo2x1"
                      v-model="form.nomart"
                      id="nomartpro"
                    >
                  </div>
                  <div class="form-group col-md-2">
                    <label for="pvpartpro">Precios</label>
                    <input
                      disabled
                      type="number"
                      class="form-control"
                      placeholder="0.00"
                      v-model="form.monartpro"
                      id="pvpartpro"
                    >

                  </div>
                  <div class="form-group col-md-2">
                    <label for="pvpartpro">Moneda</label>

                    <input
                      disabled
                      type="text"
                      class="form-control"
                      v-model="form.codigoid"
                    >

                  </div>
                  <div class="form-group col-md-3">
                    <label for="pvpartpro">Almacen</label>
                    <input
                      disabled
                      type="text"
                      class="form-control"
                      v-model="form.codalm"
                    >
                  </div>
                </div>
                <div class="mt-5 table-responsive">
                  <table class="table table-hover ">
                    <thead>
                      <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Articulo</th>
                        <th scope="col">Existencia</th>
                        <th scope="col">Cantidad requerida</th>
                      </tr>
                    </thead>
                    <tbody
                      v-for="(articulo , index) in articulos"
                      :key="index"
                    >
                      <tr>
                        <td>{{articulos[index].codigo ? articulos[index].codigo : ''}}</td>
                        <td class="col-md-6 ">
                          <input
                            class="form-control"
                            v-model="articulos[index].nombre"
                          >
                        </td>
                        <td class="col-md-2">
                          <input
                            type="text"
                            class="form-control"
                            v-model="articulos[index].existencia"
                            disabled
                          >
                        </td>
                        <td class="col-md-2">
                          <input
                            disabled
                            type="number"
                            class="form-control"
                            placeholder="Ejm: 3"
                            v-model="articulos[index].requerido"
                          >
                        </td>

                      </tr>
                    </tbody>
                  </table>
                </div>
              </form>
              <section class="size mb-5">
                <div class="mt-4 font-weight-bold">
                  Detalles de promocion:
                </div>
                <ul
                  v-for="(articulo, index) in articulos"
                  :key="index"
                >

                  <li><span class="font-weight-bold">Articulo: </span>{{ articulo.nombre}}</li>
                  <ul>
                    <span class="font-weight-bold ">Cantidad: </span> {{articulo.requerido}}
                  </ul>
                </ul>
              </section>
            </form>

            <div v-if="staprom == 'R'">
              <div class="container">
                <div class="col-md-12">
                  <label class="text-danger">ANULADO POR:</label>
                  {{  this.datos.articulospro[0].nomcre }}
                </div>
                <div class="ml-1">
                  <label>MOTIVO DE ANULACIÓN:</label>
                  {{  this.datos.articulospro[0].motanu }}
                </div>
              </div>
            </div>
            <div
              class="d-flex justify-content-end"
              v-if="form.status === 'P'"
            >
              <div class="row col-3">
                <div class="col">
                  <button
                    class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#staticBackdrop"
                    @click="aprobacion = 'R', status(aprobacion)"
                  >
                    RECHAZAR
                  </button>
                </div>
                <div class="col">
                  <button
                    class="btn btn-success"
                    @click="aprobacion = 'A', status(aprobacion)"
                  >
                    APROBAR
                  </button>
                </div>
              </div>
            </div>
            <div>
              <a
                v-bind:href="'/modulo/Almacen/Promociones'"
                class="btn btn-default mt-5"
              ><i class="fa fa-chevron-circle-left"></i> Volver</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
    <script>
export default {
  props: ["datos"],
  data() {
    return {
      form: {
        codprom: "",
        codartprom: "",
        codalm: "",
        codigoid: "",
        fecdiprom: "",
        desprom: "",
        fecdesprom: "",
        fechasprom: "",
        monartpro: "",
        nomart: "",
        tiempoPromo: "",
        status: "",
      },
      aprobacion: "",
      moneda: [],
      articulos: [],
      select: false,
      artpromo: [],
      infarticulo: [],
      nameartprom: "",

      fecprom: "",
      producto: [],
      exit: "",
    };
  },

  created() {
    this.form.desprom = this.datos.articulospro[0].desprom;
    this.form.fecdiprom = this.datos.articulospro[0].fecdiprom;
    this.form.codalm = this.datos.articulospro[0].almacen[0].nomalm;
    this.form.fecdesprom = this.datos.articulospro[0].fedesprom;
    this.form.fechasprom = this.datos.articulospro[0].fechasprom;
    this.form.monartpro = this.datos.articulospro[0].precio;
    this.form.codigoid = this.datos.articulospro[0].moneda[0].nombre;
    this.form.nomart = this.datos.articulospro[0].caregart.desart;
    this.form.tiempoPromo = this.datos.articulospro[0].agotexis;
    this.form.status = this.datos.articulospro[0].status;
    this.staprom = this.datos.articulospro[0].staprom;
    for (const articulo of this.datos.art) {
      this.articulos.push({
        codigo: articulo.codart,
        nombre: articulo.desart,
        existencia: articulo.almacenubi[0].exiact,
        requerido: articulo.cadetpro.cantidad,
      });
    }
  },
  methods: {
    async status(status) {
      if (status == "R") {
        Swal.fire({
          title: "Escribe un motivo de Anulación",
          input: "text",
          inputAttributes: {
            autocapitalize: "off",
          },
          showCancelButton: true,
          confirmButtonText: "Anular",
          showLoaderOnConfirm: true,
          preConfirm: (login) => {
            const data = {
              motivo: login,
              codigo: this.datos.articulospro[0].codartprom,
              status: this.aprobacion,
            };
            const res = axios
              .post(`/modulo/Almacen/Promociones/Anular`, data)
              .then((res) => {
                this.$toast.success("Desaprobado!", {
                  onclose: setTimeout(() => {
                    window.location = `/modulo/Almacen/Promociones`;
                  }, 2000),
                });
              })
              .catch((error) => {
                Swal.showValidationMessage(`Request failed: ${error}`);
              });
          },
        });
      } else {
        const data = {
          status: status,
          codigo: this.datos.articulospro[0].codartprom,
        };
        const res = axios
          .post(`/modulo/Almacen/Promociones/Anular`, data)
          .then((res) => {
            this.$toast.success("Aprobado!", {
              onclose: setTimeout(() => {
                window.location = `/modulo/Almacen/Promociones`;
              }, 2000),
            });
          });
      }
    },
  },
};
</script>
    <style>
.custom-select .vs__search input {
  width: 100%;
}
.size {
  font-size: 14px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
</style>