<template>
  <div class="">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card mt-2">
          <div class="card-header bg bg-info">EDITAR PROMOCION</div>
          <div class="card-body">
            <form
              class=""
              @submit.prevent="update(datos.articulospro[0].id)"
            >
              <form>
                <div class="form-row mb-5">
                  <div class="col">
                    <label>Descripción</label>
                    <input
                      type="text"
                      v-bind:class="{ disabled: isDisabled }"
                      class="form-control"
                      placeholder="Ejm. Aniversario"
                      v-model="form.desprom"
                      @click="alert()"
                    >
                  </div>
                  <div class="col">
                    <label>Fecha</label>
                    <input
                      type="Date"
                      class="form-control"
                      v-model="form.fecdiprom"
                    >
                  </div>
                  <div class="col ml-4">
                    <div>
                      <label>Hasta agotar existencia?</label>
                    </div>

                    <div class="form-check form-check-inline ml-4">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="inlineRadio1"
                        :value=form.tiempoPromo
                        :checked="!form.tiempoPromo"
                        @click="form.tiempoPromo = false, change(form.tiempoPromo)"
                      >
                      <label
                        class="form-check-label"
                        for="inlineRadio1"
                      >NO</label>

                    </div>
                    <div class="form-check form-check-inline ml-4">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="inlineRadio2"
                        :value=form.tiempoPromo
                        :checked="form.tiempoPromo"
                        @click="form.tiempoPromo = true, change(form.tiempoPromo)"
                      >
                      <label
                        class="form-check-label"
                        for="inlineRadio2"
                      >SI</label>
                    </div>
                  </div>
                </div>
                <div
                  class=" mt-4 mb-5"
                  v-if="form.tiempoPromo==false"
                >
                  <div class="mt-3">
                    <div class="form-row">
                      <div class="col-md-3">
                        <label>Desde:</label>
                        <input
                          type="date"
                          class="form-control"
                          v-model="form.fecdesprom"
                          @input="validarfedes()"
                        >
                      </div>
                      <div class="col-md-3">
                        <label>Hasta:</label>
                        <input
                          type="date"
                          class="form-control"
                          v-model="form.fechasprom"
                          @input="validatefechasprom()"
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="border py-1 px-1"
                  style="border-width: 3px !important;"
                >
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="nomartpro">Nombre Del Articulo</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Ejm:articulo2x1"
                        v-model="form.nomart"
                        id="nomartpro"
                      >
                    </div>
                    <div class="form-group col-md-2">
                      <label for="pvpartpro">Precios</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="0.00"
                        v-model="form.monartpro"
                        id="pvpartpro"
                      >

                    </div>
                    <div class="form-group col-md-2">
                      <label for="pvpartpro">Moneda</label>
                      <v-select
                        placeholder="Seleccione un articulo"
                        :options="moneda"
                        v-model="form.codigoid"
                        :reduce="(cod) => cod.codigoid"
                        label="nombre"
                      />

                    </div>
                    <div class="form-group col-md-3">
                      <label for="pvpartpro">Almacen</label>
                      <v-select
                        placeholder="Seleccione un articulo"
                        :options="almacen"
                        v-model="form.codalm"
                        :reduce="(cod) => cod.codalm"
                        label="nomalm"
                      />
                    </div>
                  </div>
                  <div class="mt-5 table-responsive border">
                    <table class="table table-hover ">
                      <thead>
                        <tr>
                          <th scope="col">Codigo</th>
                          <th scope="col">Articulo</th>
                          <th scope="col">Existencia</th>
                          <th scope="col">Cantidad requerida</th>
                        </tr>
                      </thead>
                      <tbody
                        v-for="(articulo , index) in articulos"
                        :key="index"
                      >
                        <tr>
                          <td>{{articulos[index].codigo ? articulos[index].codigo : ''}}</td>
                          <td class="col-md-6 ">
                            <v-select
                              :class="form-control"
                              placeholder="Seleccione un articulo"
                              :options="infarticulo"
                              v-model="articulos[index].codigo"
                              :reduce="(cod) => cod.codart"
                              @input="detarticulo(articulos[index].codigo, index)"
                              label="desart"
                            />
                          </td>
                          <td class="col-md-2">
                            <input
                              type="text"
                              class="form-control"
                              v-model="articulos[index].existencia"
                              disabled
                            >
                          </td>
                          <td class="col-md-2">
                            <input
                              type="number"
                              class="form-control"
                              placeholder="Ejm: 3"
                              v-model="articulos[index].requerido"
                              @input="validate(index), articulos[index].requerido  != '' ? enviar = true  : enviar = false "
                            >
                          </td>
                          <td>
                            <button
                              class="btn btn-light"
                              @click.prevent="deletArticulo(index)"
                            > <i class="
                              fas
                              fa-trash
                              red"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="d-flex my-2 mr-1 justify-content-end">
                      <button
                        class="btn btn-info"
                        type="button"
                        @click="newArticulo()"
                      >Añadir Articulo</button>
                    </div>
                  </div>
                </div>
              </form>
              <section class="size mb-5">
                <div class="mt-4 font-weight-bold">
                  Detalles de promocion:
                </div>
                <ul
                  v-for="(articulo, index) in articulos"
                  :key="index"
                >

                  <li><span class="font-weight-bold">Articulo: </span>{{ articulo.nombre}}</li>
                  <ul>
                    <span class="font-weight-bold ">Cantidad: </span> {{articulo.requerido}}
                  </ul>
                </ul>
                <div>
                  <button
                    id="saveSubmit"
                    type="submit"
                    class="btn btn-success mt-5"
                    v-bind:disabled="enviar === false"
                  ><b>Guardar Cambios</b></button>
                  <a
                    v-bind:href="'/modulo/Almacen/Promociones'"
                    class="btn btn-default mt-5"
                  ><i class="fa fa-chevron-circle-left"></i> Volver</a>
                </div>
              </section>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
  <script>
export default {
  props: ["datos"],
  data() {
    return {
      form: {
        codprom: "",
        codartprom: "",
        codalm: "",
        codigoid: "",
        fecdiprom: "",
        desprom: "",
        fecdesprom: "",
        fechasprom: "",
        monartpro: "",
        nomart: "",
        tiempoPromo: "",
        status: "",
      },
      enviar: true,
      moneda: [],
      articulos: [],
      select: false,
      artpromo: [],
      infarticulo: [],
      nameartprom: "",
      artpromo: [],
      contador: "",
      fecprom: "",
      producto: [],
      exit: "",
      almacen: [],
    };
  },

  created() {
    this.form.desprom = this.datos.articulospro[0].desprom;
    this.form.codprom = this.datos.articulospro[0].codprom;
    this.form.codartprom = this.datos.articulospro[0].codartprom;
    this.form.fecdiprom = this.datos.articulospro[0].fecdiprom;
    this.form.codalm = this.datos.articulospro[0].codalm;
    this.form.fecdesprom = this.datos.articulospro[0].fedesprom;
    this.form.fechasprom = this.datos.articulospro[0].fechasprom;
    this.form.monartpro = this.datos.articulospro[0].precio;
    this.form.monartpro = this.datos.articulospro[0].precio;
    this.form.codigoid = this.datos.articulospro[0].codmon;
    this.infarticulo = this.datos.articulos;
    this.form.nomart = this.datos.articulospro[0].caregart.desart;
    this.form.tiempoPromo = this.datos.articulospro[0].agotexis;
    this.form.status = this.datos.articulospro[0].status;
    this.almacen = this.datos.almacen;
    this.moneda = this.datos.moneda;

    for (const articulo of this.datos.art) {
      this.articulos.push({
        codigo: articulo.codart,
        nombre: articulo.caregart[0].desart,
        existencia: articulo.caregart[0].almacenubi[0].exiact,
        requerido: articulo.cantidad,
        id: articulo.id,
      });
    }
  },
  mounted() {
    this.getartalmacen();
  },
  methods: {
    async getartalmacen() {
      try {
        const res = await axios.get(
          `/modulo/Almacen/Promociones/ArticuloAlmacen/` + this.form.codalm
        );
        this.infarticulo = res.data.articulos;
      } catch (error) {}
    },

    change(tiempoPromo) {
      if (tiempoPromo === true) {
        this.form.fecdesprom = "";
        this.form.fechasprom = "";
      } else {
        this.form.fecdesprom = this.datos.articulospro[0].fedesprom;
        this.form.fechasprom = this.datos.articulospro[0].fechasprom;
      }
    },
    detarticulo(codart, index) {
      const map1 = this.infarticulo.map((x) => {
        if (codart === x.codart) {
          this.articulos[index].existencia = x.almacenubi[0].exiact;
          this.articulos[index].nombre = x.desart;
          // return x.exitot;
        }
        this.articulos[index].requerido = "";

        return x;
      });

      if (this.articulos[index].codigo === null) {
        this.articulos[index].existencia = "";
      }
      if (
        this.articulos[index].codigo != null &&
        this.articulos[index].requerido != ""
      ) {
        this.enviar = true;
      } else {
        this.enviar = false;
      }
    },
    newArticulo() {
      this.articulos.push({
        codigo: " ",
        nombre: " ",
        existencia: " ",
        requerido: " ",
        id: null,
      });
    },

    validarfedes() {
      if (this.form.fecdesprom < this.form.fecdiprom) {
        Swal.fire({
          icon: "error",
          title: "La fecha no puede ser menor a la actual",
          text: "Introduce otra fecha!",
        });
        this.form.fecdesprom = " ";
      } else {
      }
    },
    validatefechasprom() {
      if (this.form.fechasprom < this.form.fecdesprom) {
        Swal.fire({
          icon: "error",
          title: "La fecha no puede ser menor a la fecha a fecha de incio",
          text: "Introduce otra fecha!",
        });
        this.form.fechasprom = "";
      }
    },
    validate(index) {
      if (this.articulos[index].existencia !== " ") {
        if (
          this.articulos[index].requerido >
          parseInt(this.articulos[index].existencia)
        ) {
          this.$toast.error("No hay cantidad suficiente", {
            position: "top-right",
            timeout: 5000,
            closeOnClick: true,
          });
          this.articulos[index].requerido = " ";
        } else {
        }
      }
    },
    //  ENVIAR LA INFORMACION

    async update(id) {
      try {
        const data = {
          id: id,
          articulos: this.articulos,
          form: this.form,
        };

        const res = await axios.post(
          `/modulo/Almacen/promociones/update`,
          data
        );
        this.$toast.success("Se actualizo correctamente", {
          onclose: setTimeout(() => {
            window.location = `/modulo/Almacen/Promociones`;
          }, 2000),
        });
      } catch (error) {
        console.log(error.response.data.errors);
        const errors = error.response.data.errors;
        if (error.response.status === 422) {
          const keys = Object.keys(errors);

          for (const key of keys) {
            const error = errors[key];

            this.$toast.error(error[0]);
          }
        }
      }
    },
    deletArticulo(index) {
      this.articulos.splice(index, 1);
      if (this.articulos.length === 0) {
        this.enviar = false;
      } else {
        this.enviar = true;
      }
    },
  },
};
</script>
  <style>
.custom-select .vs__search input {
  width: 100%;
}
.size {
  font-size: 14px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
</style>