<template>
  <div class="">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card mt-2">
          <div class="card-header bg bg-info">REGISTRO DE PROMOCIONES</div>
          <div class="card-body">
            <form
              class=""
              @submit.prevent="CreateArticuloprom()"
            >
              <form>
                <div class="form-row mb-5">
                  <div class="col">
                    <label>Descripción</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Ejm. Aniversario"
                      v-uppercase
                      v-model="form.desprom"
                    >
                  </div>
                  <div class="col">
                    <label>Fecha</label>
                    <input
                      type="Date"
                      class="form-control"
                      v-model="form.fecdiprom"
                      disabled
                    >
                  </div>
                  <div class="col ml-4">
                    <div>
                      <label>Hasta agotar existencia?</label>
                    </div>
                    <div class="form-check form-check-inline ml-4">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="inlineRadio1"
                        :value=false
                        @click="form.tiempoPromo = false"
                      >
                      <label
                        class="form-check-label"
                        for="inlineRadio1"
                      >NO</label>

                    </div>
                    <div class="form-check form-check-inline ml-4">
                      <input
                        checked
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="inlineRadio2"
                        :value=true
                        @click="form.tiempoPromo = true"
                      >
                      <label
                        class="form-check-label"
                        for="inlineRadio2"
                      >SI</label>
                    </div>
                  </div>
                </div>
                <div
                  class=" mt-4 mb-5"
                  v-if="form.tiempoPromo==false"
                >
                  <div class="mt-3">
                    <div class="form-row">
                      <div class="col-md-3">
                        <label>Desde:</label>
                        <input
                          type="date"
                          class="form-control"
                          v-model="form.fecdesprom"
                          @input="validarfedes()"
                        >
                      </div>
                      <div class="col-md-3">
                        <label>Hasta:</label>
                        <input
                          type="date"
                          class="form-control"
                          v-model="form.fechasprom"
                          @input="validatefechasprom()"
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="border py-1 px-1"
                  style="border-width: 3px !important;"
                >
                  <div class="form-row  mt-1">
                    <div class="form-group col-md-4">
                      <label for="nomartpro">Nombre Del Articulo</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Ejm:articulo2x1"
                        v-model="form.nomart"
                        v-uppercase
                        id="nomartpro"
                      >
                    </div>
                    <div class="form-group col-md-2">
                      <label for="pvpartpro">Precios</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="0.00"
                        v-model="form.monartpro"
                        id="pvpartpro"
                      >

                    </div>
                    <div class="form-group col-md-2">
                      <label for="moneda">Moneda</label>
                      <v-select
                        placeholder="Seleccione una Moneda"
                        :options="moneda"
                        v-model="form.codigoid"
                        :reduce="(cod) => cod.codigoid"
                        @input="getartalmacen()"
                        label="nombre"
                      />

                    </div>
                    <div class="form-group col-md-3">
                      <label for="almacen">Almacen</label>
                      <v-select
                        placeholder="Seleccione un Almacen"
                        :options="almacen"
                        v-model="form.codalm"
                        :reduce="(cod) => cod.codalm"
                        @input="getartalmacen()"
                        label="nomalm"
                      />
                    </div>
                  </div>
                  <div class="mt-5 table-responsive border">
                    <table class="table table-hover ">
                      <thead>
                        <tr>
                          <th scope="col">Codigo</th>
                          <th scope="col">Articulo</th>
                          <th scope="col">Existencia</th>
                          <th scope="col">Cantidad requerida</th>
                        </tr>
                      </thead>
                      <tbody
                        v-for="(articulo , index) in articulos"
                        :key="articulo.index"
                      >
                        <tr>
                          <td>{{articulos[index].codigo ? articulos[index].codigo : ''}}</td>
                          <td class="col-md-6 ">
                            <v-select
                              placeholder="Seleccione un articulo"
                              :options="infarticulo"
                              v-model="articulos[index].codigo"
                              :reduce="(cod) => cod.codart"
                              @input="detarticulo(articulos[index].codigo, index)"
                              label="desart"
                            />
                          </td>
                          <td class="col-md-2">
                            <input
                              type="text"
                              class="form-control"
                              v-model="articulos[index].existencia"
                              disabled
                            >
                          </td>
                          <td class="col-md-2">
                            <input
                              type="number"
                              class="form-control"
                              placeholder="Ejm: 3"
                              v-model="articulos[index].requerido"
                              @input="validate(index), articulos[index].requerido  != '' ? enviar = true  : enviar = false"
                            >
                          </td>
                          <td>
                            <button
                              class="btn btn-light"
                              @click.prevent="deletArticulo(index)"
                            > <i class="
                            fas
                            fa-trash
                            red"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="d-flex my-2  mr-1 justify-content-end">
                      <button
                        class="btn btn-info"
                        type="button"
                        @click="newArticulo()"
                      >Añadir Articulo</button>
                    </div>
                  </div>
                </div>

              </form>

              <section class="size mb-5">
                <div class="mt-4 font-weight-bold">
                  Detalles de promocion:
                </div>
                <ul
                  v-for="articulo  in articulos"
                  :key="articulo.codart"
                >

                  <li><span class="font-weight-bold">Articulo: </span>{{ articulo.nombre}}</li>
                  <ul>
                    <span class="font-weight-bold ">Cantidad: </span> {{articulo.requerido}}
                  </ul>
                </ul>
                <div>
                  <button
                    id="saveSubmit"
                    type="submit"
                    class="btn btn-success mt-5"
                    v-bind:disabled="enviar === false"
                  ><b>Guardar Cambios</b></button>
                  <a
                    v-bind:href="'/modulo/Almacen/Promociones'"
                    class="btn btn-default mt-5"
                  ><i class="fa fa-chevron-circle-left"></i> Volver</a>
                </div>
              </section>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      form: {
        codprom: "",
        codartprom: "",
        codalm: "",
        codigoid: "",
        fecdiprom: "",
        desprom: "",
        fecdesprom: "",
        fechasprom: "",
        monartpro: "",
        nomart: "",
        tiempoPromo: true,
        status: "",
      },
      enviar: false,
      moneda: [],
      articulos: [],
      select: false,
      artpromo: [],
      infarticulo: [],
      nameartprom: "",
      artpromo: [],
      contador: "",

      fecprom: "",
      producto: [],
      exit: "",
      almacen: [],
    };
  },
  created() {
    this.getinfoart();
    this.articulos = [];
    this.form.fecdiprom = new Date().toISOString().split("T")[0];
  },
  mounted() {},
  methods: {
    addFirstArt() {
      this.articulos.push({
        codigo: "",
        nombre: "",
        existencia: "",
        requerido: "",
      });
    },
    async getartalmacen() {
      const data = {
        codalm: this.form.codalm,
        codmon: this.form.codigoid,
      };
      try {
        const res = await axios.post(
          `/modulo/Almacen/Promociones/ArticuloAlmacen`,
          data
        );
        this.infarticulo = res.data.articulos;
        this.articulos = [];
        this.addFirstArt();
      } catch (error) {
        this.infarticulo = [];
        this.articulos = [];
        this.$toast.error(error.response.data.message, {
          duration: 2000,
        });
      }
    },
    detarticulo(codart, index) {
      const map1 = this.infarticulo.map((x) => {
        if (codart === x.codart) {
          this.articulos[index].existencia = x.almacenubi_sum_exiact;
          this.articulos[index].nombre = x.desart;
          return x.exitot;
        }
        this.articulos[index].requerido = "";
        return x;
      });
      if (
        this.articulos[index].codigo != null &&
        this.articulos[index].requerido != ""
      ) {
        this.enviar = true;
      } else {
        this.enviar = false;
      }

      if (this.articulos[index].codigo === null) {
        this.articulos[index].existencia = "";
      }

      if (articulos[index].requerido != "") {
        this.validate(index);
      }
    },
    alert() {},
    newArticulo() {
      this.articulos.push({
        codigo: " ",
        nombre: " ",
        existencia: " ",
        requerido: " ",
      });
    },
    async getinfoart() {
      try {
        const res = await axios.get(`/modulo/Almacen/CrearPromociones/getinfo`);
        this.almacen = res.data.almacen;
        this.moneda = res.data.moneda;
        this.contador = res.data.count + 1;
        this.form.codprom = "PM-" + String(this.contador).padStart(4, "0");
        this.form.codartprom =
          "APM00-" + String(this.contador).padStart(4, "0");
        this.form.codalm = res.data.predef;
        //this.getartalmacen();
      } catch {}
    },

    deletArticulo(index) {
      this.articulos.splice(index, 1);
      if (this.articulos.length === 0) {
        this.enviar = false;
      } else {
        this.enviar = true;
      }
    },

    async CreateArticuloprom() {
      this.getinfoart();
      this.form.status = "P";
      this.enviar = false;
      try {
        const data = {
          form: this.form,
          articulos: this.articulos,
        };

        const res = await axios.post(
          `/modulo/Almacen/CrearPromociones/create`,
          data
        );

        this.$toast.success("Su promocion se registro con exito!", {
          onclose: setTimeout(() => {
            window.location = `/modulo/Almacen/Promociones`;
          }, 2000),
        });
      } catch (error) {
        console.log(error.response.data.errors);
        const errors = error.response.data.errors;
        if (error.response.status === 422) {
          const keys = Object.keys(errors);

          for (const key of keys) {
            const error = errors[key];

            this.$toast.error(error[0]);
          }
          this.enviar = true;
        }
      }
    },
    validarfedes() {
      if (this.form.fecdesprom < this.form.fecdiprom) {
        Swal.fire({
          icon: "error",
          title: "La fecha no puede ser menor a la actual",
          text: "Introduce otra fecha!",
        });
        this.form.fecdesprom = " ";
      } else {
      }
    },
    validatefechasprom() {
      if (this.form.fechasprom < this.form.fecdesprom) {
        Swal.fire({
          icon: "error",
          title: "La fecha no puede ser menor a la fecha a fecha de incio",
          text: "Introduce otra fecha!",
        });
        this.form.fechasprom = "";
      }
    },
    validate(index) {
      this.alert("aqui");
      if (this.articulos[index].existencia !== " ") {
        if (
          this.articulos[index].requerido >
          parseInt(this.articulos[index].existencia)
        ) {
          this.$toast.error("No hay cantidad suficiente", {
            position: "top-right",
            timeout: 5000,
            closeOnClick: true,
          });
          this.articulos[index].requerido = " ";
        } else {
        }
      }
    },
  },
};
</script>
<style>
.custom-select .vs__search input {
  width: 100%;
}
.size {
  font-size: 14px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
</style>