<template>
  <div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><b>Estatus Inventario</b></h3>
              <div class="card-tools">
              </div>
            </div>
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="col-sm-12 col-md-12 col-xl-6">
                  <div class="form-group">
                    <label for="almacen">Almacén</label>
                    <v-select
                      placeholder="Seleccione un almacén"
                      :options="almacenes"
                      name="selAlm"
                      v-model="selAlm"
                      :reduce="(almacen) => almacen.codalm"
                      label="nomalm"
                      @input="searchArticulos"
                    ></v-select>
                  </div>
                  <div class="form-group">
                    <label for="filtro">Artículo</label>
                    <input
                      type="text"
                      placeholder="Buscar Articulo"
                      name="filtro"
                      class="form-control"
                      v-model="codart"
                      @input="searchArticulos"
                    >
                  </div>

                  <div
                    class="form-group"
                    style="display: flex; justify-content: flex-end"
                  >
                    <!-- <button
                      class="btn btn-success"
                      @click="searchArticulos()"
                    ><i
                        class="fas fa-search"
                        aria-hidden="true"
                      ></i><b class="ml-2">Ver Inventario</b></button> -->
                    <button
                      class="btn btn-secondary"
                      @click="clean()"
                    ><i
                        class="fa fa-arrow-left "
                        aria-hidden="true"
                      ></i><b class="ml-2">Limpiar</b></button>
                  </div>
                </div>
                <div class="form-group ml-2">

                </div>
              </div>
              <hr>
              <div v-if="articulos !== null">

                <div>
                  <h5>Artículos en Almacén : </h5>
                </div>

                <table class="table table-hover">
                  <thead>
                    <tr style="text-align:center">
                      <th>Nro°</th>
                      <th>Código Artículo</th>
                      <th>Descripción Artículo</th>
                      <th>Existencia</th>
                      <th>Seriales</th>
                    </tr>
                  </thead>
                  <tbody style="text-align:center">
                    <tr
                      v-for="(art, index) in articulos"
                      :key="art.id"
                      :value="art.codart"
                    >
                      <td> {{ index+1 }} </td>
                      <td class="negrita"> {{ art.codart }} </td>
                      <td> {{ art.desart }} </td>
                      <td class="negrita"> {{ art.almacenubi_sum_exiact }} </td>
                      <td>
                        <button
                          type="button"
                          class="btn btn-outline-light"
                          data-toggle="modal"
                          data-target="#serialModal"
                          v-if="art.isserial === true"
                          @click="getSeriales(art.codart), artModal = art.codart"
                        >
                          <i class="fa fa-book blue"></i>

                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="serialModal"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-lg"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="exampleModalLabel"
            >Seriales</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <label for="Serial">Buscar</label>
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Serial"
                    aria-label="Serial"
                    aria-describedby="basic-addon2"
                    v-model="search"
                  >
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                    >
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <table
                  class="table table-hover centro"
                  v-if="seriales!== null"
                >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Serial</th>
                    </tr>
                  </thead>
                  <tbody :name="artModal">
                    <tr
                      v-for="(ser, index) in seriales"
                      :key="ser.id"
                    >
                      <td>{{ index+1 }}</td>
                      <td>{{ ser }}</td>
                    </tr>
                  </tbody>
                  <p></p>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import Axios from "axios";
export default {
  props: {
    almacenes: {
      type: Array,
    },
  },
  data() {
    return {
      selAlm: null,
      codart: null,
      articulos: null,
      artModal: "",
      search: "",
      seriales: null,
      msgSerial: "",
    };
  },
  methods: {
    async searchArticulos() {
      this.selAlm === null ? (this.articulos = null) : "";
      let url = "/modulo/Almacen/Inventario/Estatus";
      const datos = {
        almacen: this.selAlm,
        filtro: this.codart,
      };
      await axios
        .post(url, datos)
        .then(({ data }) => {
          this.articulos = data.articulos;
        })
        .catch((e) => {
          this.articulos = null;
          this.$toast.error(e.response.data.message);
        });
    },

    async getSeriales(val, serial) {
      let isSerial;
      serial !== null ? (isSerial = true) : (isSerial = false);
      await Axios.get("/modulo/Facturacion/Facturacionv2/getSeriales", {
        params: {
          codart: val,
          serial: serial,
          isSeriales: isSerial,
        },
      })
        .then(({ data }) => {
          if (data.msg) {
            this.seriales = null;
            this.msgSerial = data.msg;
          } else {
            this.seriales = data.seriales;
          }
          console.log(this.seriales);
        })
        .catch((e) => {
          this.$toast.error(
            "Se ha encontrado un error al buscar los seriales de este artículo"
          );
        });
    },

    clean() {
      this.selAlm = null;
      this.codart = null;
      this.articulos = null;
    },
  },
};
</script>

<style scoped>
.negrita {
  font-weight: bold;
}

.centro {
  text-align: center;
}
</style>