<template>
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title mt-2"><b>REGISTRAR NOTA DE ENTREGA</b></h3>
          <div class="d-flex flex-row-reverse bd-highlight">
          </div>
        </div>

        <div class="card-body">
          <div class="row">

            <div class="col-sm-6">
              <div class="form-group">
                <label for="cliente">Cliente</label>
                <v-select
                  placeholder="Seleccione un cliente"
                  :options="clientes"
                  name="codcli"
                  v-model="form.codcli"
                  :reduce="(cliente) => cliente.codpro"
                  label="nompro"
                ></v-select>
              </div>
            </div>

            <div class="col-lg-6 col-sm-10">
              <div class="form-group">
                <label for="almori">Almacén Origen</label>
                <v-select
                  placeholder="Seleccione un almacén"
                  :options="almacenes"
                  name="codalm"
                  v-model="form.codalm"
                  :reduce="(almacen) => almacen.codalm"
                  label="nomalm"
                  @input="getArticulos"
                ></v-select>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="obsent">Observación</label>
                <textarea
                  name="obsent"
                  id="obsent"
                  v-model="form.obsent"
                  rows="3"
                  placeholder="Ingrese una observación"
                  style="resize: none;"
                  class="form-control"
                ></textarea>
              </div>
            </div>
          </div>

          <div class="row p-4">
            <h4>Artículos</h4>
            <div class="table-responsive table-wrapper">
              <table
                class="table table-hover table-bordered"
                style="width: 100%"
              >
                <thead>
                  <tr style="text-align: center;">
                    <th>Nro</th>
                    <th>Artículo</th>
                    <th>Cantidad</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody style="text-align: center;">
                  <tr
                    v-for="(art, index) in arts"
                    :key="art.index"
                  >
                    <td>{{ index }}</td>
                    <td>
                      <v-select
                        id="mySelect"
                        style="width: 500px;"
                        placeholder="Seleccione un artículo"
                        :options="articulos"
                        v-model="art.codart"
                        :reduce="(articulo) => articulo.codart"
                        label="desart"
                        @input="getArt"
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control numero"
                        v-model="art.cantidad"
                        @input="getCant(art.cantidad, index)"
                        v-numeric-only
                      >
                    </td>
                    <td>
                      <a
                        role="button"
                        class="btn btn-outline-light"
                        @click="deleteArt(index)"
                      >
                        <i class="fa fa-trash red"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div
            class="row"
            style="display: flex; justify-content: flex-end"
          >
            <button
              class="btn btn-primary m-4"
              @click="addart()"
              :disabled="form.codalm === null"
            >
              Añadir artículo
            </button>
          </div>

          <!-- /.card-body -->

        </div>
        <div class="card-footer">
          <div class="row">
            <button
              type="submit"
              class="btn btn-success ml-2"
              @click="sendNota"
              :disabled="whileSub"
            ><b>Guardar Cambios</b></button>
            <div>
              <a
                v-bind:href="'/modulo/Almacen/NdEntrega'"
                class="btn btn-default ml-4"
              ><i class="fas fa-chevron-circle-left"></i><b> Volver</b></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    clientes: {
      type: Array,
    },

    almacenes: {
      type: Array,
    },
  },
  data() {
    return {
      whileSub: false,
      form: {
        codcli: null,
        codalm: null,
        arts: null,
        obsent: null,
      },
      articulos: [],
      arts: [],
    };
  },
  methods: {
    async getArticulos(val) {
      // Implementación para obtener artículos por almacén
      const data = {
        codalm: val,
      };
      axios
        .post("/modulo/Almacen/NdEntrega/getArticulos", data)
        .then(({ data }) => {
          this.articulos = data;
        })
        .catch((error) => {
          this.$toast.error(error.response.data.message, {
            position: "top-right",
            timeout: 5000,
            closeOnClick: true,
          });
        });
    },

    addart() {
      this.arts = [...this.arts, { codcli: this.form.codcli }];
    },
    deleteArt(index) {
      this.arts.splice(index, 1);
    },

    async sendNota() {
      this.whileSub = true;
      this.form.arts = this.arts;
      const data = this.form;
      await axios
        .post(`/modulo/Almacen/NdEntrega/guardarNota`, data)
        .then(({ data }) => {
          if (data.success) {
            this.whileSub = false;
            this.$toast.success(data.message, {
              onclose: setTimeout(() => {
                window.location = data.redirect;
              }, 2000),
            });
          }
        })
        .catch((error) => {
          this.whileSub = false;
          console.log(error.response);
          if (error.response.status === 422) {
            this.errors = error.response.data.errors;

            Object.entries(this.errors).forEach(([key, value]) => {
              console.log(value);
              this.$toast.error(value[0], {
                position: "top-right",
                timeout: 5000,
                closeOnClick: true,
              });
            });
          } else {
            this.$toast.error(
              "Error al registrar, consulte al administrador del sistema.",
              {
                position: "top-right",
                timeout: 5000,
                closeOnClick: true,
              }
            );
            this.whileSub = false;
          }
        });
    },

    getCant(cant, index) {
      let art = this.arts[index];
      console.log(art);
      console.log(cant, index);

      if (cant > art.existencia) {
        art.cantidad = "";
        this.$toast.error("Cantidad inválida", { duration: 500 });
      }
    },

    getArt(val) {
      console.log(val);
      let index = this.arts.findIndex((el) => el.codart === val);
      let art = this.articulos.find((el) => el.codart === val);

      this.arts[index].existencia = parseInt(art.almacenubi_sum_exiact);
    },
  },
};
</script>
<style scoped>
input[type="text"]::-webkit-outer-spin-button,
input[type="text"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.numero {
  -moz-appearance: textfield;
  text-align: right;
}

#mySelect .v-select .dropdown-toggle {
  border: none;
  width: 300px;
}
.table-wrapper {
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 66.4vh;
  margin-top: 22px;
  height: 250px;

  margin: 15px;
  padding-bottom: 20px;
}

table {
  min-width: max-content;
  border-spacing: 0px;
}

table th {
  position: sticky;
  top: 0px;
  text-align: center;
}

table th,
table td {
  position: sticky;
  padding-top: 10px;
  padding-bottom: 10px;
}

table td {
  text-align: center;
}
</style>