<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-8">
          <div
              class="alert alert-danger pb-0"
              v-if="Object.keys(errors).length != 0"
            >
              <p>Asegurese de llenar todos los campos de manera correcta y unica.</p>
            </div>
            <div class="alert alert-danger pb-0"
              v-if="errorNompro.includes('ya está en uso') || errorRifpro.includes('ya está en uso')">
              <p> Este proveedor ya existe.</p>
            </div>  
          <div class="card card-info">
          
            <div class="card-header">
              <h3 class="card-title">REGISTRO PROVEEDOR</h3>
            </div>

         

            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="nompro">Nombre</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"
                          >A</span
                        >
                      </div>
                      <input
                        type="text"
                        maxlength="100"
                        class="form-control"
                        v-model="nompro"
                        placeholder="Nombre del proveedor"
                        v-uppercase
                        required
                      />
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="nompro">Correo</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"
                          >@</span
                        >
                      </div>
                      <input
                        type="email"
                        maxlength="100"
                        class="form-control"
                        v-model="email"
                        placeholder="Correo del proveedor"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-sm-2">
                  <label for="nitpro">Tipo de persona</label>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="tipo"
                      id=""
                      value="J"
                      v-model="nitpro"
                      checked
                    />
                    <label class="form-check-label" for="exampleRadios1">
                      Jurídica
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="tipo"
                      v-model="nitpro"
                      id=""
                      value="N"
                    />
                    <label class="form-check-label" for="exampleRadios2">
                      Natural
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="tipo"
                      v-model="nitpro"
                      id=""
                      value="G"
                    />
                    <label class="form-check-label" for="exampleRadios3">
                      Gubernamental
                    </label>
                  </div>
                </div>

                <div class="col-sm-4">
                  <label for="rifpro">RIF</label>
                  <input
                    type="text"
                    v-model="rifpro"
                    class="form-control"
                    @keyup="key(rifpro)"
                    :disabled="!nitpro"
                    maxlength="12"
                  />
                </div>

                <div class="col-sm-2">
                  <label for="nitpro">Nacionalidad</label>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="nacional"
                      id=""
                      value="N"
                      v-model="nacpro"
                      checked
                    />
                    <label class="form-check-label" for="exampleRadios1">
                      Venezolana
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="nacional"
                      v-model="nacpro"
                      id=""
                      value="P"
                    />
                    <label class="form-check-label" for="exampleRadios2">
                      Extranjera
                    </label>
                  </div>
                </div>

                <div class="col-sm-2">
                  <label for="nitpro">Actividad Profesional</label>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="actividad"
                      id=""
                      value="C"
                      v-model="tipo"
                      checked
                    />
                    <label class="form-check-label" for="exampleRadios1">
                      Contratista
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="actividad"
                      v-model="tipo"
                      id=""
                      value="P"
                    />
                    <label class="form-check-label" for="exampleRadios2">
                      Cooperativa
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="actividad"
                      v-model="tipo"
                      id=""
                      value="O"
                    />
                    <label class="form-check-label" for="exampleRadios3">
                      Proveedor
                    </label>
                  </div>
                </div>

                <div class="col-sm-2">
                  <label for="nitpro">Proveedor Activo</label>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name=""
                      value="A"
                      v-model="estpro"
                      checked
                    />
                    <label class="form-check-label" for="exampleRadios1">
                      Si
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name=""
                      v-model="estpro"
                      value="I"
                    />
                    <label class="form-check-label" for="exampleRadios2">
                      No
                    </label>
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="nompro">Dirección</label>
                    <div class="input-group">
                      <input
                        type="text"
                        maxlength="100"
                        class="form-control"
                        v-model="dirpro"
                        placeholder="Dirrección del proveedor"
                        v-uppercase
                      />
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="nompro">Teléfonos</label>
                    <div class="input-group">
                      <input
                        type="number"
                        maxlength="100"
                        class="form-control"
                        v-model="telpro"
                        placeholder="Teléfonos del proveedor"
                      />
                    </div>
                  </div>
                </div>

                <div class="mt-3">
                  <a
                    class="btn btn-default ml-4"
                    v-bind:href="'/modulo/ConfiguracionGenerales/Proveedores'"
                    ><i class="fas fa-chevron-circle-left"></i><b> Volver</b></a
                  >
                  <button
                    type="submit"
                    class="btn btn-success"
                    :disabled="buttonClicked"
                    @click="sendprov"
                  >
                    Guardar
                  </button>
                  <!--  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      buttonClicked: false,
      nitpro: "",
      nompro: "",
      rifpro: "",
      nacpro: "",
      email: "",
      tipo: "",
      estpro: "",
      dirpro: "",
      telpro: "",
      errors: "",
      errorNompro: "",
      errorRifpro: "",
    };
  },
  methods: {
    async sendprov() {
      this.buttonClicked = true; 
      setTimeout(() => {
          this.buttonClicked = false;
      }, 3000); 
      const data = {
        nitpro: this.nitpro,
        nompro: this.nompro,
        rifpro: this.rifpro,
        nacpro: this.nacpro,
        email: this.email,
        tipo: this.tipo,
        estpro: this.estpro,
        dirpro: this.dirpro,
        telpro: this.telpro,
      };

      await axios
        .post(`/modulo/ConfiguracionGenerales/ProveedoresStore`, data)
        .then(({ data }) => {
          if (data.success) {
            this.$toast.success("Proveedor registrado con éxito", {
              onclose: setTimeout(() => {
                 window.location = data.redirect;
              }, 2000),
            });
          }
        })
        .catch((error) => {
          if (data.error) {
            this.$toast.error("Error al registrar proveedor", {
              position: "top-right",
              timeout: 5000,
              closeOnClick: true,
            });
          }

          if (error.response.status == 422) {
            this.errors = error.response.data.errors;
            this.errorNompro = error.response.data.errors.nompro[0];
            this.errorRifpro = error.response.data.errors.rifpro[0];
          }
        });
    },

    rif() {
      if (this.nitpro !== "N") {
        this.rifpro = this.nitpro + "-" + "";
      } else {
        this.rifpro = "V" + "-" + "";
      }
    },
    key(val) {
      console.log(val);
      if (val.length === 10) {
        if (val === "N") {
          val = "V";
          console.log(val);
        }
        var nuevo = val + "-";
        this.rifpro = nuevo;
      }
    },
  },
  watch: {
    nitpro: {
      handler: function (val, oldval) {
        this.rif();
      },
    },
  },
};
</script>

<style>
</style>