.h1-title{
  text-align: center;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.main-footer {
  text-align: center;
  background-color: #201d1c;
}

.as-button{
  cursor: pointer;
}

.big-container{
  max-width: 1366px;
}

@media (min-width: 576px){
  .content-wrapper, .main-footer, .main-header {
    transition: margin-left .3s ease-in-out;
    margin-left: 0;
    z-index: 3000;
  }
}