.totally{
  font-size: 140%;
}

.labelbutton {
  border: 2px solid #007bff;
  border-radius: 0.25rem;
  cursor: pointer;
}

 .añadir, .añadirp, .precargado,.manual, .nuevoC {
  transition-duration: 0.4s;
  border: 1px solid #4CAF50;
  background-color: white;
  border-radius: 4px;
  height: 40px;

}

.añadir:hover:enabled, .añadir:focus,.añadirp:hover:enabled, .añadirp:focus, .precargado:hover,.precargado:focus,.manual:hover, .manual:focus, .nuevoC:hover, .nuevoC:focus {
  background-color: #4CAF50; /* Green */
  color: white;
}


.tpago, .tart{
  transition-duration: 0.4s;
  border: 1px solid #0B93BD;
  background-color: white;
  border-radius: 2px;
  height: 40px;
}
.tpago:hover:enabled, .tpago:focus, .tart:hover:enabled, .tart:focus {
  background-color: #0B93BD; /* Blue */
  color: white;
}

.pagartodo, .pagarrestante{
  transition-duration: 0.4s;
  border: 1px solid #DC143C;
  background-color: white;
  border-radius: 2px;
  height: 40px;
}
.pagartodo:hover:enabled, .pagartodo:focus, .pagarrestante:hover:enabled, .pagarrestante:focus {
  background-color: #DC143C; /* red */
  color: white;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

 /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 

.boton-caja {
  width: 150px; 
  border-radius: 20px;
}

.inner {
  background: white;
  height: 45px;
  width: 50px;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 10px;
}

.h-botton {
  color: gray;
  font-size: 26px;
}