<template>
  <section class="content">
    <div
      class="container-fluid"
      v-if="type === 'creating'"
    >
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Ordenes</h3>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Solicitante</label>
                    <div>
                      <input
                        type="text"
                        class="form-control"
                        name="codemp"
                        disabled
                        v-model="solicitante.nomuse"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="codcen">Departamentos</label>
                    <div>
                      <v-select
                        placeholder="Seleccione un deposito"
                        :options="costos"
                        name="codcen"
                        v-model="form.codcen"
                        :reduce="(costos) => costos.codcen"
                        label="item"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <div>
                      <p v-if="form.numero !== ''">
                        <b>Número: {{ form.numero }}</b>
                      </p>
                      <p>
                        <b>Fecha: {{ form.date }}</b>
                      </p>
                      <p v-if="form.numped !== ''">
                        <b> N° de Pedido: {{ form.numped }}</b>
                      </p>
                    </div>
                    <span
                      class="text-red"
                      style="font-size: 80%"
                    >{{
                      verreq ? "Código inválido" : ""
                    }}</span>
                  </div>
                </div>

                <div class="col-sm-2">
                  <div style="float: right">
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-toggle="modal"
                      data-target="#staticBackdrop"
                    >
                      <i
                        class="fa fa-undo"
                        aria-hidden="true"
                        title="Cargar"
                      ></i>
                      Cargar
                    </button>

                    <button
                      class="btn btn-primary"
                      @click.prevent="saveReq"
                      :disabled="LSdisabled"
                    >
                      <i
                        class="fa fa-save"
                        aria-hidden="true"
                        title="Guardar"
                      ></i>
                      Guardar
                    </button>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-2 text-center align-item-center mb-4">
                  <label for="nitpro">Tipo de Orden</label>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="tipo"
                      id=""
                      value="C"
                      v-model="form.tipord"
                      checked
                    />
                    <label
                      class="form-check-label"
                      for="exampleRadios1"
                    >
                      Compra
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="tipo"
                      v-model="form.tipord"
                      id=""
                      value="S"
                    />
                    <label
                      class="form-check-label"
                      for="exampleRadios2"
                    >
                      Servicio
                    </label>
                  </div>
                </div>
                <div class="col-sm-2">
                  <label
                    for=""
                    style="opacity: 0"
                  >aux</label>
                  <div>
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-toggle="modal"
                      data-target="#exampleModal3"
                      @click="loadPedidos"
                    >
                      Recuperar Pedido
                    </button>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="copro">Proveedores</label>
                    <div>
                      <v-select
                        placeholder="Seleccione un proveedor"
                        :options="proveedores"
                        name="proveedores"
                        v-model="form.codpro"
                        :reduce="(prov) => prov.codpro"
                        label="item"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-sm-1">
                  <label
                    for=""
                    style="opacity: 0"
                  >aux</label>
                  <div class="form-group">
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-toggle="modal"
                      data-target="#staticBackdrop2"
                    >
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Condición de pago</label>
                    <div>
                      <v-select
                        placeholder="Seleccione una condición de pago"
                        :options="condiciones"
                        name="conpag"
                        v-model="form.conpag"
                        :reduce="(cond) => cond.codconpag"
                        label="desconpag"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Forma de entrega</label>
                    <div>
                      <v-select
                        placeholder="Seleccione una forma de entrega"
                        :options="formasent"
                        name="forent"
                        v-model="form.forent"
                        :reduce="(formas) => formas.codforent"
                        label="desforent"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Tipo de financiamiento</label>
                    <div>
                      <v-select
                        placeholder="Seleccione un tipo de financiamiento"
                        :options="tipofinan"
                        name="tipfin"
                        v-model="form.tipfin"
                        :reduce="(tip) => tip.codfin"
                        label="nomext"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Tipo de moneda</label>
                    <div>
                      <v-select
                        placeholder="Seleccione un tipo de moneda"
                        :options="moneda"
                        name="tipmon"
                        v-model="form.tipmon"
                        :reduce="(tip) => tip.codmon"
                        label="nommon"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Valor de moneda</label>
                    <div>
                      <input
                        type="number"
                        class="form-control"
                        name="valmon"
                        v-model="form.valmon"
                        placeholder="Ingrese el valor de la moneda"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-sm-1">
                  <div class="form-group">
                    <label>Tasa de Cambio</label>
                    <div>
                      <input
                        type="number"
                        class="form-control"
                        name="tasa"
                        v-model="tasa.valor"
                        disabled
                        style="text-align: right"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mx-auto pb-3">
                <div class="col">
                  <label>Justificación</label>
                  <textarea
                    class="form-control ta"
                    v-model="form.desord"
                    placeholder="Justificación"
                    cols="30"
                    rows="3"
                    v-uppercase
                  ></textarea>
                </div>
              </div>

              <div
                class="alert alert-danger"
                v-if="Object.keys(errors).length != 0"
              >
                <p>El campo "Cantidad Requerida" es requerido.</p>
              </div>

              <div>
                <div class="table-responsive">
                  <table
                    class="table table-bordered table-hover"
                    v-if="selArts.length !== 0"
                    id="tabla"
                  >
                    <thead>
                      <tr style="text-align: center">
                        <th>Nro.</th>
                        <th>Descripción</th>
                        <th>Unidad de medida</th>
                        <th>Cant. existente</th>
                        <th>Cant. requerida</th>
                        <th>Costo</th>
                        <th>Recargo</th>
                        <th>Descuento</th>
                        <th>Subtotal</th>
                        <th>Monto IVA</th>
                        <th>Total</th>
                        <th>Total ($)</th>
                        <th>Acción</th>
                      </tr>
                    </thead>

                    <tbody style="text-align: center">
                      <tr
                        v-for="(art, index) in selArts"
                        :key="art.index"
                      >
                        <td>{{ index }}</td>
                        <td>
                          <input
                            class="form-control"
                            disabled
                            v-model="art.desart"
                            type="text"
                          />
                        </td>

                        <td>
                          <input
                            class="form-control"
                            placeholder="Ej: SERVICIO"
                            v-model="art.unimed"
                            place
                            name="unimed[]"
                            type="text"
                            :disabled="art.costo"
                          />
                        </td>

                        <td>
                          <input
                            class="form-control"
                            disabled
                            v-model="art.exitot"
                            name="exitot[]"
                            type="text"
                          />
                        </td>

                        <td>
                          <input
                            class="form-control"
                            placeholder="Ej: 10.00"
                            v-model="art.canord"
                            type="number"
                            min="0.01"
                            step="0.01"
                          />
                        </td>
                        <td>
                          <input
                            type="number"
                            class="form-control"
                            v-model="art.cosult"
                            min="0.01"
                            step="0.01"
                          />
                        </td>
                        <td>
                          <select
                            class="form-control"
                            id="tipreq"
                            v-model="art.rgoart"
                          >
                            <option
                              selected
                              value="0"
                            >Sin recargo</option>
                            <option
                              v-for="recargo in recargos"
                              :key="recargo.id"
                              :value="recargo.monrgo / 100"
                            >
                              {{ recargo.nomrgo }}
                            </option>
                          </select>
                        </td>

                        <td>
                          <input
                            type="number"
                            class="form-control"
                            v-model="art.dtoart"
                          />
                        </td>

                        <td>
                          <input
                            type="number"
                            class="form-control numeros"
                            v-model="art.subtot"
                            readonly
                          />
                        </td>

                        <td>
                          <input
                            type="number"
                            class="form-control numeros"
                            v-model="art.montotrgo"
                            readonly
                            step="any"
                            style="text-align: right"
                          />
                        </td>

                        <td>
                          <input
                            type="number"
                            class="form-control numeros"
                            v-model="art.montot"
                            readonly
                            step="any"
                            style="text-align: right"
                          />
                        </td>

                        <td>
                          <input
                            type="number"
                            class="form-control numeros"
                            v-model="art.montasa"
                            step="any"
                            readonly
                            style="text-align: right"
                          />
                        </td>

                        <td style="align-content: center">
                          <a
                            class="btn btn-outline-light"
                            @click="deleteArt(index)"
                          >
                            <i
                              class="fa fa-trash red"
                              aria-hidden="true"
                            ></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- MODAL PARA ARTÍCULOS -->
                <div
                  class="row mb-3"
                  style="
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    padding: 0;
                  "
                >
                  <button
                    @click="showModal = true"
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#myModal"
                  >
                    Añadir artículo
                  </button>
                </div>

                <div class="row p-4">
                  <div class="col-sm-7">
                    <label for="monto">Artículos:</label>
                    <div v-if="selArts.length != 0">
                      <ol id="array-with-index">
                        <li
                          v-for="selArt in selArts"
                          :key="selArt.id"
                        >
                          {{ selArt.desart }} <br />
                          <strong>Cantidad:</strong> {{ selArt.canord }}
                        </li>
                      </ol>
                    </div>
                  </div>
                  <div
                    class="col-sm-1"
                    style="float: right"
                  >
                    <label for="monto">Subtotal:</label>
                    <input
                      class="form-control numeros"
                      type="number"
                      v-model="form.subtotal"
                      step="any"
                      disabled
                    />
                  </div>
                  <div
                    class="col-sm-1"
                    style="float: right"
                  >
                    <label for="monto">IVA:</label>
                    <input
                      class="form-control numeros"
                      type="number"
                      v-model="form.moniva"
                      step="any"
                      disabled
                    />
                  </div>
                  <div
                    class="col-sm-1"
                    style="float: right"
                  >
                    <label for="monto">Total:</label>
                    <input
                      class="form-control numeros"
                      type="number"
                      v-model="form.monord"
                      step="any"
                      disabled
                    />
                  </div>
                  <div
                    class="col-sm-1"
                    style="float: right"
                  >
                    <label for="monto">Total ($):</label>
                    <input
                      class="form-control numeros"
                      type="number"
                      step="any"
                      v-model="form.montasa"
                      disabled
                    />
                  </div>
                </div>
              </div>
              {{ partida }}

              <transition
                name="fade"
                appear
              >
                <div
                  class="modal fade"
                  data-backdrop="static"
                  id="myModal"
                  aria-labelledby="myModalLabel"
                  v-if="showModal"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5
                          class="modal-title"
                          id="myModalLabel"
                        >
                          Añadir artículo
                        </h5>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="col-sm-12">
                          <label for="caregart">Seleccione artículo</label>
                          <v-select
                            :options="articulos"
                            v-model="selArt"
                            placeholder="Seleccione un artículo"
                            :reduce="(articulo) => articulo"
                            label="item"
                            :disabled="newArt"
                          ></v-select>
                        </div>

                        <div class="custom-control custom-checkbox my-3">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="customCheck1"
                            @click="newArtm"
                          />
                          <label
                            class="custom-control-label"
                            for="customCheck1"
                          >Añadir artículo no existente</label>
                        </div>

                        <div v-if="newArt">
                          <!-- Inicio del formulario para registro de nuevo artículo -->
                          <div class="row">
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="">Código</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">A-1</span>
                                  </div>
                                  <input
                                    class="form-control"
                                    type="text"
                                    maxlength="10"
                                    placeholder="A1234-5678"
                                    v-model="modalart.codart"
                                    v-uppercase
                                  />
                                </div>
                                <span
                                  class="text-red"
                                  style="font-size: 80%"
                                >{{
                                  verif ? "Código inválido" : ""
                                }}</span>
                              </div>
                            </div>

                            <div class="col-sm-9">
                              <div class="form-group">
                                <label for="">Descripción</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">A</span>
                                  </div>
                                  <input
                                    class="form-control"
                                    type="text"
                                    v-model="modalart.desart"
                                    placeholder="ABC..."
                                    v-uppercase
                                  />
                                </div>
                              </div>
                            </div>

                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="">Costo</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">123</span>
                                  </div>
                                  <input
                                    class="form-control"
                                    v-model="modalart.cosult"
                                    placeholder="3.14"
                                    type="number"
                                    min="0"
                                    step="0.01"
                                  />
                                </div>
                              </div>
                            </div>

                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="">Unidad de medida</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">UND</span>
                                  </div>
                                  <input
                                    class="form-control"
                                    type="text"
                                    v-model="modalart.unimed"
                                    placeholder="SERVICIO"
                                    v-uppercase
                                  />
                                </div>
                              </div>
                            </div>

                            <div
                              class="col-sm-12"
                              v-if="form.tipord == 'C'"
                            >
                              <div class="form-group">
                                <label for="">Tipo</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">S/C</span>
                                  </div>
                                  <div>
                                    <input
                                      class="form-control"
                                      type="text"
                                      placeholder="COMPRA"
                                      v-model="modalart.tipo"
                                      disabled
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div
                              class="col-sm-12"
                              v-if="form.tipord == 'S'"
                            >
                              <div class="form-group">
                                <label for="">Tipo</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">S/C</span>
                                  </div>
                                  <div>
                                    <input
                                      class="form-control"
                                      type="text"
                                      placeholder="SERVICIO"
                                      v-model="modalart.tipo"
                                      disabled
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-sm-12 pl-2 ml-2"
                          v-if="form.tipord == ''"
                        >
                          <div class="text-center justify-content-center align-item-center">
                            <div class="form-group">
                              <h5 style="color: red">
                                Seleccione un tipo de orden para poder añadir un
                                articulo.
                              </h5>
                            </div>
                          </div>
                        </div>
                        <!-- Fin del formulario -->
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal"
                        >
                          Cerrar
                        </button>
                        <button
                          type="button"
                          class="btn btn-primary"
                          data-dismiss="modal"
                          @click="addArt"
                          v-if="newArt === false"
                          :disabled="isDisabled"
                        >
                          Añadir artículo
                        </button>
                        <button
                          type="button"
                          class="btn btn-primary"
                          @click.prevent="addNewArt"
                          v-if="newArt === true"
                          :disabled="isDisabled"
                        >
                          Añadir nuevo
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </transition>

              <!-- MODAL PARA ARTÍCULOS -->

              <!-- MODAL PARA PEDIDOS -->
              <div
                class="modal fade"
                id="exampleModal3"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div
                  class="modal-dialog modal-xl"
                  role="document"
                >
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5
                        class="modal-title"
                        id="exampleModalLabel"
                      >
                        Pedidos
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <label for="filter">Filtrar por código</label>
                      <input
                        type="text"
                        class="form-control mb-3"
                        v-model="filters.name.value"
                        v-uppercase
                        placeholder="Código"
                      />
                      <v-table
                        :data="pedidos"
                        :filters="filters2"
                        class="table table-bordered"
                        selectionMode="single"
                        selectedClass="table-info"
                        @selectionChanged="selectedRow2 = $event"
                        @totalPagesChanged="totalPages = $event"
                        :pageSize="5"
                        :currentPage.sync="currentPage"
                      >
                        <thead slot="head">
                          <th>Código</th>
                          <th>Justificación</th>
                          <th>Departamento</th>
                          <th>Fecha</th>
                        </thead>
                        <tbody
                          slot="body"
                          slot-scope="{ displayData }"
                        >
                          <v-tr
                            v-for="row in displayData"
                            :key="row.id"
                            :row="row"
                          >
                            <td>{{ row.reqart }}</td>
                            <td>{{ row.desreq }}</td>
                            <td>{{ row.codcen }}</td>
                            <td>{{ row.fecreq }}</td>
                          </v-tr>
                        </tbody>
                      </v-table>

                      <smart-pagination
                        :currentPage.sync="currentPage"
                        :totalPages="totalPages"
                      />
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Cerrar
                      </button>
                      <button
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        @click="selectPedido(selectedRow2)"
                      >
                        Seleccionar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- MODAL PARA PEDIDOS -->

              <!-- MODAL PARA COMPRA PENDIENTE -->

              <div
                class="modal fade"
                id="staticBackdrop"
                data-backdrop="static"
                data-keyboard="false"
                tabindex="-1"
                aria-labelledby="staticBackdropLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5
                        class="modal-title"
                        id="staticBackdropLabel"
                      >
                        Compras pendientes
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <label for="filter">Filtrar por código</label>
                      <input
                        type="text"
                        class="form-control mb-3"
                        v-model="filters.name.value"
                        v-uppercase
                        placeholder="Código"
                      />
                      <v-table
                        :data="pendientes"
                        :filters="filters"
                        class="table table-bordered"
                        selectionMode="single"
                        selectedClass="table-info"
                        @selectionChanged="selectedRow = $event"
                        @totalPagesChanged="totalPages = $event"
                        :pageSize="5"
                        :currentPage.sync="currentPage"
                      >
                        <thead slot="head">
                          <th>Código</th>
                          <th>Departamento</th>
                          <th>Fecha</th>
                        </thead>
                        <tbody
                          slot="body"
                          slot-scope="{ displayData }"
                        >
                          <v-tr
                            v-for="row in displayData"
                            :key="row.id"
                            :row="row"
                          >
                            <td>{{ row.codpro }}</td>
                            <td>{{ row.codcen }}</td>
                            <td>{{ row.fecord }}</td>
                          </v-tr>
                        </tbody>
                      </v-table>

                      <smart-pagination
                        :currentPage.sync="currentPage"
                        :totalPages="totalPages"
                      />
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Cerrar
                      </button>
                      <button
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        @click="selectLoad(selectedRow)"
                      >
                        Seleccionar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-footer">
              <a
                class="btn btn-default ml-4"
                v-bind:href="'/modulo/Compras/Ordenes'"
              ><i class="fas fa-chevron-circle-left"></i><b> Volver</b></a>
              <button
                type="submit"
                class="btn btn-success"
                @click="sendreq"
                :disabled="submitDis"
              >
                Guardar
              </button>
              <!--  -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="staticBackdrop2"
      data-backdrop="static"
      data-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="staticBackdropLabel"
            >
              Registrar proveedor
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <proveedores></proveedores>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cerrar
            </button>

            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              @click="getData"
            >
              Continuar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- FORMULARIO DE EDICIÓN -->
  </section>
</template>
  
  <script>
import { off } from "process";
import proveedores from "../Proveedores/FormProveedores.vue";

export default {
  props: {
    type: {
      type: String,
      default: "creating",
    },

    req: {
      type: [String, Object],
    },

    partida: {
      type: [String, Object],
    },

    arts: {
      type: [String, Array],
    },

    solicitante: {
      type: [String, Object],
    },

    costos: {
      type: [String, Array],
    },

    condiciones: {
      type: [String, Array],
    },

    formasent: {
      type: [String, Array],
    },

    tipofinan: {
      type: [String, Array],
    },

    moneda: {
      type: [String, Array],
    },

    recargos: {
      type: [String, Array],
    },
  },

  component: {
    proveedores,
  },

  data() {
    return {
      content: null,
      selArt: null,
      filters: {
        name: { value: "", keys: ["codpro"] },
      },
      filters2: {
        name: { value: "", keys: ["reqart"] },
      },
      selectedRow: {},
      selectedRow2: {},
      pendientes: [],
      pedidos: [],
      articulos: [],
      monto: [],
      gerentes: [],
      errors: {},
      proveedores: [],
      tasa: {},
      form: {
        numero: "",
        date: "",
        codpro: "",
        desord: "",
        codcen: "",
        tipord: "",
        codemp: "",
        conpag: "",
        forent: "",
        tipmon: "",
        valmon: null,
        doccom: "",
        tipfin: "",
        codemp: "",
        usuroc: "",
        numped: "",
        tasaid: "",
        montasa: "",
        monord: "",
        subtotal: "",
        moniva: "",
      },
      selArts: [],
      showModal: false,
      showModal2: false,
      newArt: false,
      btndis: true,
      verif: false,
      verreq: false,
      modalart: {
        codart: "",
        desart: "",
        cosult: "",
        codpar: "",
        nompar: "",
        unimed: "",
        exitot: "",
        tipord: "",
      },
      aux: null,
      verpar: true,
      isLoading: true,
      currentPage: 1,
      totalPages: 0,
      LSDis: true,
      whileSub: false,
    };
  },

  computed: {
    isDisabled() {
      this.content = this.selArts.includes(this.selArt);
      if (this.newArt === false) {
        if (this.selArt !== null && this.content === false) {
          return !this.btndis;
        } else {
          return this.btndis;
        }
      } else {
        if (
          this.modalart.codart.length === 10 &&
          this.modalart.desart !== "" &&
          this.modalart.cosult !== "" &&
          this.modalart.unimed !== "" &&
          this.form.tipord !== "" &&
          this.verif !== true
        ) {
          return !this.btndis;
        } else {
          return this.btndis;
        }
      }
    },
    LSdisabled() {
      const validation = [
        this.selArts.length === 0,
        //this.whileSub
      ];
      return validation.some((elem) => elem === true);
    },

    submitDis() {
      const validation = [
        this.form.codpro === "",
        this.form.codcen === "",
        this.form.desord === "",
        this.form.conpag === "",
        this.form.forent === "",
        this.form.tipmon === "",
        this.form.valmon === "",
        this.form.tipfin === "",
        this.form.tipord === "",
        this.selArts.canord === 0 || this.selArts.canord === null,
        this.selArts.length === 0,
        this.form.montasa === 0,
        this.total === 0,
      ];

      return validation.some((elem) => elem === true);
    },
  },

  methods: {
    precios() {
      let tasa = parseFloat(this.tasa.valor);
      this.selArts.map(function (articulo) {
        if (articulo.canord && articulo.cosult) {
          articulo.subtot =
            parseFloat(articulo?.cosult) * parseFloat(articulo?.canord);
          articulo.subtot = Math.floor(articulo.subtot * 100) / 100;
          return articulo.subtot;
        } else {
          return (articulo.subtot = 0);
        }
      });

      this.selArts.map(function (articulo) {
        if (articulo.subtot && articulo.dtoart && articulo.rgoart) {
          let descontado =
            parseFloat(articulo.subtot) - parseFloat(articulo.dtoart);

          articulo.montotrgo =
            parseFloat(descontado) * parseFloat(articulo.rgoart);
          articulo.montotrgo = Math.floor(articulo.montotrgo * 100) / 100;
          return articulo.montotrgo;
        } else {
          return (articulo.montotrgo = 0);
        }
      });

      this.selArts.map(function (articulo) {
        if (articulo.subtot && articulo.montotrgo) {
          let descontado =
            parseFloat(articulo.subtot) - parseFloat(articulo.dtoart);

          articulo.montot = (
            parseFloat(descontado) + parseFloat(articulo.montotrgo)
          ).toFixed(2);
          return articulo.montot;
        } else {
          return (articulo.montot = 0);
        }
      });

      this.selArts.map(function (articulo) {
        if (articulo.montot) {
          articulo.montasa = (
            parseFloat(articulo?.montot) / parseFloat(tasa)
          ).toFixed(2);
          return articulo.montasa;
        } else {
          return (articulo.montasa = 0);
        }
      });
      this.$forceUpdate();
    },

    totales() {
      let total = 0;
      let subtotal = 0;
      let montoTasa = 0;
      let iva = 0;

      for (let prop in this.selArts) {
        total += parseFloat(this.selArts[prop].montot);
        iva += parseFloat(this.selArts[prop].montotrgo);
        subtotal += parseFloat(this.selArts[prop].subtot);
        montoTasa += parseFloat(this.selArts[prop].montasa);
      }

      this.form.monord = isNaN(total) ? 0 : Math.floor(total * 100) / 100;
      this.form.moniva = isNaN(iva) ? 0 : Math.floor(iva * 100) / 100;
      this.form.subtotal = isNaN(subtotal)
        ? 0
        : Math.floor(subtotal * 100) / 100;
      this.form.montasa = isNaN(montoTasa)
        ? 0
        : Math.floor(montoTasa * 100) / 100;
      this.$forceUpdate();
    },

    async addNewArt() {
      this.modalart.tipord = this.form.tipord;
      const data = this.modalart;

      await axios
        .post("/modulo/Compras/RequisicionD/RequisicionNewArt", data)
        .then(({ data }) => {
          if (data.success) {
            this.$toast.success(
              "Artículo registrado con éxito, seleccione arriba",
              {
                onclose: setTimeout(2000),
              }
            );
            this.articulos = data.articulos;
          }
        })
        .catch((e) => {
          if (data.error) {
            this.$toast.error("Error al registrar artículo", {
              onclose: setTimeout(2000),
            });
          }
        });
    },

    async sendreq() {
      this.whileSub = true;
      this.form.codemp = this.solicitante.cedemp;
      this.form.usuroc = this.solicitante.loguse;
      this.form.selArts = this.selArts;
      const data = this.form;

      await axios
        .post(`/modulo/Compras/OrdenesStore`, data)
        .then(({ data }) => {
          if (data.success) {
            this.whileSub = false;
            console.log(data);
            this.$toast.success(data.message, {
              onclose: setTimeout(() => {
                window.location = data.redirect;
              }, 2000),
            });
          }
        })
        .catch((error) => {
          if (data.error) {
            this.$toast.error("Error al registrar orden", {
              position: "top-right",
              timeout: 5000,
              closeOnClick: true,
            });
            this.whileSub = false;
          }

          if (error.response.status == 422) {
            this.errors = error.response.data.errors;
            this.whileSub = false;
          }
        });
    },

    async saveReq() {
      this.whileSub = true;
      this.form.codemp = this.solicitante.cedemp;
      this.form.usuroc = this.solicitante.loguse;
      this.form.selArts = this.selArts;
      const data = this.form;

      if (this.selArts.length !== 0) {
        axios
          .post(`/modulo/Compras/Ordenes/OrdenesSave`, data)
          .then(({ data }) => {
            if (data.success) {
              this.whileSub = false;
              this.$toast.success(data.message, {
                onclose: setTimeout(() => {
                  window.location.reload();
                }, 2000),
              });
            }
          })
          .catch((error) => {
            this.whileSub = false;
            this.$toast.error("Hubo un error guardando la compra", {
              onclose: setTimeout(2000),
            });
            console.log(error);
          });
      }
    },

    async gerSelect(val) {
      const data = {
        gerencia: val,
      };

      await axios
        .post(
          "/modulo/Compras/RequisicionD/RequisicionDCreate/getGerente",
          data
        )
        .then(({ data }) => {
          this.correo = data;
        });
    },

    async getData() {
      try {
        const res = await axios.get(`/modulo/Compras/Ordenes/getData`);
        this.proveedores = res.data.proveedores;
        this.tasa = res.data.tasa;
        this.form.tasaid = res.data.tasa.codigoid;
      } catch (error) {
        console.log(error);
      }
      this.proveedoresMap();
    },

    proveedoresMap() {
      this.proveedores.map(function (x) {
        return (x.item = x.nompro + " - " + x.codpro);
      });

      this.costos.map(function (x) {
        return (x.item = x.codcen + " - " + x.descen);
      });
    },

    articulosMap() {
      this.articulos.map(function (x) {
        return (x.item = x.codart + " - " + x.desart);
      });
    },

    async artExist(val) {
      const data = {
        consulta: val,
      };

      try {
        const res = await axios
          .post(
            `/modulo/Compras/RequisicionD/RequisicionDCreate/artExist`,
            data
          )
          .then(({ data }) => {
            if (data.data === true) {
              this.verif = true;
            } else {
              this.verif = false;
            }
          });
      } catch (error) {
        console.log(error);
      }
    },

    async getArticulos(val) {
      const data = {
        consulta: val,
      };

      try {
        const res = await axios
          .post(`/modulo/Compras/Ordenes/getArticulos`, data)
          .then(({ data }) => {
            this.articulos = data.articulos;
          });
      } catch (e) {
        console.log(e);
      }
      this.articulosMap();
    },

    back() {
      window.location.href = "/modulo/Compras/RequisicionD";
    },

    addArt() {
      this.selArts.push(this.selArt);
      this.selArt = null;
    },

    deleteArt(index) {
      this.selArts.splice(index, 1);
    },

    modal() {
      this.showModal = true;
    },

    selectLoad(val) {
      let objeto = {};
      for (let i = 0; i < val.length; i++) {
        Object.assign(objeto, val[i]);
      }

      console.log(objeto);

      objeto.articulos.forEach((element) => {
        element.cosult = element.preart;
        element.montot = element.totart;
      });

      this.form.date = objeto.fecord;
      this.form.numero = objeto.ordcom;
      this.form.codcen = objeto.codcen;
      this.form.codemp = objeto.codemp;
      this.form.tipord = objeto.tipord;
      this.form.desord = objeto.desord;
      this.selArts = objeto.articulos;
      this.form.codpro = objeto.codpro;
      this.form.conpag = objeto.conpag;
      this.form.forent = objeto.forent;
      this.form.tipfin = objeto.tipfin;
      this.form.tipmon = objeto.tipmon;
      this.form.valmon = objeto.valmon;
      this.form.id = objeto.id;
    },

    selectPedido(val) {
      let objeto = {};
      for (let i = 0; i < val.length; i++) {
        Object.assign(objeto, val[i]);
      }

      this.form.date = objeto.fecreq;
      this.form.numero = objeto.ordcom;
      this.form.codcen = objeto.codcen;
      this.form.codemp = objeto.codemp;
      this.form.desord = objeto.desord;
      this.form.codpro = objeto.proreq;
      this.form.id = objeto.id;
      this.form.numped = objeto.reqart;

      this.getArticulosPedidos(this.form.numped);
    },

    async getArticulosPedidos(reqart) {
      const data = {
        reqart: reqart,
      };
      try {
        const res = await axios.post(
          `/modulo/Compras/Ordenes/getArticulosPedidos`,
          data
        );
        this.selArts = res.data;
        this.selArtWatcher();
      } catch (error) {
        console.log(error);
      }
    },

    async loadPendientes() {
      try {
        const res = await axios.get(`/modulo/Compras/Ordenes/getPendientes`);
        this.pendientes = res.data;
      } catch (error) {
        console.log(error);
      }
    },

    async loadPedidos() {
      try {
        const res = await axios.get(`/modulo/Compras/Ordenes/getPedidos`);
        this.pedidos = res.data;
      } catch (error) {
        console.log(error);
      }
    },

    newArtm() {
      this.newArt = !this.newArt;

      this.selArt = null;
    },
    selArtWatcher() {
      this.$watch(
        "selArts",
        () => {
          this.totales();
          this.precios();
        },
        { deep: true }
      );
    },
  },

  watch: {
    "form.tipord": {
      handler: function (val, oldval) {
        this.getArticulos(val);
      },
    },

    "form.tipmon": {
      handler: function (val, oldval) {
        if (val === "001") {
          this.form.valmon = 1;
        }
        if (val === "002") {
          this.form.valmon = this.tasa.valor;
        }
      },
    },

    codpro: {
      handler: function (val, oldval) {
        if (val.length === 13) {
          this.reqExist(val);
        }
      },
    },

    /* selArts: {
      deep: true,
      handler: function (after) {
        this.precios();
        this.totales();
      },
    }, */
  },

  created() {
    this.getData();
    this.loadPendientes();
    this.form.date = new Date().toJSON().slice(0, 10);
  },

  mounted() {
    this.form.conpag = "0001";
    this.form.forent = "0001";
    this.form.tipfin = "0001";
  },

  updated() {},
};
</script>
  
<style scoped>
.numeros {
  text-align: right;
}
</style>