<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card card-info">
          <div class="card-header">
            <b>Registrar Nota de Entrega</b>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="empsol">Numero</label>
                  <div>
                    <input
                      type="text"
                      class="form-control"
                      name="ordcom"
                      disabled
                      v-model="form.ordcom"
                    />
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="empsol">Almacén</label>
                  <div>
                    <v-select
                      placeholder="Seleccione un proveedor"
                      :options="almacenes"
                      v-model="form.nomalm"
                      :reduce="(alm) => alm.codalm"
                      label="nomalm"
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover" id="tabla">
                    <thead>
                      <tr style="text-align: center">
                        <th>Recibidó</th>
                        <th>Nombre</th>
                        <th>Cant. ordenada</th>
                        <th>Cant. recibida</th>
                        <th>Acción</th>
                      </tr>
                    </thead>

                    <tbody style="text-align: center">
                      <tr v-for="art in ordenFull.articulos" :key="art.id">
                        <td>
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value="true"
                            v-model="art.recibido"
                          />
                        </td>

                        <td>
                          <input
                            class="form-control"
                            v-model="art.desart"
                            place
                            name="desart[]"
                            type="text"
                            disabled
                          />
                        </td>

                        <td>
                          <input
                            class="form-control"
                            disabled
                            v-model="art.canord"
                            name="canrec[]"
                            type="text"
                          />
                        </td>

                        <td>
                          <input
                            class="form-control"
                            placeholder="Ej: 10.00"
                            v-model="art.canrec"
                            type="number"
                            min="0.01"
                            step="0.01"
                          />
                        </td>
                        <td>
                          <a id="delete" href=""><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="empsol">Fecha de Vencimiento</label>
                  <div>
                    <input
                      type="date"
                      class="form-control"
                      name="vencimieinto"
                      v-model="form.vencimiento"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="d-flex">
              <div class="ml-auto">
                <button class="btn btn-success" type="submit" @click="sendnota">
                  Guardar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    orden: {
      type: String,
    },
  },

  data() {
    return {
      almacenes: [],
      ordenFull: {},
      form: {
        ordcom: "",
        nomalm: "",
        vencimiento: "",
      },
    };
  },

  methods: {
    async getData() {
      try {
        const res = await axios.get(`/modulo/Compras/Ordenes/getAlmacen`);

        this.almacenes = res.data.almacenes;
      } catch (error) {
        console.log(error);
      }
    },

    async getOrden() {
      const data = {
        ordenId: this.orden, //this.orden es la propiedad computada
      };
      try {
        const res = await axios
          .post(`/modulo/Compras/Ordenes/getOrden`, data)
          .then(({ data }) => {
            console.log(data);
            this.ordenFull = data.ordenFull;
            this.form.ordcom = this.ordenFull.ordcom;
          });
      } catch (error) {
        console.log(error);
      }
    },

    async sendnota() {
      this.form.tipmon = this.ordenFull.tipmon;
      this.form.doccom = this.ordenFull.doccom;
      this.form.tipord = this.ordenFull.tipord;
      this.form.monord = this.ordenFull.monord;
      this.form.cod_cliente = this.ordenFull.codpro;
      this.form.articulos = this.ordenFull.articulos;
      const data = this.form;

      await axios
        .post(`/modulo/Compras/OrdenesNotaStore`, data)
        .then(({ data }) => {
          if (data.success) {
            this.$toast.success(data.message, {
              onclose: setTimeout(() => {
                window.location = data.redirect;
              }, 2000),
            });
          }
        })
        .catch((error) => {
          if (data.error) {
            this.$toast.error("Error al registrar Nota", {
              position: "top-right",
              timeout: 5000,
              closeOnClick: true,
            });
          }

          if (error.response.status == 422) {
            this.errors = error.response.data.errors;
          }
        });
    },
  },

  created() {
    this.getData();
    this.getOrden();
  },

  updated() {
    this.ordenFull.articulos.map(function (x) {
      return (x.recibido = false);
    });
  },
};
</script>
