<template>
  <div class="">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header d-flex justify-content-center">
            <div class="col-md-5 mt-4 ">

              <div class="input-group mt-2">
                <input
                  type="text"
                  v-model="buscarArticulo"
                  name="filtro"
                  placeholder="Insertar código de artículo"
                  class="form-control float-right"
                  @keyup.enter="getprecioproducto"
                >
                <button
                  :disabled="artDisable"
                  type="submit"
                  @click.prevent="getprecioproducto"
                  class="btn btn-default"
                ><i class="fas fa-search"></i></button>
                <a
                  href=""
                  class="btn btn-default"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Regresar"
                  @click.prevent="clean"
                ><i class="fas fa-arrow-left"></i></a>
              </div>

            </div>
          </div>

          <div class="card-body">
            <div class="">
              <h6 class="text-bold">ARTÍCULO: {{infarticulo.desart}}
              </h6>
            </div>
          </div>

        </div>
        <div
          class="card"
          v-if="infarticulo == ''"
        >
          <div
            class="card-header"
            style="width: 100%;"
          >
            <table class="table table-hover text-center">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Estatus</th>
                  <th scope="col">Creado</th>
                  <th scope="col">Actualizado</th>
                  <th scope="col">Activar</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="precio in precios.data"
                  :key="precio.id"
                >
                  <td>{{ precio.id }}</td>
                  <td>{{precio.articulo.desart}}</td>
                  <td>{{precio.pvpart+' '+precio.moneda.nomenclatura}}</td>
                  <td v-if="precio.status === 'A'"><i class="fas fa-check blue"></i></td>
                  <td v-if="precio.status === 'I'"><i class="fas fa-ban red"></i>
                  </td>
                  <td v-if="precio.status == null"><i class="fas fa-ban"></i></td>
                  <td>{{ precio.created_at ? new Date(precio.created_at).toLocaleDateString('es-VE') : '' }}</td>
                  <td>{{ precio.updated_at ? new Date(precio.updated_at).toLocaleDateString('es-VE') :'' }}</td>

                  <td>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="exampleRadios"
                        :id="precio.id"
                        :value="precio.id"
                        :checked="precio.status == 'A'"
                        @click="precioupdate(precio)"
                      >
                      <label
                        class="form-check-label"
                        :for="precio.id"
                      >
                      </label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="mt-4 ml-2">
              <pagination
                :data="precios"
                :limit="5"
                @pagination-change-page="getlastprecios"
              >
              </pagination>
            </div>
          </div>
        </div>

        <div
          class="card"
          v-if="infarticulo != ''"
        >
          <div
            class="card-header"
            style="width: 100%;"
          >
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Estatus</th>
                  <th scope="col">Creado</th>
                  <th scope="col">Actualizado</th>
                  <th scope="col">Activar</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="precio in precios.data"
                  :key="precio.id"
                >
                  <td>{{ precio.id }}</td>
                  <td>{{precio.pvpart}}</td>
                  <td v-if="precio.status === 'A'"><i class="fas fa-check blue"></i></td>
                  <td v-if="precio.status === 'I'"><i class="fas fa-ban red"></i>
                  </td>
                  <td v-if="precio.status == null"><i class="fas fa-ban"></i></td>
                  <td>{{ precio.created_at ? new Date(precio.created_at).toLocaleDateString('es-VE') : '' }}</td>
                  <td>{{ precio.updated_at ? new Date(precio.updated_at).toLocaleDateString('es-VE') :'' }}</td>
                  <td>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="exampleRadios"
                        :id="precio.id"
                        :value="precio.id"
                        :checked="precio.status == 'A'"
                        @click="precioupdate(precio)"
                      >
                      <label
                        class="form-check-label"
                        :for="precio.id"
                      >
                      </label>
                    </div>
                  </td>
                </tr>
              </tbody>
              <div class="mt-4 ml-2">
                <pagination
                  :data="precios"
                  :limit="5"
                  @pagination-change-page="getprecioproducto"
                >
                </pagination>
              </div>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
  
  <script>
export default {
  data() {
    return {
      pagination: "",
      precios: {},
      buscarArticulo: "",
      infarticulo: "",
    };
  },
  computed: {
    artDisable() {
      return this.buscarArticulo == "";
    },
  },

  mounted() {
    this.getlastprecios();
  },

  methods: {
    async getlastprecios(page = 1) {
      try {
        const res = await axios.get(`/modulo/Finanza/Precios/getlastprecios`, {
          params: {
            page: page,
          },
        });
        console.log(res.data.precios);
        this.precios = res.data.precios;
      } catch (error) {
        console.log("se ejecuto");
      }
    },

    clean() {
      this.getlastprecios();
      this.infarticulo = "";
    },

    async getprecioproducto(page = 1) {
      try {
        const res = await axios.get(`/modulo/Finanza/Precios/filtro`, {
          params: {
            filtro: this.buscarArticulo,
            page: page,
          },
        });
        this.infarticulo = res.data.articulo;
        this.precios = res.data.precios;
        this.pagination = res.data;
      } catch (error) {
        this.$toast.error(error.response.data.message, {
          duration: 2000,
        });
      }
    },
    async precioupdate(precio) {
      Swal.fire({
        title: "Seguro que Desea Cambiar el precio?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Cambiar",
      }).then((result) => {
        if (result.value) {
          Swal.fire("se cambio el precio!", "Con Exito.", "success");
          let preciosid = precio;

          const res = axios.post(
            `/modulo/Finanza/Precios/updateprecio`,
            preciosid
          );
          this.getprecioproducto();
        } else {
          Swal.fire({
            icon: "warning",
            title: "No se actualizo",
            timer: 1500,
          });
        }
      });
    },
  },
};
</script>
  