<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-8">
          
          <div v-if="errors.destip" class="alert alert-danger" role="alert">
            El campo <strong>Descripción</strong> es obligatorio.
          </div>

          <div v-if="errors.codtipsen" class="alert alert-danger" role="alert">
            El campo <strong>Codificación SENIAT</strong> no puede tener mas de 3 caracteres.
          </div> 

          <div v-if="validacion" class="alert alert-danger" role="alert">
            Ya existe una retención con ese sustraendo.  
          </div> 

          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">REGISTRO RETENCIONES</h3>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="nompro">Codigo:</label>
                    <div class="input-group">
                      <div class="input-group-prepend"></div>
                      <input
                        type="text"
                        maxlength="100"
                        v-model="form.codtip"
                        class="form-control"
                        placeholder="Codigo"
                        disabled
                        required
                      />
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="nompro">Codificación SENIAT:</label>
                    <div class="input-group">
                      <div class="input-group-prepend"></div>
                      <input
                        type="email"
                        maxlength="100"
                        v-model="form.codtipsen"
                        class="form-control"
                        placeholder="Codificación SENIAT"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="nompro">Descripción:</label>
                    <div class="input-group">
                      <div class="input-group-prepend"></div>
                      <input
                        type="email"
                        v-model="form.destip"
                        maxlength="100"
                        class="form-control"
                        placeholder="Descripción"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-sm-2 mb-3">
                  <label for="nitpro">Maneja Sustraendo:</label>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="tipo"
                      v-model="form.manejaSustraendo"
                      value="true"
                      checked
                    />
                    <label class="form-check-label" for="exampleRadios1">
                      Si
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      v-model="form.manejaSustraendo"
                      name="tipo"
                      value="false"
                    />
                    <label class="form-check-label" for="exampleRadios2">
                      No
                    </label>
                  </div>
                </div>
              </div>

              <div v-if="form.manejaSustraendo == 'true'">
                <div class="card-footer">
                  <label>- - - Sustraendo - - -</label>

                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Unidades Tributarias</label>
                        <div class="input-group">
                          <input
                            type="number"
                            value="850,00"
                            v-model="form.unitri"
                            placeholder="850,00"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>X Factor</label>
                        <div class="input-group">
                          <input
                            type="number"
                            value="0,0000"
                            v-model="form.factor"
                            placeholder="0,0000"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>X Porc. Sustraendo</label>
                        <div class="input-group">
                          <input
                            type="number"
                            value="0,00"
                            v-model="form.porsus"
                            placeholder="0,00"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-1">
                      <div class="form-group">
                        <label>%</label>
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <div class="form-group">
                        <label>Base Imponible</label>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <div class="form-group">
                        <div class="input-group">
                          <input
                            type="number"
                            value="0,00"
                            v-model="form.basimp"
                            placeholder="0,00"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>% del Monto Total</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div v-if="form.manejaSustraendo == 'false'">
                <div class="card-footer">
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label>Porcentaje a Retener</label>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div class="form-group">
                        <div class="input-group">
                          <input
                            type="number"
                            value="0,00"
                            v-model="form.porret"
                            placeholder="0,00"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-1">
                      <div class="form-group">
                        <label>Sobre el</label>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div class="form-group">
                        <div class="input-group">
                          <input
                            type="number"
                            value="0,00"
                            v-model="form.basimp"
                            placeholder="0,00"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <div class="form-group">
                        <label>% del Monto Total</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <div class="mt-3">
                  <a
                    class="btn btn-default ml-4"
                    v-bind:href="'/modulo/ConfiguracionGenerales/Compras/Retenciones'"
                    ><i class="fas fa-chevron-circle-left"></i><b> Volver</b></a
                  >
                  <button
                    type="submit"
                    class="btn btn-success"
                    @click="sendretencion"
                  >
                    Guardar
                  </button>
                  <!--  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      id: "",
      errors: "",
      validacion: "",
      form: {
        manejaSustraendo: "",
        codtip: "",
        codtipsen: "",
        basimp: "",
        destip: "",
        unitri: "",
        factor: "",
        porsus: "",
        porret: "",
      },
    };
  },

  methods: {
    async getData() {
      try {
        const res = await axios.get(
          `/modulo/ConfiguracionGenerales/Compras/Retenciones/getData`
        );

        this.form.codtip = res.data.codtip;
      } catch (error) {
        console.log(error);
      }
    },

    async sendretencion() {
      const data = this.form;

      await axios
        .post(`/modulo/ConfiguracionGenerales/Compras/RetencionesStore`, data)
        .then(({ data }) => {
          if(data.errors){
            this.validacion = data.errors;  
          }

          if (data.success) {
            this.$toast.success("Retención registrada con éxito")
            this.$toast.success(data.message, {
              onclose: setTimeout(() => {
                window.location = data.redirect;
              }, 2000),
            });
          }
        })
        .catch((error) => {
          if (data.error) {
            this.$toast.error("Error al registrar retención", {
              position: "top-right",
              timeout: 5000,
              closeOnClick: true,
            });
          }

          if (error.response.status == 422) {
            this.errors = error.response.data.errors;
          }
        });
    },
  },

  created() {
    this.getData();
  },

  watch: {},
};
</script>

