<template>
  <section class="content">
    <div class="content-fluid">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">PAGO</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-2">
              <div class="form-group">
                <label for="numpag">N° Pago</label>
                <input
                  type="text"
                  class="form-control"
                  disabled
                  v-model="pago.numpag"
                />
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="numord">N° Orden</label>
                <input
                  type="text"
                  class="form-control"
                  disabled
                  v-model="pago.numord"
                />
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="cedrif">Céd. Beneficiario</label>
                <input
                  type="text"
                  class="form-control"
                  disabled
                  v-model="pago.beneficiario.codpro"
                />
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="cedrif">Beneficiario</label>
                <input
                  type="text"
                  class="form-control"
                  disabled
                  v-model="pago.beneficiario.nompro"
                />
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="cedrif">Registrante</label>
                <input
                  type="text"
                  class="form-control"
                  disabled
                  v-model="pago.register.nomuse"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <label for="fecemi">Fecha de emisión</label>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  disabled
                  v-model="pago.fecemi"
                />
              </div>
            </div>
            <div class="col-sm-2">
              <label for="fecpag">Fecha de pago</label>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  disabled
                  v-model="pago.fecpag"
                />
              </div>
            </div>
            <div class="col-sm-2">
              <label for="status">Estado de transacción</label>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  disabled
                  v-model="statusPay"
                />
              </div>
            </div>
            <template v-if="pago.banco !== null">
              <div class="col-sm-3">
                <label for="numref">Banco debitante</label>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    disabled
                    v-model="pago.banco.nomban"
                  />
                </div>
              </div>
              <div class="col-sm-3">
                <label for="numref">Número de referencia</label>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    disabled
                    v-model="pago.numref"
                  />
                </div>
              </div>
            </template>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="despag">Descripción del pago</label>
                <textarea
                  class="form-control"
                  rows="3"
                  v-model="pago.despag"
                  readonly
                >
                </textarea>
              </div>
            </div>
          </div>
          <div class="text-center mt-4">
            <h4 class="text-bold">Facturas</h4>
          </div>
          <div class="table-responsive table-wrapper">
            <table class="table table-hover table-bordered" style="width: auto">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Fecha Factura</th>
                  <th>Fecha de Recibo</th>
                  <th>N° Factura</th>
                  <th>N° Control</th>
                  <th>Proveedor</th>
                  <th>Subtotal Facturado</th>
                  <th>Descuento</th>
                  <th>Exento IVA</th>
                  <th>Base Imponible</th>
                  <th>% Alícuota</th>
                  <th>1% IPEPB</th>
                  <th>Impuesto</th>
                  <th>IVA Retenido</th>
                  <th>Monto a pagar</th>
                  <th>Monto a pagar ($)</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="factura in pago.facturas" :key="factura.index">
                  <td style="text-align: center; vertical-align: middle">
                    <p>
                      {{ factura.numop }}
                    </p>
                  </td>

                  <td>
                    <input
                      type="date"
                      class="form-control"
                      v-model="factura.fecfac"
                      disabled
                    />
                  </td>
                  <td>
                    <input
                      type="date"
                      class="form-control"
                      v-model="factura.fecrecfac"
                      disabled
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      v-model="factura.numfac"
                      disabled
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      v-model="factura.numctr"
                      disabled
                    />
                  </td>
                  <td style="width: 15%">
                    <input
                      type="text"
                      class="form-control"
                      v-model="factura.proveedor.nompro"
                      disabled
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control"
                      v-model="factura.totfac"
                      disabled
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control"
                      v-model="factura.mondes"
                      disabled
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control"
                      v-model="factura.exeiva"
                      disabled
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control"
                      v-model="factura.basimp"
                      disabled
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control"
                      v-model="factura.poriva"
                      disabled
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control"
                      v-model="factura.monipb"
                      disabled
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control"
                      v-model="factura.moniva"
                      disabled
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control"
                      v-model="factura.monret"
                      disabled
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control"
                      v-model="factura.monpag"
                      disabled
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control"
                      v-model="factura.montasa"
                      disabled
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row m-4" style="display: flex; justify-content: flex-end">
            <div class="col-sm-1">
              <label for="monto">Subtotal:</label>
              <input
                type="number"
                class="form-control"
                step="0.01"
                readonly
                v-model="pago.montot"
              />
            </div>
            <div class="col-sm-1">
              <label for="monto">Descuentos:</label>
              <input
                type="number"
                class="form-control"
                v-model="pago.mondes"
                step="0.01"
                readonly
              />
            </div>
            <div class="col-sm-1">
              <label for="monto">Total Exento:</label>
              <input
                type="number"
                class="form-control"
                step="0.01"
                readonly
                v-model="pago.monexe"
              />
            </div>
            <div class="col-sm-1">
              <label for="monto">Total IPEPB:</label>
              <input
                type="number"
                class="form-control"
                step="0.01"
                readonly
                v-model="pago.monipb"
              />
            </div>
            <div class="col-sm-1">
              <label for="monto">Total BI.:</label>
              <input
                type="number"
                class="form-control"
                step="0.01"
                readonly
                v-model="pago.monbas"
              />
            </div>
            <div class="col-sm-1">
              <label for="monto">Total Imp. IVA:</label>
              <input
                type="number"
                class="form-control"
                step="0.01"
                readonly
                v-model="pago.moniva"
              />
            </div>
            <div class="col-sm-1">
              <label for="monto">Total retenido:</label>
              <input
                type="number"
                class="form-control"
                v-model="pago.monret"
                step="0.01"
                readonly
              />
            </div>
          </div>
          <div
            class="row mx-4"
            style="display: flex; justify-content: flex-end"
          >
            <div class="col-sm-1 px-2">
              <label for="monto">Tasa:</label>
              <input
                type="number"
                class="form-control"
                v-model="pago.tasa.valor"
                step="0.01"
                readonly
              />
            </div>
            <div class="col-sm-1 px-2">
              <label for="monto">Total pagado:</label>
              <input
                type="number"
                class="form-control"
                v-model="pago.monpag"
                step="0.01"
                readonly
              />
            </div>
            <div class="col-sm-1 px-2">
              <label for="monto">Tot. pagado ($):</label>
              <input
                type="number"
                class="form-control"
                v-model="pago.montasa"
                step="0.01"
                readonly
              />
            </div>
          </div>
        </div>
        <div class="card-footer">
          <a class="btn btn-default ml-4" v-bind:href="'/modulo/Compras/Pagos'"
            ><i class="fas fa-chevron-circle-left"></i><b> Volver</b></a
          >
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    pago: {
      type: Object,
    },
  },
  data() {
    return {};
  },

  computed: {
    statusPay() {
      let string = "";
      if (this.pago.status === "E") {
        string = "EN ESPERA";
      }
      return string;
    },

    checkBank() {
      let display = "";

      if (!this.pago.banco === null) {
        return "";
      }
      return (display = "display: none");
    },
  },
};
</script>

<style scoped>
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  /* -moz-appearance: textfield; */
  text-align: right;
}

.table-wrapper {
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 66.4vh;
  margin-top: 22px;
  height: 300px;

  margin: 15px;
  padding-bottom: 20px;
}

table {
  min-width: max-content;
  border-spacing: 0px;
}

table th {
  position: sticky;
  top: 0px;
  text-align: center;
}

table th,
table td {
  padding-top: 10px;
  padding-bottom: 10px;
}

table td {
  text-align: center;
}
label {
  font-size: 0.9rem;
}
</style>