<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div
          class="col-sm-4"
          style="display: flex; justify-content: center"
        ></div>
        <div class="col-12">
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">REGISTRO PAGO</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-1">
                  <div class="form-group">
                    <label>Número</label>
                    <div class="input-group">
                      <input
                        type="text"
                        maxlength="100"
                        class="form-control"
                        v-uppercase
                        required
                        disabled
                        v-model="form.numpag"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="orden">N° Orden</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <button
                          class="btn btn-outline-secondary"
                          type="button"
                          id="button-addon2"
                          title="Buscar orden"
                          data-toggle="modal"
                          data-target="#exampleModal3"
                          @click="loadOrdenes()"
                        >
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        aria-describedby="button-addon2"
                        disabled
                        v-model="selectedOrden.ordcom"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="form.numord !== ''">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="nomemp">Solicitante</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="selectedOrden.solicitante.nomemp"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="nompro">Proveedor</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="selectedOrden.proveedor.nompro"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <div class="form-group">
                      <label for="monord">Monto (Bs.):</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="selectedOrden.monord"
                        disabled
                      />
                    </div>
                  </div>

                  <div class="col-sm-1">
                    <div class="form-group">
                      <label for="montasa">Monto ($):</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="selectedOrden.montasa"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="tippag">Tipo de pago</label>
                      <select
                        name="tipopago"
                        id=""
                        class="form-control"
                        v-model="form.tippag"
                        placeholder="Seleccione un tipo de pago"
                      >
                        <option value="" selected disabled>
                          Seleccione un tipo de pago
                        </option>
                        <option
                          v-for="tipo in tipos"
                          :key="tipo.id"
                          :value="tipo.destippag"
                        >
                          {{ tipo.destippag }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div
                  class="row"
                  v-if="form.tippag !== 'EFECTIVO' && form.tippag !== ''"
                >
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="bancos">Bancos</label>
                      <div>
                        <v-select
                          placeholder="Seleccione un banco"
                          :options="bancos"
                          v-model="form.banco"
                          :reduce="(banco) => banco.codban"
                          label="nomban"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Referencia</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="form.refpag"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mx-auto mb-2">
                  <label for="despag">Descripción del pago</label>
                  <textarea
                    name="despag"
                    class="form-control"
                    id=""
                    cols="30"
                    rows="4"
                    v-model="form.despag"
                    placeholder="Descripción"
                  ></textarea>
                </div>
                <div class="text-center mt-4">
                  <h4 class="text-bold">Facturas</h4>
                </div>
                <div class="table-responsive table-wrapper">
                  <table
                    class="table table-hover table-bordered"
                    style="width: auto"
                  >
                    <thead>
                      <tr>
                        <th>Acción</th>
                        <th>Fecha Factura</th>
                        <th>Fecha de Recibo</th>
                        <th>N° Factura</th>
                        <th>N° Control</th>
                        <th>Proveedor</th>
                        <th>% a retener</th>
                        <th>Subtotal Facturado</th>
                        <th>Descuento</th>
                        <th>Exento IVA</th>
                        <th>Base Imponible</th>
                        <th>% Alícuota</th>
                        <th>IPEPB</th>
                        <th>Monto IPEPB</th>
                        <th>Impuesto</th>
                        <th>IVA Retenido</th>
                        <th>Monto a pagar</th>
                        <th>Monto a pagar ($)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(factura, index) in facturas"
                        :key="factura.index"
                      >
                        <td>
                          <button
                            class="btn btn-danger"
                            @click="deletefac(index)"
                          >
                            <i class="fa fa-trash"></i>
                          </button>
                        </td>
                        <td>
                          <input
                            type="date"
                            class="form-control"
                            v-model="factura.fecfac"
                          />
                        </td>
                        <td>
                          <input
                            type="date"
                            class="form-control"
                            v-model="factura.fecrecfac"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            class="form-control"
                            v-model="factura.numfac"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            class="form-control"
                            v-model="factura.numctr"
                          />
                        </td>
                        <td style="width: 15%">
                          <v-select
                            placeholder="Seleccione un proveedor"
                            :options="proveedores"
                            v-model="factura.rifalt"
                            :reduce="(prov) => prov.codpro"
                            label="item"
                          />
                        </td>
                        <td>
                          <select
                            name=""
                            id=""
                            class="form-control"
                            v-model="factura.porret"
                          >
                            <option
                              v-for="iva in ivas"
                              :key="iva.id"
                              :value="iva.porret"
                            >
                              {{ iva.destip }}
                            </option>
                          </select>
                        </td>
                        <td>
                          <input
                            type="number"
                            class="form-control"
                            v-model="factura.totfac"
                          />
                        </td>
                        <td>
                          <input
                            type="number"
                            class="form-control"
                            v-model="factura.desfac"
                          />
                        </td>
                        <td>
                          <input
                            type="number"
                            class="form-control"
                            v-model="factura.exeiva"
                          />
                        </td>
                        <td>
                          <input
                            type="number"
                            class="form-control"
                            v-model="factura.basimp"
                            disabled
                          />
                        </td>
                        <td>
                          <select
                            name=""
                            id=""
                            class="form-control"
                            v-model="factura.moniva"
                          >
                            <option selected disabled>Seleccione...</option>
                            <option
                              v-for="recargo in recargos"
                              :key="recargo.id"
                              :value="recargo.value"
                            >
                              {{ recargo.name }}
                            </option>
                          </select>
                        </td>
                        <td>
                          <input
                            type="checkbox"
                            class="form-control"
                            v-model="factura.actipb"
                          />
                        </td>

                        <td>
                          <template v-if="factura.actipb">
                            <div>
                              <input
                                type="number"
                                class="form-control"
                                v-model="factura.monipb"
                                disabled
                              />
                            </div>
                          </template>
                          <template v-else>
                            <div>
                              <h5>N/A</h5>
                            </div>
                          </template>
                        </td>
                        <td>
                          <input
                            type="number"
                            class="form-control"
                            v-model="factura.impiva"
                            disabled
                          />
                        </td>
                        <td>
                          <input
                            type="number"
                            class="form-control"
                            v-model="factura.monret"
                            disabled
                          />
                        </td>
                        <td>
                          <input
                            type="number"
                            class="form-control"
                            v-model="factura.monpag"
                            disabled
                          />
                        </td>
                        <td>
                          <input
                            type="number"
                            class="form-control"
                            v-model="factura.montas"
                            disabled
                          />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div
                  class="row"
                  style="display: flex; justify-content: flex-end"
                >
                  <button class="btn btn-primary m-4" @click="addfac()">
                    Añadir factura
                  </button>
                </div>
                <div
                  class="row m-4"
                  style="display: flex; justify-content: flex-end"
                >
                  <div class="col-sm-1">
                    <label for="monto">Subtotales:</label>
                    <input
                      type="number"
                      class="form-control"
                      v-model="totalfac"
                      step="0.01"
                      readonly
                    />
                  </div>
                  <div class="col-sm-1">
                    <label for="monto">Descuentos:</label>
                    <input
                      type="number"
                      class="form-control"
                      v-model="totaldes"
                      step="0.01"
                      readonly
                    />
                  </div>
                  <div class="col-sm-1">
                    <label for="monto">Total Exento:</label>
                    <input
                      type="number"
                      class="form-control"
                      v-model="totalexe"
                      step="0.01"
                      readonly
                    />
                  </div>
                  <div class="col-sm-1">
                    <label for="monto">Total IPEPB.:</label>
                    <input
                      type="number"
                      class="form-control"
                      v-model="totalipb"
                      step="0.01"
                      readonly
                    />
                  </div>
                  <div class="col-sm-1">
                    <label for="monto">Total BI.:</label>
                    <input
                      type="number"
                      class="form-control"
                      v-model="totalbas"
                      step="0.01"
                      readonly
                    />
                  </div>
                  <div class="col-sm-1">
                    <label for="monto">Total Imp. IVA:</label>
                    <input
                      type="number"
                      class="form-control"
                      v-model="totalimp"
                      step="0.01"
                      readonly
                    />
                  </div>
                  <div class="col-sm-1">
                    <label for="monto">Total retenido:</label>
                    <input
                      type="number"
                      class="form-control"
                      v-model="totalret"
                      step="0.01"
                      readonly
                    />
                  </div>
                </div>

                <div
                  class="row mx-4"
                  style="display: flex; justify-content: flex-end"
                >
                  <div class="col-sm-1">
                    <label for="monto">Tasa:</label>
                    <input
                      type="number"
                      class="form-control"
                      v-model="tasa.valor"
                      step="0.01"
                      readonly
                    />
                  </div>
                  <div class="col-sm-1">
                    <label for="monto">Total pagado:</label>
                    <input
                      type="number"
                      class="form-control"
                      v-model="totalpag"
                      step="0.01"
                      readonly
                    />
                  </div>
                  <div class="col-sm-1">
                    <label for="monto">Total pagado ($):</label>
                    <input
                      type="number"
                      class="form-control"
                      v-model="totaltas"
                      step="0.01"
                      readonly
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <a
                class="btn btn-default ml-4"
                v-bind:href="'/modulo/Compras/Pagos'"
                ><i class="fas fa-chevron-circle-left"></i><b> Volver</b></a
              >
              <button type="submit" class="btn btn-success" @click="sendpag">
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--     modal para carga de orden -->
    <div
      class="modal fade"
      id="exampleModal3"
      data-backdrop="static"
      data-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Ordenes</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="filter">Filtrar por código</label>
            <input
              type="text"
              class="form-control mb-3"
              v-model="filters.name.value"
              v-uppercase
              placeholder="Código"
            />
            <v-table
              :data="ordenes"
              :filters="filters"
              class="table table-bordered"
              selectionMode="single"
              selectedClass="table-info"
              @selectionChanged="selectedRow = $event"
              @totalPagesChanged="totalPages = $event"
              :pageSize="5"
              :currentPage.sync="currentPage"
            >
              <thead slot="head">
                <th>Código</th>
                <th>Departamento</th>
                <th>Fecha</th>
                <th>Monto</th>
                <th>Monto ($)</th>
              </thead>
              <tbody slot="body" slot-scope="{ displayData }">
                <v-tr v-for="row in displayData" :key="row.id" :row="row">
                  <td>{{ row.ordcom }}</td>
                  <td>{{ row.codcen }}</td>
                  <td>{{ row.fecord }}</td>
                  <td>{{ row.monord }}</td>
                  <td>{{ row.montasa }}</td>
                </v-tr>
              </tbody>
            </v-table>

            <smart-pagination
              :currentPage.sync="currentPage"
              :totalPages="totalPages"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              @click="selectOrden(selectedRow)"
            >
              Seleccionar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--     modal para carga de orden -->
  </section>
</template>

<script>
export default {
  props: {
    numero: {
      type: String,
    },

    tipos: {
      type: [Array, Object],
    },

    monedas: {
      type: [Array, Object],
    },

    ivas: {
      type: [Array, Object],
    },

    bancos: {
      type: [Array, Object],
    },
    tasa: {
      type: [Array, Object],
    },
  },

  data() {
    return {
      ordenes: [],
      selectedRow: {},
      selectedOrden: {},
      filters: {
        name: { value: "", keys: ["ordcom"] },
      },
      currentPage: 1,
      totalPages: 0,
      aux: 0,
      facturas: [],
      proveedores: [],
      form: {
        despag: "",
        tippag: "",
        numord: "",
        banco: "",
        refpag: "",
        numpag: this.numero,
        monret: "",
      },
      errors: null,
      totalpag: 0,
      totalret: 0,
      totalfac: 0,
      totalexe: 0,
      totalbas: 0,
      totalimp: 0,
      totaldes: 0,
      totaltas: 0,
      totalipb: 0,
      recargos: [
        { id: 1, name: "IMPUESTO AL CONSUMO SANITARIO (15% + 12%)", value: 27 },
        { id: 2, name: "SIN RECARGO", value: 0 },
        { id: 3, name: "IVA 9%", value: 9 },
        { id: 4, name: "IVA 6%", value: 6 },
        { id: 5, name: "IVA 8%", value: 8 },
        { id: 6, name: "IVA 7%", value: 7 },
        { id: 7, name: "IVA 12%", value: 12 },
        { id: 8, name: "IVA 16%", value: 16 },
        { id: 9, name: "IVA (16% + 15%)", value: 31 },
        { id: 10, name: "IVA 15", value: 15 },
      ],
    };
  },

  computed: {
    submitDis() {
      const validation = [this.whileSub];

      return validation.some((elem) => elem === true);
    },
  },

  methods: {
    async sendpag() {
      this.whileSub = true;
      this.form.facturas = this.facturas;
      this.form.montot = this.totalfac;
      this.form.mondes = this.totaldes;
      this.form.monexe = this.totalexe;
      this.form.monbas = this.totalbas;
      this.form.moniva = this.totalimp;
      this.form.monret = this.totalret;
      this.form.monpag = this.totalpag;
      this.form.totaltas = this.totaltas;
      this.form.monipb = this.totalipb;
      this.form.tasaid = this.tasa.codigoid;
      this.form.tasa = this.tasa.valor;
      const data = this.form;

      axios
        .post(`/modulo/Compras/Pagos/PagoStore`, data)
        .then(({ data }) => {
          if (data.success) {
            this.whileSub = false;
            this.$toast.success(data.message, {
              onclose: setTimeout(() => {
                window.location = data.redirect;
              }, 2000),
            });
          }
        })
        .catch((error) => {
          this.whileSub = false;
          console.log(error.response);
          if (error.response.status === 422) {
            this.errors = error.response.data.errors;

            Object.entries(this.errors).forEach(([key, value]) => {
              console.log(value);
              this.$toast.error(value[0], {
                position: "top-right",
                timeout: 5000,
                closeOnClick: true,
              });
            });
          } else {
            this.$toast.error(
              "Error al registrar, consulte al administrador del sistema.",
              {
                position: "top-right",
                timeout: 5000,
                closeOnClick: true,
              }
            );
          }
        });
    },

    basimp() {
      this.facturas.map(function (factura) {
        if (factura.totfac && factura.exeiva && factura.basimp) {
          factura.basimp =
            parseFloat(factura?.totfac) -
            parseFloat(factura?.desfac ?? 0) - //Total Neto
            (parseFloat(factura?.exeiva) ?? 0); //Base imponible
        } else {
          factura.basimp = 0;
        }
        factura.basimp = (Math.floor(factura.basimp * 100) / 100).toFixed(2);
        return factura.basimp;
      });
      this.$forceUpdate();
    },

    impiva() {
      this.facturas.map(function (factura) {
        if (factura.totfac && factura.exeiva && factura.moniva) {
          let base =
            parseFloat(factura?.totfac) -
            parseFloat(factura?.desfac ?? 0) - //Total Neto
            (parseFloat(factura?.exeiva) ?? 0); //Base imponible
          factura.impiva = base * (parseFloat(factura?.moniva) / 100); //IVA
        } else {
          factura.impiva = 0;
        }
        factura.impiva = (Math.floor(factura.impiva * 100) / 100).toFixed(2);
        return factura.impiva;
      });
      this.$forceUpdate();
    },

    monipb() {
      this.facturas.map(function (factura) {
        if (factura.totfac && factura.exeiva && factura.actipb) {
          let base =
            parseFloat(factura?.totfac) -
            parseFloat(factura?.desfac ?? 0) - //Total Neto
            (parseFloat(factura?.exeiva) ?? 0); //Base imponible
          let ipb = 0.01;
          factura.monipb = base * ipb;
        } else {
          factura.monipb = 0;
        }
        factura.monipb = (Math.floor(factura.monipb * 100) / 100).toFixed(2);
        return factura.monipb;
      });
      this.$forceUpdate();
    },

    monpag() {
      this.facturas.map(function (factura) {
        if (factura.basimp && factura.impiva && factura.monret) {
          let base =
            parseFloat(factura?.totfac) -
            parseFloat(factura?.desfac ?? 0) - //Total Neto
            (parseFloat(factura?.exeiva) ?? 0); //Base imponible
          let iva = base * (parseFloat(factura?.moniva) / 100);
          let monret =
            parseFloat(factura?.impiva) * (parseFloat(factura?.porret) / 100);
          factura.monpag = base + (iva - monret); //IVA
        } else {
          factura.monpag = 0;
        }
        factura.monpag = (Math.floor(factura.monpag * 100) / 100).toFixed(2);
        return factura.monpag;
      });
      this.$forceUpdate();
    },

    montas() {
      let tasa = this.tasa.valor;

      this.facturas.map(function (factura) {
        if (factura.basimp && factura.impiva && factura.monret) {
          let base =
            parseFloat(factura?.totfac) -
            parseFloat(factura?.desfac ?? 0) - //Total Neto
            (parseFloat(factura?.exeiva) ?? 0); //Base imponible
          let iva = base * (parseFloat(factura?.moniva) / 100);
          let monret =
            parseFloat(factura?.impiva) * (parseFloat(factura?.porret) / 100);
          factura.montas = (base + (iva - monret)) / tasa; //IVA
        } else {
          factura.montas = 0;
        }
        factura.montas = (Math.floor(factura.montas * 100) / 100).toFixed(2);
        return factura.montas;
      });
      this.$forceUpdate();
    },

    monret() {
      this.facturas.map(function (factura) {
        if (
          factura.totfac &&
          factura.exeiva &&
          factura.moniva &&
          factura.impiva
        ) {
          factura.monret =
            parseFloat(factura?.impiva) * (parseFloat(factura?.porret) / 100); //Monto retenido
        } else {
          factura.monret = 0;
        }
        factura.monret = (Math.floor(factura.monret * 100) / 100).toFixed(2);
        return factura.monret;
      });
      this.$forceUpdate();
    },

    totalPagado() {
      let monto = 0;
      for (let prop in this.facturas) {
        monto += parseFloat(this.facturas[prop].monpag);
      }

      if (!isNaN(monto)) {
        this.totalpag = Math.floor(monto * 100) / 100;
        return this.totalpag;
      } else {
        return (this.totalpag = 0);
      }
    },

    totalTasa() {
      let monto = 0;
      for (let prop in this.facturas) {
        monto += parseFloat(this.facturas[prop].montas);
      }

      if (!isNaN(monto)) {
        this.totaltas = Math.floor(monto * 100) / 100;
        return this.totaltas;
      } else {
        return (this.totaltas = 0);
      }
    },

    totalDescuento() {
      let monto = 0;
      for (let prop in this.facturas) {
        monto += parseFloat(this.facturas[prop].desfac);
      }

      if (!isNaN(monto)) {
        this.totaldes = Math.floor(monto * 100) / 100;
        return this.totaldes;
      } else {
        return (this.totaldes = 0);
      }
    },

    totalRetenido() {
      let monto = 0;

      for (let prop in this.facturas) {
        monto += parseFloat(this.facturas[prop].monret); //Retenido
      }

      if (!isNaN(monto)) {
        this.totalret = Math.floor(monto * 100) / 100;
        return this.totalret;
      } else {
        return (this.totalret = 0);
      }
    },

    totalFacturado() {
      let monto = 0;

      for (let prop in this.facturas) {
        monto += parseFloat(this.facturas[prop].totfac);
      }

      if (!isNaN(monto)) {
        this.totalfac = Math.floor(monto * 100) / 100;
        return this.totalfac;
      } else {
        return (this.totalfac = 0);
      }
    },

    totalIpepb() {
      let monto = 0;

      for (let prop in this.facturas) {
        monto += parseFloat(this.facturas[prop].monipb);
      }

      if (!isNaN(monto)) {
        this.totalipb = Math.floor(monto * 100) / 100;
        return this.totalipb;
      } else {
        return (this.totalipb = 0);
      }
    },

    totalExento() {
      //Total exento
      let monto = 0;

      for (let prop in this.facturas) {
        monto += parseFloat(this.facturas[prop].exeiva);
      }

      if (!isNaN(monto)) {
        this.totalexe = Math.floor(monto * 100) / 100;
        return this.totalexe;
      } else {
        return (this.totalexe = 0);
      }
    },

    totalBase() {
      //Total Base imponible
      let monto = 0;

      for (let prop in this.facturas) {
        monto += parseFloat(this.facturas[prop].basimp);
      }

      if (!isNaN(monto)) {
        this.totalbas = Math.floor(monto * 100) / 100;
        return this.totalbas;
      } else {
        return (this.totalbas = 0);
      }
    },

    totalImpuesto() {
      let monto = 0;

      for (let prop in this.facturas) {
        monto += parseFloat(this.facturas[prop].impiva);
      }

      if (!isNaN(monto)) {
        this.totalimp = Math.floor(monto * 100) / 100;
        return this.totalimp;
      } else {
        return (this.totalimp = 0);
      }
    },

    async getData() {
      try {
        const res = await axios.get(`/modulo/Compras/Pagos/Create/getData`);
        this.proveedores = res.data.proveedores;
      } catch (error) {
        console.log(error);
      }
    },

    async loadOrdenes() {
      try {
        const res = await axios.get(`/modulo/Compras/Pagos/Create/loadOrdenes`);
        this.ordenes = res.data;
      } catch (error) {
        console.log(error);
      }
    },

    selectOrden(val) {
      let objeto = {};
      for (let i = 0; i < val.length; i++) {
        Object.assign(objeto, val[i]);
      }

      this.selectedOrden = objeto;
      this.form.numord = objeto.ordcom;
      this.facturas.length === 0 ? this.addfac() : (this.factura = []);
    },

    addfac() {
      this.facturas = [...this.facturas, { numord: this.form.numord }];
    },

    deletefac(index) {
      this.facturas.splice(index, 1);
    },
    clearErrors() {
      this.errors = null;
    },
  },
  watch: {
    facturas: {
      deep: true,
      handler: function (after) {
        this.impiva();
        this.monret();
        this.basimp();
        this.monpag();
        this.montas();
        this.monipb();
        this.totalPagado();
        this.totalRetenido();
        this.totalFacturado();
        this.totalExento();
        this.totalBase();
        this.totalIpepb();
        this.totalImpuesto();
        this.totalDescuento();
        this.totalTasa();
      },
    },
  },

  created() {
    this.getData();
  },
  updated() {
    this.proveedores.map(function (x) {
      return (x.item = x.nompro + " - " + x.codpro);
    });
  },
};
</script>

<style scoped>
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  /* -moz-appearance: textfield; */
  text-align: right;
}

.table-wrapper {
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 66.4vh;
  margin-top: 22px;
  height: 300px;

  margin: 15px;
  padding-bottom: 20px;
}

table {
  min-width: max-content;
  border-spacing: 0px;
}

table th {
  position: sticky;
  top: 0px;
  text-align: center;
}

table th,
table td {
  padding-top: 10px;
  padding-bottom: 10px;
}

table td {
  text-align: center;
}
</style>