<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">

                      <div class="row text-center pt-2">

                        <div class="col-md-6">

                          <h4 class="pb-3">Unidades de Medida</h4>
                          <div class="form-row">
                            <div class="col">
                              <label>¿Desea Utilizar Unidades de Medida?</label>
                              <input type="checkbox" class="form-control" v-model="form.unidadmedida">
                            </div>
                          </div>
                          <div class="form-row pt-2">
                            <div class="col">
                              <label>Unidad Medida</label>
                              <input type="text" class="form-control" placeholder="Ingrese una unidad de medida a utilizar" v-model="form.textunidadmedida">
                            </div>
                            <div class="col">
                              <label>Nomenclatura</label>
                              <input type="text" class="form-control" placeholder="Ejemplo: CM" v-model="form.nomenclatura">
                            </div>
                          </div>
      
                        </div>

                        <div class="col-md-6">

                            <h4 class="pb-3">Caracteristicas</h4>
                            <div class="form-row">
                              <div class="col">
                                <label>¿Desea Utilizar Tallas?</label>
                                <input type="checkbox" class="form-control" v-model="form.tallas">
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="col">
                                <label>¿Desea Utilizar Marcas?</label>
                                <input type="checkbox" class="form-control" v-model="form.marcas">
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="col">
                                <label>¿Desea Utilizar Color?</label>
                                <input type="checkbox" class="form-control" v-model="form.color">
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="col">
                                <label>¿Desea Utilizar Categorias?</label>
                                <input type="checkbox" class="form-control" v-model="form.categoria">
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="col">
                                <label>¿Desea Utilizar Sub-Categorias?</label>
                                <input type="checkbox" class="form-control" v-model="form.subcategorias">
                              </div>
                            </div>
                            
      
                          </div>
                        </div>

                        <div class="row pt-3 d-flex justify-content-center">
                          <button type="submit" class="btn btn-success" @click="sendparametrosArticulos">Guardar</button>
                        </div>
                        
                  
                </div>
        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                asdwad: 'asdasd',
                form: {
                    unidadmedida: '',
                    textunidadmedida: '',
                    nomenclatura: '',
                    tallas:   '',
                    marcas: '',
                    color: '',
                    categoria: '',
                    subcategorias: '',

                }
            }
        },

        created() {
            console.log('Component created.')
        },

        methods: {

            async sendparametrosArticulos() {
                this.whileSub = true;

                const data = this.form;

                await axios
                    .post(`/modulo/Seguridad/Parametrizacion`, data)
                    .then(({ data }) => {
                    if (data.success) {
                        this.whileSub = false;
                        this.$toast.success(data.message, {
                        onclose: setTimeout(() => {
                            window.location = data.redirect;
                        }, 2000),
                        });
                    }
                    })
                    .catch((error) => {
                    if (data.error) {
                        this.$toast.error("Error al registrar Parametros de Articulos", {
                        position: "top-right",
                        timeout: 5000,
                        closeOnClick: true,
                        });
                        this.whileSub = false;
                    }

                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                        this.whileSub = false;
                    }
                });
            },
            
        },



    }
</script>
 