<template>
     <a  id="update" @click="getTasa()" type="button" class="btn bg-gradient-default btn-lg boton-caja">
                <div class="inner">
                    <h6 style="font-size: 18px;" class="h-botton" ><b></b></h6>
                </div>
                <b>Actualizar Tasa</b>
              </a>
</template>

<script>
import { getMonitor } from "consulta-dolar-venezuela"; 

export default {


    methods:{
        async getTasa(){
            
            $('.cargando').css({display:"block"});
            $('body').css({
                "overflow-x":"hidden",
                "overflow-y":"hidden"
            })

            console.log("llegoess hens")
           await getMonitor("BCV", "lastUpdate")
            .then(({bcv}) =>{
                $('.cargando').css({display:"none"});
                $('body').css({
                    "overflow-y": "scroll",
                    "overflow-x": "scroll"
                })


                let letrero = 'TASA $'+'('+bcv.price+')'
                
                $('#labelTasa').text(letrero);
                let letrero2 = 'Tasa de Cambio :'+bcv.price+' Bs'                
                let tasa = JSON.parse($('#tasatojson').val());

                $('#tasaC').text(letrero2)
                
                Swal.fire(
                  
                  'Exito',
                  'Se pudo obtener la tasa del BCV',
                  'success',

                );


                let temp = JSON.parse(document.getElementById('tasatojson').defaultValue)
                temp.valor = bcv.price
                $('#tasatojson').val(JSON.stringify(temp))
                window.tasaP = true;
            })
            .catch((error) => {
                $('.cargando').css({display:"none"});
                $('body').css({
                    "overflow-y": "scroll",
                    "overflow-x": "scroll"
                })
                Swal.fire(
                  
                  'Error',
                  'no se pudo obtener la tasa del bcv, se trabajara la tasa local',
                  'warning',

                );
                let tasa = JSON.parse($('#tasatojson').val());
                let letrero = 'TASA $'+'('+tasa.valor+')'
                $('#labelTasa').text(letrero);
                let letrero2 = 'Tasa de Cambio :'+tasa.valor+' Bs'                
                $('#tasaC').text(letrero2)
                window.tasaP = false;
            }); /*Obtener los valores de todos los monitores*/
        }
    }
}
</script>