<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Presupuesto</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <label for="cliente">
                    Cliente
                  </label>
                  <div>
                    <v-select
                      placeholder="Seleccione un Cliente"
                      :options="clientes"
                      name="codpro"
                      v-model="form.codpro"
                      :reduce="(cliente) => cliente.codpro"
                      label="nompro"
                    ></v-select>
                  </div>
                </div>
                <div class="col-sm-1">
                  <label
                    for="cliente"
                    style="opacity: 0.0;"
                  >
                    Cliente
                  </label>
                  <div>
                    <button
                      class="btn btn-info"
                      data-toggle="modal"
                      data-target="#exampleModal"
                    >Nuevo Cliente</button>
                  </div>
                </div>
                <div :class="[form.codigoTasa ? 'col-sm-2' : 'col-sm-3']">
                  <label for="moneda">
                    Moneda
                  </label>
                  <div>
                    <v-select
                      placeholder="Seleccione una Moneda"
                      :options="monedas"
                      name="codmon"
                      v-model="form.codmon"
                      :reduce="(moneda) => moneda.codigoid"
                      label="nombre"
                    ></v-select>
                  </div>
                </div>
                <div
                  class="col-sm-1"
                  v-if="form.codigoTasa"
                >
                  <label for="tasa">
                    Tasa
                  </label>
                  <div>
                    <input
                      type="text"
                      class="form-control numero"
                      v-model="form.valorTasa"
                      readonly
                    >
                  </div>
                </div>
                <div class="col-sm-2">
                  <label for="duracion">
                    Duración del Presupuesto
                  </label>
                  <div>
                    <v-select
                      placeholder="Seleccione una Duración"
                      :options="duraciones"
                      name="duracion"
                      v-model="form.duracion"
                      :reduce="(duracion) => duracion.duracion"
                      label="item"
                    ></v-select>
                  </div>
                </div>
                <div class="col-sm-2">
                  <label for="recargo">
                    Recargo
                  </label>
                  <div>
                    <v-select
                      placeholder="Seleccione un Recargo"
                      :options="recargos"
                      name="recargo"
                      v-model="form.recargo"
                      :reduce="(recargo) => recargo.codrgo"
                      label="item"
                      @option:selected="getRecargo"
                    ></v-select>
                  </div>
                </div>
              </div>
              <div class="row p-4">
                <h4>Artículos</h4>
                <div class="table-responsive table-wrapper">
                  <table
                    class="table table-hover table-bordered"
                    style="width: 100%"
                  >
                    <thead>
                      <tr style="text-align: center;">
                        <th>Nro</th>
                        <th>Artículo</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>% Descuento</th>
                        <th>Descuento</th>
                        <th>Recargo</th>
                        <th>Subtotal</th>
                        <th>Total</th>
                        <th>Acción</th>
                      </tr>
                    </thead>
                    <tbody style="text-align: center;">
                      <tr
                        v-for="(art, index) in arts"
                        :key="index"
                      >
                        <td>{{ index }}</td>
                        <td>
                          <v-select
                            id="mySelect"
                            style="width: 500px;"
                            placeholder="Seleccione un Artículo"
                            :options="articulos"
                            v-model="art.codart"
                            :reduce="(articulo) => articulo.codart"
                            label="desart"
                            @input="updateArt(art.codart)"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            class="form-control numero"
                            v-model="art.precio"
                            v-numeric-only
                            disabled
                          >
                        </td>
                        <td>
                          <input
                            type="text"
                            class="form-control numero"
                            v-model="art.cantart"
                            v-numeric-only
                          >
                        </td>
                        <td><v-select
                            id="mySelect"
                            style="width: 500px;"
                            placeholder="Seleccione un Descuento"
                            :options="descuentos"
                            v-model="art.descto"
                            :reduce="(descuento) => descuento.mondesc"
                            label="item"
                          /></td>
                        <td>
                          <input
                            type="text"
                            class="form-control numero"
                            v-model="art.mondes"
                            v-numeric-only
                            readonly
                          >
                        </td>
                        <td>
                          <input
                            type="text"
                            class="form-control numero"
                            v-model="art.totrgo"
                            v-numeric-only
                            readonly
                          >
                        </td>
                        <td>
                          <input
                            type="text"
                            class="form-control numero"
                            v-model="art.subtotal"
                            readonly
                            v-numeric-only
                          >
                        </td>
                        <td>
                          <input
                            type="text"
                            class="form-control numero"
                            v-model="art.totart"
                            v-numeric-only
                            readonly
                          >
                        </td>

                        <td>
                          <a
                            role="button"
                            class="btn btn-outline-light"
                            @click="deleteArt(index)"
                          >
                            <i class="fa fa-trash red"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div
                class="row"
                style="display: flex; justify-content: flex-end"
              >
                <button
                  class="btn btn-primary m-4"
                  @click="addart()"
                  :disabled="form.codmon === null"
                >
                  Añadir artículo
                </button>
              </div>
              <div
                class="row mx-4"
                style="display: flex; justify-content: flex-end"
              >

                <div class="col-sm-1">
                  <label for="monto">Subtotal:</label>
                  <input
                    type="number"
                    class="form-control"
                    v-model="form.subtotalPre"
                    step="0.01"
                    readonly
                  />
                </div>

                <div class="col-sm-1">
                  <label for="monto">Descuento:</label>
                  <input
                    type="number"
                    class="form-control"
                    v-model="form.descuentoPre"
                    step="0.01"
                    readonly
                  />
                </div>
                <div class="col-sm-1">
                  <label for="monto">IVA:</label>
                  <input
                    type="number"
                    class="form-control"
                    v-model="form.ivaPre"
                    step="0.01"
                    readonly
                  />
                </div>
                <div class="col-sm-1">
                  <label for="monto">Total:</label>
                  <input
                    type="number"
                    class="form-control"
                    v-model="form.totalPre"
                    step="0.01"
                    readonly
                  />
                </div>
              </div>
            </div>
            <div class="card-footer">
              <a
                class="btn btn-default ml-4"
                v-bind:href="'/modulo/ConfiguracionGenerales/Presupuesto'"
              ><i class="fas fa-chevron-circle-left"></i><b> Volver</b></a>
              <button
                type="submit"
                class="btn btn-success"
                @click="sendPresup"
                :disabled="whileSub"
              >
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="exampleModal"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
      ref="modal"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="exampleModalLabel"
            >Nuevo cliente</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="documento">Documento</label>
                  <select
                    class="form-control select2"
                    style="width: 100%;"
                    data-select2-id="1"
                    aria-hidden="true"
                    name="tipodocumento"
                    v-model="cliente.tipodocumento"
                  >
                    <option
                      selected
                      data-select2-id="3"
                    >V</option>
                    <option data-select2-id="43">E</option>
                    <option data-select2-id="44">J</option>
                    <option data-select2-id="45">G</option>
                    <option data-select2-id="46">P</option>
                    <option data-select2-id="47">R</option>
                    <option data-select2-id="48">C</option>
                  </select>
                </div>
              </div>
              <div class="col-sm">
                <label for="cedularif">Número</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span
                      class="input-group-text"
                      id="basic-addon1"
                    >V/J</span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Ej.: 10.974.622"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                    v-model="cliente.cedularif"
                    @blur="cedulaCNE(cliente.cedularif)"
                  >
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="nombre">Nombre o Razón social</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span
                      class="input-group-text"
                      id="basic-addon1"
                    >Aa</span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="NOMBRE Y APELLIDO"
                    aria-describedby="basic-addon1"
                    v-model="cliente.nombre"
                    v-uppercase
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <div class="form-group">
                  <label for="cedularif">Dirección fiscal </label>
                  <textarea
                    name=""
                    id=""
                    cols="30"
                    rows="2"
                    class="form-control"
                    placeholder="Dirección"
                    v-model="cliente.direccion"
                    v-uppercase
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="nombre">Número de teléfono</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-phone-square"></i></span>

                  </div>
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                    placeholder="Ej.: 041421839230"
                    v-model="cliente.telefono"
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="nombre">Email</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                  </div>
                  <input
                    type="email"
                    class="form-control"
                    aria-label="Username"
                    placeholder="Ej.: example@example.com"
                    aria-describedby="basic-addon1"
                    v-model="cliente.email"
                    v-uppercase
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >Cerrar</button>
            <button
              type="button"
              class="btn btn-success"
              @click="sendCliente"
              :disabled="whileSub"
            >Guardar</button>
          </div>
        </div>
      </div>
    </div>

  </section>
</template>

<script>
export default {
  props: {
    monedas: {
      type: Array,
    },
    recargos: {
      type: Array,
    },
    duraciones: {
      type: Array,
    },
    descuentos: {
      type: Array,
    },
  },
  data() {
    return {
      form: {
        codpro: null,
        codmon: null,
        codigoTasa: null,
        valorTasa: null,
        duracion: null,
        recargo: null,
        monrgo: null,
      },
      clientes: [],
      arts: [],
      articulos: [],
      whileSub: false,
      cliente: {
        tipodocumento: null,
        cedularif: null,
        nombre: null,
        direccion: null,
        telefono: null,
        email: null,
      },
    };
  },

  methods: {
    async getTasa(val) {
      await axios
        .post(`/modulo/ConfiguracionGenerales/Presupuesto/getTasa`, {
          codigo: val,
        })
        .then(({ data }) => {
          console.log(data);
          this.form.codigoTasa = data.id;
          this.form.valorTasa = data.valor;
        });
    },

    async getArticulos(val) {
      await axios
        .post(`/modulo/ConfiguracionGenerales/Presupuesto/getArticulos`, {
          codigo: val,
        })
        .then(({ data }) => {
          this.articulos = data;
        })
        .catch((error) => {
          this.$toast.error(error.response.data.message, {
            position: "top-right",
            timeout: 5000,
            closeOnClick: true,
          });
        });
    },

    async sendPresup() {
      this.whileSub = true;
      this.form.arts = this.arts;
      const data = this.form;
      await axios
        .post(
          `/modulo/ConfiguracionGenerales/Presupuesto/registrarPresupuesto`,
          data
        )
        .then(({ data }) => {
          if (data.success) {
            this.whileSub = false;
            this.$toast.success(data.message, {
              onclose: setTimeout(() => {
                window.location = data.redirect;
              }, 2000),
            });
          }
        })
        .catch((error) => {
          this.whileSub = false;
          console.log(error.response);
          if (error.response.status === 422) {
            this.errors = error.response.data.errors;

            Object.entries(this.errors).forEach(([key, value]) => {
              console.log(value);
              this.$toast.error(value[0], {
                position: "top-right",
                timeout: 5000,
                closeOnClick: true,
              });
            });
          } else {
            this.$toast.error(
              "Error al registrar, consulte al administrador del sistema.",
              {
                position: "top-right",
                timeout: 5000,
                closeOnClick: true,
              }
            );
          }
        });
    },

    async getClientes() {
      await axios
        .get("/modulo/ConfiguracionGenerales/Presupuesto/getClientes")
        .then((response) => {
          this.clientes = response.data;
        });
    },

    async cedulaCNE() {
      await axios
        .get(`/modulo/ConfiguracionGenerales/Clientes/getPersonaJsonFactura`, {
          params: {
            cedularif: this.cliente.cedularif,
            tipodocumento: this.cliente.tipodocumento,
          },
        })
        .then((response) => {
          if (response.data.titulo === "encontrado") {
            this.cleanObject(this.cliente);
            this.$toast.error("Cliente ya registrado en el sistema");
          }
          console.log(response);
          let respuesta = JSON.parse(response.data);
          console.log(respuesta.response);
          this.cliente.nombre = respuesta.response.completo;
          this.cliente.direccion = respuesta.response.direccion;
        })
        .catch((error) => {
          this.$toast.error("Error al buscar el documento");
          console.log(error);
        });
    },

    async sendCliente() {
      this.whileSub = true;
      await axios
        .post(
          `/modulo/ConfiguracionGenerales/Clientes/registrarCliente`,
          this.cliente
        )
        .then((response) => {
          if (response.status == 200) {
            let element = this.$refs.modal;
            $(element).modal("hide");
            this.cleanObject(this.cliente);
            this.getClientes();
            this.$toast.success("Cliente registrado con éxito");
            this.whileSub = true;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    cleanObject(obj) {
      for (const propiedad in obj) {
        obj[propiedad] = null;
      }
      obj.tipodocumento = "V";
      return obj;
    },

    addart() {
      this.arts = [...this.arts, { cedularif: this.form.cedularif }];
    },
    deleteArt(index) {
      this.arts.splice(index, 1);
    },

    getRecargo(val) {
      console.log(val);
      this.form.monrgo = val.monrgo;
      this.precios();
      this.totales();
    },
    updateArt(val) {
      let index = this.arts.findIndex((el) => el.codart === val);
      let art = this.articulos.find((el) => el.codart === val);
      console.log(art);
      this.arts[index].precio = art.costo_pro.pvpart;
      /* const articuloSeleccionado = this.articulos.find((art) => {
        return art.codart === val;
      });
      articuloSeleccionado.selected = true; */
    },

    precios() {
      let tasa = this.form.valorTasa;
      let recargo = this.form.monrgo;
      this.arts.map(function (articulo) {
        articulo.monrgo = recargo;
        if (articulo.cantart && articulo.precio) {
          articulo.subtotal =
            parseFloat(articulo?.cantart) * parseFloat(articulo?.precio ?? 0);
        } else {
          articulo.subtotal = 0;
        }
        articulo.subtotal = articulo.subtotal.toFixed(2);

        if (articulo.subtotal && articulo.descto) {
          articulo.mondes =
            (parseFloat(articulo?.subtotal) * parseFloat(articulo?.descto)) /
            100;
        } else {
          articulo.mondes = 0;
        }
        articulo.mondes = articulo.mondes.toFixed(2);

        if (articulo.subtotal && articulo.mondes && articulo.monrgo) {
          articulo.totrgo =
            ((parseFloat(articulo?.subtotal) - parseFloat(articulo?.mondes)) *
              parseFloat(articulo?.monrgo)) /
            100;
        } else {
          articulo.totrgo = 0;
        }
        articulo.totrgo = articulo.totrgo.toFixed(2);

        if (articulo.subtotal && articulo.monrgo && articulo.mondes) {
          articulo.totart =
            parseFloat(articulo?.subtotal) -
            parseFloat(articulo?.mondes) +
            parseFloat(articulo?.totrgo);
        } else {
          articulo.totart = 0;
        }

        articulo.totart = articulo.totart.toFixed(2);

        if (articulo.totart) {
          articulo.montasa = parseFloat(articulo?.totart) / parseFloat(tasa);
        } else {
          articulo.montasa = 0;
        }
        articulo.montasa = articulo.montasa.toFixed(2);

        return (
          articulo.totart,
          articulo.mondes,
          articulo.subtotal,
          articulo.totrgo,
          articulo.montasa
        );
      });

      this.$forceUpdate();
    },

    totales() {
      let total = 0;
      let subtotal = 0;
      let descuento = 0;
      let impuesto = 0;
      let totalTasa = 0;
      for (let prop in this.arts) {
        total += parseFloat(this.arts[prop].totart);
        subtotal += parseFloat(this.arts[prop].subtotal);
        descuento += parseFloat(this.arts[prop].mondes);
        impuesto += parseFloat(this.arts[prop].totrgo);
        totalTasa += parseFloat(this.arts[prop].montasa);
      }

      this.form.totalPre = total.toFixed(2);
      this.form.descuentoPre = descuento.toFixed(2);
      this.form.subtotalPre = subtotal.toFixed(2);
      this.form.ivaPre = impuesto.toFixed(2);
      this.form.tasaNota = totalTasa.toFixed(2);
    },
  },
  watch: {
    "form.codmon": {
      handler: function (val) {
        this.getTasa(val);
        this.getArticulos(val);
        this.arts = [];
      },
    },
    arts: {
      deep: true,
      handler: function (after) {
        this.precios();
        this.totales();
      },
    },
  },

  mounted() {
    this.getClientes();
    this.cliente.tipodocumento = "V";

    this.duraciones.map(function (x) {
      return (x.item = x.duracion + " Días");
    });
    this.descuentos.map(function (x) {
      return (x.item = x.desdesc + " - " + x.mondesc + "%");
    });
    this.recargos.map(function (x) {
      return (x.item = x.nomrgo + " - " + x.monrgo + "%");
    });
  },
};
</script>

<style scoped>
input[type="text"]::-webkit-outer-spin-button,
input[type="text"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.numero {
  -moz-appearance: textfield;
  text-align: right;
}

#mySelect .v-select .dropdown-toggle {
  border: none;
  width: 300px;
}
.table-wrapper {
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 66.4vh;
  margin-top: 22px;
  height: 500px;

  margin: 15px;
  padding-bottom: 20px;
}

table {
  min-width: max-content;
  border-spacing: 0px;
}

table th {
  position: sticky;
  top: 0px;
  text-align: center;
}

table th,
table td {
  position: sticky;
  padding-top: 10px;
  padding-bottom: 10px;
}

table td {
  text-align: center;
}
</style>