<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="alert alert-danger pb-0"
              v-if="Object.keys(errors).length != 0">
              <p>Asegurese de llenar todos los campos de manera correcta y unica.</p>
            </div>  
            <div class="alert alert-danger pb-0"
              v-if="errorExisNombre.includes('ya está en uso') || errorExisNomen.includes('ya está en uso')">
              <p> Este registro ya está en uso.</p>
            </div>  
                <div class="card">

                     <div class="card-header" v-if="type === 'creating'">
                    <strong>REGISTRAR UNIDAD DE MEDIDA</strong>
                    </div>

                    <div class="card-header" v-if="type === 'editing'">
                    <strong>EDITAR UNIDAD DE MEDIDA</strong>
                    </div>
                    

                    <div v-if="type === 'creating'">

           

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <label>Nombre</label>
                                    <div class="input-group">
                                        <input class="form-control" required v-model="form.nombre" v-uppercase type="text" placeholder="Ingrese Nombre de la Unidad de Medida" />
                                    </div>
                            </div>

                            <div class="col-sm-6 col-md-6">
                                <label>Nomenclatura</label>
                                    <div class="input-group">
                                        <input class="form-control" required v-model="form.nomenclatura" v-uppercase type="text" placeholder="Ejemplo: CM" />
                                    </div>
                            </div>
                           
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="d-flex">
                            <button class="btn btn-secondary" @click.prevent="back">
                                <i class="fa fa-arrow-left"></i>  Volver
                            </button>
                            <button type="submit" class="ml-auto btn btn-success" :disabled="buttonClicked" @click="senduni">Guardar</button>
                        </div>
                    </div>

                    </div>

                 <div v-if="type === 'editing'">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <label>Nombre</label>
                                    <div class="input-group">
                                        <input class="form-control" required v-uppercase v-model="form.nombre" type="text" placeholder="Ingrese un Nombre" />
                                    </div>
                            </div>

                             <div class="col-sm-6 col-md-6">
                                <label>Nomenclatura</label>
                                    <div class="input-group">
                                        <input class="form-control" required v-uppercase v-model="form.nomenclatura" type="text" placeholder="Ejemplo: CM" />
                                    </div>
                            </div>
                           
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="d-flex">
                            <button class="btn btn-secondary" @click.prevent="back">
                                <i class="fa fa-arrow-left"></i>  Volver
                            </button>
                            <button type="submit" class="ml-auto btn btn-success" :disabled="buttonClicked" @click="senduniEdit">Guardar</button>
                        </div>
                    </div>

                </div>


                </div>
                
            </div>
        </div>
    </div>
</template>

<script>
    export default {

         props: {

            type : {
            type : String,
            default : 'creating'
            },

            unidadmedida : {
            type : [String, Object],
            },

        },


        data() {
            return {
                buttonClicked: false, 
                errors: "",
                errorExisNombre: "",
                errorExisNomen: "",
                form: {
                    nomenclatura: '',   
                    nombre:   '',
                }
            }
        },

        mounted() {
           this.getUni();
        },

         methods: {

            back(){

                window.history.back();

            },

            async getUni() {
                const data = {
                    id: this.unidadmedida.id ? this.unidadmedida.id : '',
                }
                try {
                    const res = await axios.post(`/modulo/ConfiguracionGenerales/UnidadMedida/getUni`, data);

                    this.form.nomenclatura = res.data.unidadmedida.nomenclatura ? res.data.unidadmedida.nomenclatura : '';
                    this.form.nombre = res.data.unidadmedida.nombre ? res.data.unidadmedida.nombre : '';

                } catch (error) {}
            },

            async senduni() {
                this.whileSub = true;
                this.buttonClicked = true; 
                setTimeout(() => {
                    this.buttonClicked = false;
                }, 3000);  
                const data = this.form;

                await axios
                    .post(`/modulo/ConfiguracionGenerales/UnidadMedida/senduni`, data)
                    .then(({ data }) => {
                    if (data.success) {
                        this.whileSub = false;
                        this.$toast.success(data.message, {
                        onclose: setTimeout(() => {
                            window.location = data.redirect;
                        }, 2000),
                        });
                    }
                    })
                    .catch((error) => {
                    if (data.error) {
                        this.$toast.error("Error al registrar orden", {
                        position: "top-right",
                        timeout: 5000,
                        closeOnClick: true,
                        });
                        this.whileSub = false;
                    }

                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                        this.errorExisNombre = error.response.data.errors.nombre[0];
                        this.errorExisNomen = error.response.data.errors.nomenclatura[0];
                        this.whileSub = false;
                    }
                });
            },

            async senduniEdit() {
                this.whileSub = true;
                this.buttonClicked = true;
                setTimeout(() => {
                    this.buttonClicked = false;
                }, 3000); 
                const data = this.form;

                await axios
                    .post(`/modulo/ConfiguracionGenerales/UnidadMedida/update/`+this.unidadmedida.id, data)
                    .then(({ data }) => {
                    if (data.success) {
                        this.whileSub = false;
                        this.$toast.success(data.message, {
                        onclose: setTimeout(() => {
                            window.location = data.redirect;
                        }, 2000),
                        });
                    }
                    })
                    .catch((error) => {
                    if (data.error) {
                        this.$toast.error("Error al registrar orden", {
                        position: "top-right",
                        timeout: 5000,
                        closeOnClick: true,
                        });
                        this.whileSub = false;
                    }

                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                        this.whileSub = false;
                    }
                });
            },

     

        },
    
    }
</script>
