 <template>
  <div>
    <div class="card mt-1 border-bottom border-primary">
      <div class=" d-flex justify-content-between mx-4 my-2">
        <h3>Artículos</h3>
        <a
          class="btn btn-primary text-white"
          v-bind:href="'/modulo/Almacen/Artculos/registro'"
          v-show="permiso.includes('contenidos.create')"
        >Nuevo Artículo <i
            class="fa fa-plus"
            style="font-size: 0.6em;"
            aria-hidden="true"
          ></i></a>
      </div>
    </div>
    <nav class="ml-4 d-flex justify-content-between row">
      <div class="row col-6">
        <div class="d-flex col-4">
          <label
            class="mt-2"
            style="color:  #8a8686;"
          >Estatus:</label>
          <select
            @click="filtrar()"
            v-model="estatus"
            class="form-control border border-0 col-7 font-weight-bold"
            style="
                  background-color: transparent;
                  list-style-type: none;
                  border-bottom: 1px solid red;"
          >
            <option value=""></option>
            <option value="A">ACTIVO</option>
            <option value="I">INACTIVO</option>
          </select>
        </div>
        <div class="d-flex col-4 ">
          <label
            class="mt-2"
            style="color:  #8a8686;"
          >Categoría:</label>
          <select
            @click="filtrar()"
            v-model="categoria"
            class="form-control col-7 border border-0 font-weight-bold"
            style="
                  background-color: transparent;
                  list-style-type: none;
                  border-bottom: 1px solid red;"
          >
            >
            <option value=""></option>
            <option
              v-for="categoria in categorias"
              :key="categoria"
              :value="categoria.codigoid"
            >{{categoria.nombre}}</option>

          </select>
        </div>
        <div class="d-flex col-4">
          <label
            class="mt-2"
            style="color:  #8a8686;"
          >Facturable:</label>
          <select
            @click="filtrar()"
            v-model="facturable"
            class="form-control ml-1 border border-0  col-4 font-weight-bold"
            style="
                  background-color: transparent;
                  list-style-type: none;
                  border-bottom: 1px solid red;"
          >
            >
            <option value=""></option>
            <option value="F">SI</option>
            <option value="null">NO</option>
          </select>
        </div>
      </div>
      <div class="d-flex col-4 mr-3">
        <button
          data-toggle="tooltip"
          data-placement="top"
          title="Aceptar cambios"
          :class="{ 'vibrate': vibrate }"
          @click="change_action()"
          class="btn btn-success"
          v-if="multipleAction.length != 0 && accion!=''"
        >
          <i
            class="
          fa
          fa-check"
            aria-hidden="true"
          ></i>
        </button>
        <div class="btn-group dropright">
          <button
            type="button"
            class="btn btn-danger dropdown-toggle mr-2 ml-2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Opciones
          </button>
          <div class="dropdown-menu">
            <!-- Dropdown menu links -->
            <button
              @click="filtrar(), estatus = 'I', accion = 'activar', check = true"
              class="dropdown-item"
              type="button"
            >Activar
              <i
                class="fa fa-check"
                aria-hidden="true"
              ></i>
            </button>
            <button
              @click="filtrar(), estatus = 'A', accion = 'desactivar', check = true"
              class="dropdown-item"
              type="button"
            >Desactivar
              <i class="fa fa-ban red"></i>
            </button>
            <button
              @click="accion = 'eliminar', check = true"
              class="dropdown-item"
              type="button"
            >Eliminar
              <i class="fa fa-trash red"></i>
            </button>
            <button
              @click="filtrar(), facturable = 'null', accion = 'facturable', check = true"
              class="dropdown-item"
              type="button"
            >Facturable</button>
            <button
              @click="filtrar(), facturable = 'F', accion = 'No facturable' , check = true"
              class="dropdown-item"
              type="button"
            >No Facturable</button>
            <button
              @click="check = false, multipleAction = []"
              class="dropdown-item"
              type="button"
            >Ninguno</button>
          </div>
        </div>
        <input
          type="text"
          placeholder="Buscar"
          name="filtro"
          ref="inputFiltro"
          v-model="filtro"
          class="form-control float-right col-7 mr-1"
          @keyup.enter="filtrar()"
        >
        <button
          type="submit"
          @click="filtrar()"
          style="height: 38px; width: 38px"
          class="btn btn-default btn-sm "
        ><i class="fas fa-search"></i></button>

        <button
          type="submit"
          @click="borrarFiltro()"
          style="height: 38px; width: 38px"
          class="btn btn-default btn-sm"
        ><i class="fas fa-arrow-left"></i></button>
      </div>
    </nav>

    <div class="border-top mt-5 mx-5">
      <div
        class="d-flex justify-content-between mt-3 "
        style="color: #9c9898"
      >
        <div class="col-5">
          <p>Nombre del producto</p>
        </div>
        <div class="costo col-1 ">
          <p>Costo</p>
        </div>
        <div class=" col-1">
          <p>Moneda</p>
        </div>
        <div class="col-2">
          <p>Detalles</p>
        </div>
        <div class=" col-2">
          <p>Fecha de Creacion</p>
        </div>
        <div class="col-1 ml-4 ">
          <p>Acciones</p>
        </div>
      </div>
      <div
        v-for="(articulo, index) in articulos.data"
        :key="index"
      >
        <div class="card mb-4">
          <div class="card-body d-flex justify-content-between row">
            <div class="col-5">
              <div class="d-flex">
                <div class="form-group mr-3">
                  <div class="form-check">
                    <input
                      v-if="check == true || multipleAction.length != 0"
                      @click="actions(articulo.codart, index, articulo.staart, articulo.tipreg) "
                      :codart="articulo.codart"
                      class="form-check-input"
                      type="checkbox"
                      id="gridCheck"
                    >
                  </div>
                </div>
                <div class="font-weight-bold">
                  <p><span style="color:#006699">{{ articulo.codart }}</span> / {{ articulo?.nomart ?? 'N/A' }}</p>
                </div>

              </div>
              <div
                class="div-con-texto"
                style="color:  #9c9898;"
              >
                {{ articulo.desart }}
              </div>
            </div>

            <div class="col-1 mt-4">
              <div class="text-danger">
                <p>{{ articulo?.costo_pro?.pvpart ?? '-' }}</p>
              </div>
            </div>
            <div class="col-1 mt-4">
              <div>
                <p>{{ articulo?.costo_pro?.moneda?.nomenclatura ?? '-' }}</p>
              </div>
            </div>
            <div class="col mt-4">
              <!-- <div style="align-content: center;">
                <button
                  class="btn btn-outline-primary"
                  @click="almacenModal(articulo.almacenes)"
                >
                  <i class="fa fa-bars"></i>
                </button>
              </div> -->
              <div class="ml-3 ">

                <button
                  type="button"
                  data-toggle="modal"
                  class="btn"
                  @click="detalle_articulo(), detallegetinfo(articulo.codart)"
                  data-target="#staticBackdrop"
                ><i
                    class="fa fa-search-plus"
                    style="font-size: 0.7em;"
                    aria-hidden="true"
                  ></i></button>

              </div>
            </div>
            <div class="col mt-4">
              <div>
                <p>{{ articulo.created_at == null ? 'N/A' : articulo.created_at}}</p>
              </div>
            </div>
            <div class="btn-group dropright">
              <button
                type="button"
                class="btn btn-ligth "
                data-toggle="dropdown"
                aria-expanded="false"
              >
                <i
                  class="fa fa-ellipsis-v"
                  aria-hidden="true"
                ></i>
              </button>
              <div class="dropdown-menu">
                <!-- Dropdown menu links -->

                <a
                  class="dropdown-item"
                  v-bind:href="'/modulo/Almacen/Artculos/update/' + articulo.codart"
                  v-if="!articulo.codart.startsWith('APM')"
                  v-show="permiso.includes('contenidos.edit')"
                >Editar
                  <i class="fa fa-edit blue"></i>
                </a>
                <a
                  @click="deleteart(articulo.codart)"
                  class="dropdown-item"
                  v-show="permiso.includes('contenidos.delete')"
                >
                  Eliminar <i class="fa fa-trash red"></i>
                </a>
                <a
                  class="dropdown-item"
                  v-bind:href="'/modulo/Almacen/Artculos/visualizarArticulos/' + articulo.codart"
                  type="button"
                >Cambiar precio <strong>$</strong></a>

                <a
                  v-if="articulo.staart === 'I'"
                  class="dropdown-item"
                  type="button"
                  @click="changeStatusArt(articulo.codart, articulo.staart, articulo.desart)"
                >Activar <i
                    class="fa fa-check"
                    aria-hidden="true"
                  ></i></a>

                <a
                  v-if="articulo.staart === 'A' "
                  class="dropdown-item"
                  type="button"
                  @click="changeStatusArt(articulo.codart, articulo.staart, articulo.desart)"
                >Desactivar <i class="fa fa-ban red"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- {{-- modal para descripcion del producto --}} -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-backdrop="static"
      data-keyboard="false"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="staticBackdropLabel"
            >Información del artículo</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table
              class="table table-bordered table-hover table-lg"
              style="border-color: #006699;"
            >

              <thead>
                <tr>
                  <th style="background-color: #006699; color: white;">Características</th>
                  <th style="background-color: #006699; color: white;"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Código</th>
                  <td>{{articulo.codart }} </td>
                </tr>
                <tr>
                  <th>Nombre</th>
                  <td>{{articulo?.nomart ?? 'N/A'}}</td>
                </tr>
                <tr>
                  <th>Facturable</th>
                  <td>{{articulo.tipreg == 'F' ? "SI" : 'NO'}}</td>
                </tr>
                <tr>
                  <th>Estado</th>
                  <td>{{articulo.staart == 'A' ? "ACTIVO" : 'INACTIVO'}}</td>
                </tr>
                <tr>
                  <th>Categoría</th>
                  <td>{{articulo?.facategoria?.nombre ?? 'N/A'}}</td>
                </tr>
                <tr>
                  <th>Tipo</th>
                  <td>{{articulo?.tipo ?? 'N/A'}}</td>
                </tr>
                <tr>
                  <th>Subcategoría</th>
                  <td>{{articulo?.subcategoria?.nomsubcat ?? 'N/A' }}</td>
                </tr>
                <tr>
                  <th>Precio</th>
                  <td>{{ articulo?.faartpvp?.pvpart  ?? 'NO POSEE'  }} {{ articulo?.moneda?.nomenclatura }}</td>
                </tr>
                <tr>
                  <th>Fecha de creación</th>
                  <td>{{ articulo?.created_at ?? 'N/A' }}</td>
                </tr>
                <tr>
                  <th>Descripción</th>
                  <td>{{articulo.desart }}</td>
                </tr>

                <tr>
                  <th>Serial</th>
                  <td>{{articulo.isserial == null ? 'NO' : 'SI'}}</td>
                </tr>
                <tr>
                  <th>Talla</th>
                  <!-- <td>{{articulo.tallas == null ? 'N/P' : articulo.tallas.tallas }}</td> -->
                </tr>
                <tr>
                  <th>Color</th>
                  <td>{{articulo?.color?.nomencolor ?? 'N/P' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="almacenModal"
      aria-labelledby="almacenModalLabel"
      aria-hidden="true"
      ref="almacenModal"
      data-backdrop="static"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="almacenModalLabel"
            >Almacenes asociados</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered text-center">
              <thead>
                <tr>
                  <th>
                    Almacén
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(almacen, index) in almacenesModal"
                  :key="index"
                >
                  <td>{{ almacen.almacenes.nomalm }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3 ml-5">
      <pagination
        :data="articulos"
        :limit="5"
        @pagination-change-page="get_info_articulo"
      >
        <span slot="prev-nav">&lt; Previous</span>
        <span slot="next-nav">Next &gt;</span>
      </pagination>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      vibrate: false,
      check: false,
      form: {},
      permiso: [],
      articulos: {},
      multipleAction: [],
      filtro: "",
      categorias: {},
      categoria: "",
      facturable: "",
      estatus: "",
      variable: "",
      accion: "",
      articulosdetalle: [],
      articulo: {},
      almacenesModal: [],
    };
  },
  created() {},
  mounted() {
    this.$refs.inputFiltro.focus();
    this.get_info_articulo();
    this.getpermiso();
    setInterval(() => {
      this.vibrate = !this.vibrate;
    }, 2000);
  },
  methods: {
    borrarFiltro() {
      this.filtro = ""; // Borra el valor del input
      this.get_info_articulo(); // Obtiene la lista completa sin filtro
    },

    async detallegetinfo(codart) {
      try {
        const res = await axios.get(
          "/modulo/Almacen/Artculos/getdetalle/" + codart
        );
        this.articulo = res.data.articulo;
      } catch {}
    },
    actions(codart, index, staart, tipreg) {
      let indice = this.multipleAction.indexOf(codart);
      if (indice === -1) {
        this.multipleAction.push(codart);
      } else {
        let aux = this.multipleAction.indexOf(codart);
        this.multipleAction.splice(aux, 1);
      }
      console.log(this.multipleAction);

      if ((tipreg = null)) {
        let aux = this.multipleAction.indexOf(codart);
        this.multipleAction.splice(aux, 1);
      }
    },
    //ejecuta la acciones multiples
    async change_action() {
      const data = {
        accion: this.accion,
        articulos: this.multipleAction,
      };
      try {
        const res = await axios.post(
          "/modulo/Almacen/Artculos/multipleupdate",
          data
        );
        const eliminado = res.data.titulo;

        if (eliminado == "SE HA ELIMINADO CON EXITO") {
          this.$toast.success("SE ELIMINADO CON EXITO EL ARTICULO!", {
            onclose: setTimeout(() => {
              window.location = `/modulo/Almacen/Artculos`;
            }, 2000),
          });
        } else if (
          eliminado == "NO SE PUEDE ELIMINAR EL ARTICULO POR TIENE FACTURA!"
        ) {
          this.$toast.error(
            "NO SE PUEDE ELIMINAR EL ARTICULO POR TIENE FACTURA!"
          );
        } else {
          this.$toast.success("CAMBIOS REALIZADOS CON EXITO!", {
            onclose: setTimeout(() => {
              window.location = `/modulo/Almacen/Artculos`;
            }, 2000),
          });
        }
      } catch {}
    },
    detalle_articulo() {},
    a() {
      alert("llego aqui");
      this.variable = this.articulos.map((x) =>
        codart === x.codart ? x.staart : x
      );
    },
    async getpermiso(page = 1) {
      try {
        const res = await axios.get(`/modulo/Almacen/Artculos/getpermiso`, {
          params: {
            page: page,
          },
        });
        this.permiso = res.data.permiso;
      } catch (error) {
        console.log("se ejecuto");
      }
    },
    async get_info_articulo(page = 1) {
      try {
        const res = await axios.get(`/modulo/Almacen/Artculos/getinformation`, {
          params: {
            page: page,
            filtro: this.filtro,
            categoria: this.categoria,
            estatus: this.estatus,
            facturable: this.facturable,
          },
        });
        this.articulos = res.data.articulos;
        this.categorias = res.data.categorias;
      } catch (error) {
        console.log("se ejecuto");
      }
    },
    async filtrar() {
      try {
        const res = await axios.get("/modulo/Almacen/Artculos/filtro", {
          params: {
            filtro: this.filtro,
            categoria: this.categoria,
            estatus: this.estatus,
            facturable: this.facturable,
          },
        });
        console.log(res.data);
        this.articulos = res.data.articulos;
      } catch {}
    },
    async deleteart(codart) {
      try {
        const res = await axios.get(
          "/modulo/Almacen/Artculos/eliminar/" + codart
        );
        const eliminado = res.data.titulo;

        if (eliminado == "SE HA ELIMINADO CON EXITO") {
          this.$toast.success("SE ELIMINADO CON EXITO EL ARTICULO!", {
            onclose: setTimeout(() => {
              window.location = `/modulo/Almacen/Artculos`;
            }, 2000),
          });
        } else if (
          eliminado == "NO SE PUEDE ELIMINAR EL ARTICULO POR TIENE FACTURA!"
        ) {
          this.$toast.error(
            "NO SE PUEDE ELIMINAR EL ARTICULO POR TIENE FACTURA!"
          );
        }
      } catch {}
    },
    changeStatusArt(codart, staart, desart) {
      let codartart = codart;
      let msj = staart == "A" ? "desactivar" : "activar";
      let desartart = desart;
      Swal.fire({
        title: `¿Seguro que desea ${msj} ${desartart}?`,
        text: `¡Ahora el producto ${
          msj == "activar" ? "saldra" : "no saldra"
        } para facturacion/pedidos!`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: `Si, ${msj}!`,
      }).then((result) => {
        if (result.value === true) {
          try {
            const res = axios.get(`/ChangeStatus`, {
              params: {
                codart: codartart,
              },
            });
            Swal.fire({
              title: `Se ha ${msj == "activar" ? "Activado" : "desctivado"}!`,
              text: `${msj == "activar" ? "Activado" : "desctivado"}!`,
              icon: "success",
            });
          } catch {}
        }
      });
    },
    almacenModal(val) {
      console.log(val);
      let element = this.$refs.almacenModal;
      $(element).modal("show");
      this.almacenesModal = val;
    },
  },
};
</script>
<style>
.text {
  font-size: 0.7rem;
}

.vibrate {
  animation: vibrate 2s linear infinite;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
</style>