<template>
  <section class="content1">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12">

          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title"><b>AÑADIR PERMISOS A {{ user.nomuse }} ({{ user.loguse }})</b></h3>
            </div>
            <form
              action="#"
              data-url=""
              id="create"
              method="post"
            >
              <div class="card-body">

                <div class="form-group">

                  <div class="row">

                    <div
                      class="col"
                      v-for="(sub, key) in modulos"
                      :key="key"
                    >
                      <button
                        class="btn btn-light border border-dark "
                        type="button"
                        :value="indexM"
                        @click="indexM = key"
                        :data-target="collapse"
                        aria-expanded="false"
                        data-toggle="collapse"
                      >
                        {{ sub[0] }}
                      </button>

                      <div
                        :id="despliegue2"
                        class="collapse"
                        v-show="indexM === key"
                      >
                        <div class="row">
                          <button
                            type="button"
                            class="lista"
                            style="list-style: none;"
                            data-toggle="collapse"
                            data-target="#multiCollapseExample"
                            aria-expanded="false"
                            aria-controls="multiCollapseExample2"
                            :value="indexSm"
                            @click="indexSm = index"
                            v-for="(subm,index) in submodulo"
                            :key="index"
                          >
                            {{ subm }}
                          </button>

                          <div
                            class="collapse multi-collapse"
                            id="multiCollapseExample"
                          >
                            <td>
                              <input
                                style="display: none"
                                name="numcuenta[]"
                                data-id="a"
                                value="/modulo/"
                                type="text"
                                class="form-control rutas"
                              >
                            </td>
                            <ul style="list-style: none">
                              <li>
                                <label class="checkbox-inline">
                                  <input
                                    type="checkbox"
                                    id="checkboxEnLinea1"
                                    data-id=""
                                    class="checkboxEnLinea1"
                                    value="/modulo/-contenidos.index-"
                                  > Navega todos los contenido del sistema<br>
                                </label>
                              </li>
                              <li>
                                <label class="checkbox-inline">
                                  <input
                                    data-id=""
                                    type="checkbox"
                                    id="checkboxEnLinea4"
                                    class="checkboxEnLinea1"
                                    value="/modulo/-contenidos.create-"
                                  > Crear los contenido del sistema<br>
                                </label>
                              </li>
                              <li>
                                <label class="checkbox-inline">
                                  <input
                                    type="checkbox"
                                    data-id=""
                                    id="checkboxEnLinea2"
                                    class="checkboxEnLinea1"
                                    value="/modulo/-contenidos.edit-"
                                  > Editar los contenido del sistema<br>
                                </label>
                              </li>
                              <li>
                                <label class="checkbox-inline">
                                  <input
                                    type="checkbox"
                                    data-id=""
                                    id="checkboxEnLinea3"
                                    class="checkboxEnLinea1"
                                    value="/modulo/-contenidos.delete-"
                                  > Eliminar los contenido del sistema<br>
                                </label>
                              </li>
                              <li>
                                <label class="checkbox-inline">
                                  <input
                                    type="checkbox"
                                    data-id=""
                                    id="checkboxEnLinea5"
                                    class="checkboxEnLinea5"
                                    value="contenidos.index-contenidos.edit-contenidos.delete-contenidos.create-"
                                  > Marcar todos<br>
                                </label>
                              </li>
                            </ul>
                          </div>

                          <div
                            class="row ml-2 collapse"
                            style="width: 100%;"
                            id="multiCollapseExample2"
                            v-show="indexSm === index"
                          >
                            <button
                              type="button"
                              class="lista"
                              data-toggle="collapse"
                              data-target="#multiCollapseExample"
                              aria-expanded="false"
                              aria-controls="multiCollapseExample2"
                              style="list-style: none;"
                            >
                            </button>
                          </div>
                          <div
                            class="collapse multi-collapse"
                            id="multiCollapseExample"
                          >
                            <td class="rutas">
                              <input
                                style="display: none"
                                name="numcuenta[]"
                                data-id="a"
                                value="/modulo/"
                                type="text"
                                class="form-control rutas"
                              >
                            </td>
                            <ul style="list-style: none">
                              <li>
                                <label class="checkbox-inline">
                                  <input
                                    type="checkbox"
                                    id="checkboxEnLinea1"
                                    data-id="a"
                                    class="checkboxEnLinea1"
                                    value="/modulo/-contenidos.index-"
                                  > Navega todos los contenido del sistema<br>
                                </label>
                              </li>
                              <li>
                                <label class="checkbox-inline">
                                  <input
                                    data-id="a"
                                    type="checkbox"
                                    id="checkboxEnLinea4"
                                    class="checkboxEnLinea1"
                                    value="/modulo/-contenidos.create-"
                                  > Crear los contenido del sistema<br>
                                </label>
                              </li>
                              <li>
                                <label class="checkbox-inline">
                                  <input
                                    type="checkbox"
                                    data-id="a"
                                    id="checkboxEnLinea2"
                                    class="checkboxEnLinea1"
                                    value="/modulo/-contenidos.edit-"
                                  > Editar los contenido del sistema<br>
                                </label>
                              </li>
                              <li>
                                <label class="checkbox-inline">
                                  <input
                                    type="checkbox"
                                    data-id="a"
                                    id="checkboxEnLinea3"
                                    class="checkboxEnLinea1"
                                    value="/modulo/-contenidos.delete-"
                                  > Eliminar los contenido del sistema<br>
                                </label>
                              </li>
                              <li>
                                <label class="checkbox-inline">
                                  <input
                                    type="checkbox"
                                    data-id=""
                                    id="checkboxEnLinea5"
                                    class="checkboxEnLinea5"
                                    value="contenidos.index-contenidos.edit-contenidos.delete-contenidos.create-"
                                  > Marcar todos<br>
                                </label>
                              </li>
                            </ul>
                          </div>

                        </div>

                      </div>

                    </div>
                  </div>

                </div>

              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <a
                  id="createcountry"
                  href="#"
                  class="btn btn-success createcountry"
                ><b>Guardar Cambios</b></a>
                <a
                  href=""
                  class="btn btn-default ml-4"
                ><i class="fas fa-chevron-circle-left"></i><b>Volver</b></a>
              </div>
            </form>

          </div>

          <!-- /.card -->
        </div>
      </div>
    </div>

  </section>
</template>

<script>
export default {
  props: {
    user: {
      type: [String, Object],
    },
    menu: {
      type: Object,
    },
    permisos: {
      type: Array,
    },
  },

  data() {
    return {
      modulos: [],
      submodulo: {},
      indexM: 0,
      collapse: "",
      collapse2: "",
      indexSm: 0,
      nivel2: "",
    };
  },

  mounted() {
    this.modulos = Object.entries(this.menu.submodulo);
    this.collapse = "#collapseExample" + this.indexM;
    this.collapse2 = "#collapseExample" + this.indexM;
  },
  computed: {
    recorrer() {
      this.submodulo = Object.keys(this.modulos[this.indexM][1]);

      return this.submodulo;
    },
    despliegue() {
      this.collapse = "#collapseExample" + this.indexM;
      return this.collapse;
    },
    despliegue2() {
      this.collapse2 = "collapseExample" + this.indexM;
      return this.collapse2;
    },
  },
  methods: {},
};
</script>

<style scoped>
.my-custom-scrollbar {
  position: relative;
  height: 300px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

#menu > ul {
  display: none;
  list-style-type: none;
}

#menu > ul > li {
  list-style: none;
}

#menu > li {
  list-style: none;
  font-weight: bold;
}

.lista {
  border: 0;
  background-color: rgb(255, 255, 255);
  text-align: left;
}

.lista::before {
  content: "►";
  color: rgb(0, 0, 0);
  display: inline-block;
  width: 1em;
}
</style>