<template>
  <section class="content">
    <div
      class="container-fluid"
      v-if="type === 'creating'"
    >
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Compra de Mercancía</h3>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="empsol">Solicitante</label>
                    <div>
                      <input
                        type="text"
                        class="form-control"
                        name="solicitante"
                        disabled
                        v-model="user.nomuse"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-sm-5">
                  <div class="form-group">
                    <label for="codcen">Departamentos</label>
                    <div>
                      <v-select
                        placeholder="Seleccione un deposito"
                        :options="costos"
                        v-model="form.codcen"
                        :reduce="(costos) => costos.codcen"
                        label="item"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <div class="mt-2">

                    </div>
                    <span
                      class="text-red"
                      style="font-size: 80%"
                    >{{
                      verreq ? "Código inválido" : ""
                    }}</span>
                  </div>
                </div>

                <div class="col-sm-2">
                  <div style="float: right">
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-toggle="modal"
                      data-target="#staticBackdrop"
                    >
                      <i
                        class="fa fa-undo"
                        aria-hidden="true"
                        title="Cargar"
                      ></i>
                      Cargar
                    </button>

                    <button
                      class="btn btn-primary"
                      @click.prevent="saveReq"
                      :disabled="LSdisabled"
                    >
                      <i
                        class="fa fa-save"
                        aria-hidden="true"
                        title="Guardar"
                      ></i>
                      Guardar
                    </button>
                  </div>
                </div>
              </div>

              <div class="row mx-auto pb-3">
                <div class="col">
                  <label for="desreq">Justificación</label>
                  <textarea
                    class="form-control ta"
                    v-model="form.desreq"
                    placeholder="Justificación"
                    cols="30"
                    rows="3"
                    v-uppercase
                  ></textarea>
                </div>
              </div>

              <div
                class="alert alert-danger"
                v-if="Object.keys(errors).length != 0"
              >
                <p>El campo "Cantidad Requerida" es requerido.</p>
              </div>

              <div>
                <div class="table-responsive">
                  <table
                    class="table table-bordered table-hover"
                    v-if="form.selArts.length > 0"
                    id="tabla"
                  >
                    <thead>
                      <tr style="text-align: center">
                        <th>Nro.</th>
                        <th>Descripción</th>
                        <th>Unidad de medida</th>
                        <th>Cant. existente</th>
                        <th>Cant. requerida</th>
                        <th>Acción</th>
                      </tr>
                    </thead>

                    <tbody style="text-align: center">
                      <tr
                        v-for="(art, index) in form.selArts"
                        :key="art.index"
                      >
                        <td>{{ index }}</td>
                        <td>
                          <input
                            class="form-control"
                            disabled
                            v-model="art.desart"
                            type="text"
                          />
                        </td>

                        <td>
                          <input
                            class="form-control"
                            placeholder="Ej: SERVICIO"
                            v-model="art.unimed"
                            place
                            name="unimed[]"
                            type="text"
                          />
                        </td>

                        <td>
                          <input
                            class="form-control"
                            disabled
                            v-model="art.exitot"
                            name="exitot[]"
                            type="text"
                          />
                        </td>

                        <td>
                          <input
                            class="form-control"
                            placeholder="Ej: 10.00"
                            v-model="art.canreq"
                            type="number"
                            min="0.01"
                            step="0.01"
                          />
                        </td>

                        <td style="align-content: center">
                          <a
                            href="#"
                            class="btn btn-outline-light"
                            @click="deleteArt(index)"
                          >
                            <i
                              class="fa fa-trash red"
                              aria-hidden="true"
                            ></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- MODAL PARA ARTÍCULOS -->
                <div
                  class="row mb-3"
                  style="
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    padding: 0;
                  "
                >
                  <button
                    @click="showModal = true"
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#myModal"
                  >
                    Añadir artículo
                  </button>
                </div>

                <div class="row p-4">
                  <div class="col-sm-10">
                    <label for="monto">Artículos:</label>
                    <div v-if="form.selArts.length != 0">
                      <ol id="array-with-index">
                        <li
                          v-for="selArt in form.selArts"
                          :key="selArt.id"
                        >
                          {{ selArt.desart }} <br />
                          <strong>Cantidad:</strong> {{ selArt.canreq }}
                        </li>
                      </ol>
                    </div>
                  </div>
                  <!-- <div class="col-sm-1" style="float: right">
                    <label for="monto">Monto:</label>
                    <input
                      class="form-control"
                      type="number"
                      v-model="total"
                      step="0.01"
                      disabled
                      style="text-align: right"
                    />
                  </div> -->
                </div>
              </div>
            </div>
            <div class="card-footer">
              <a
                class="btn btn-default ml-4"
                v-bind:href="'/modulo/Compras/RequisicionP'"
              ><i class="fas fa-chevron-circle-left"></i><b> Volver</b></a>
              <button
                type="submit"
                class="btn btn-success"
                @click="sendreq"
                :disabled="submitDis"
              >
                Enviar Solicitud
              </button>
              <!--  -->
            </div>
          </div>
        </div>
      </div>
      <!-- MODALS -->
      <transition
        name="fade"
        appear
      >
        <div
          class="modal fade"
          data-backdrop="static"
          id="myModal"
          aria-labelledby="myModalLabel"
          v-if="showModal"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5
                  class="modal-title"
                  id="myModalLabel"
                >Añadir artículo</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="col-sm-12">
                  <label for="caregart">Seleccione artículo</label>
                  <v-select
                    :options="articulos"
                    v-model="selArt"
                    placeholder="Seleccione un artículo"
                    :reduce="(articulo) => articulo"
                    label="item"
                    :disabled="newArt"
                  ></v-select>
                </div>

                <div class="custom-control custom-checkbox my-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="customCheck1"
                    @click="newArtm"
                  />
                  <label
                    class="custom-control-label"
                    for="customCheck1"
                  >Añadir artículo no existente</label>
                </div>

                <div v-if="newArt">
                  <!-- Inicio del formulario para registro de nuevo artículo -->
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="">Código</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">A-1</span>
                          </div>
                          <input
                            class="form-control"
                            type="text"
                            maxlength="10"
                            placeholder="A1234-5678"
                            v-model="modalart.codart"
                            v-uppercase
                            @keyup="key(modalart.codart)"
                          />
                        </div>
                        <span
                          class="text-red"
                          style="font-size: 80%"
                        >{{
                          verif ? "Código inválido" : ""
                        }}</span>
                      </div>
                    </div>

                    <div class="col-sm-9">
                      <div class="form-group">
                        <label for="">Descripción</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">A</span>
                          </div>
                          <input
                            class="form-control"
                            type="text"
                            v-model="modalart.desart"
                            placeholder="ABC..."
                            v-uppercase
                          />
                        </div>
                      </div>
                    </div>

                    <!-- <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">Costo</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">123</span>
                          </div>
                          <input
                            class="form-control"
                            v-model="modalart.cosult"
                            placeholder="3.14"
                            type="number"
                            min="0"
                            step="0.01"
                          />
                        </div>
                      </div>
                    </div>
 -->
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">Unidad de medida</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">UND</span>
                          </div>
                          <input
                            class="form-control"
                            type="text"
                            v-model="modalart.unimed"
                            placeholder="SERVICIO"
                            v-uppercase
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Fin del formulario -->
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Cerrar
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-dismiss="modal"
                  @click="addArt"
                  v-if="newArt === false"
                  :disabled="isDisabled"
                >
                  Añadir artículo
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  @click.prevent="addNewArt"
                  v-if="newArt === true"
                  :disabled="isDisabled"
                >
                  Añadir nuevo
                </button>
              </div>
            </div>
          </div>
        </div>
      </transition>

      <!-- MODAL PARA ARTÍCULOS -->

      <!-- MODAL PARA COMPRA PENDIENTE -->

      <div
        class="modal fade"
        id="staticBackdrop"
        data-backdrop="static"
        data-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5
                class="modal-title"
                id="staticBackdropLabel"
              >
                Compras pendientes
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <label for="filter">Filtrar por código</label>
              <input
                type="text"
                class="form-control mb-3"
                v-model="filters.name.value"
                v-uppercase
                placeholder="Código"
              />
              <v-table
                :data="pendientes"
                :filters="filters"
                class="table table-bordered"
                selectionMode="single"
                selectedClass="table-info"
                @selectionChanged="selectedRow = $event"
                @totalPagesChanged="totalPages = $event"
                :pageSize="5"
                :currentPage.sync="currentPage"
              >
                <thead slot="head">
                  <th>Código</th>
                  <th>Departamento</th>
                  <th>Fecha</th>
                </thead>
                <tbody
                  slot="body"
                  slot-scope="{ displayData }"
                >
                  <v-tr
                    v-for="row in displayData"
                    :key="row.id"
                    :row="row"
                  >
                    <td>{{ row.reqart }}</td>
                    <td>{{ row.codcen }}</td>
                    <td>{{ row.fecreq }}</td>
                  </v-tr>
                </tbody>
              </v-table>

              <smart-pagination
                :currentPage.sync="currentPage"
                :totalPages="totalPages"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Cerrar
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                @click="selectLoad(selectedRow)"
              >
                Seleccionar
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- MODAL PARA COMPRA PENDIENTE -->
    </div>

    <!-- MODALS -->
  </section>
</template>

<script>
import { off } from "process";

export default {
  props: {
    type: {
      type: String,
      default: "creating",
    },

    req: {
      type: [String, Object],
    },

    partida: {
      type: [String, Object],
    },

    arts: {
      type: [String, Array],
    },

    user: {
      type: [String, Object],
    },

    costos: {
      type: [String, Array],
    },
  },

  data() {
    return {
      content: null,
      selArt: null,
      solicitante: {},
      filters: {
        name: { value: "", keys: ["reqart"] },
      },
      selectedRow: {},
      //costos: [],
      pendientes: [],
      proveedores: [],
      articulos: [],
      precios: [],
      gerentes: [],
      recargos: [],
      errors: {},
      form: {
        date: "",
        numero: "",
        codcen: "",
        empsol: "",
        desreq: "",
        monreq: null,
        selArts: [],
      },
      showModal: false,
      showModal2: false,
      newArt: false,
      btndis: true,
      verif: false,
      verreq: false,
      modalart: {
        codart: "",
        desart: "",
        cosult: "",
        unimed: "",
      },
      aux: null,
      verpar: true,
      isLoading: true,
      currentPage: 1,
      totalPages: 0,
      LSDis: true,
      whileSub: false,
      precios: [],
    };
  },

  computed: {
    isDisabled() {
      this.content = this.form.selArts.includes(this.selArt);
      if (this.newArt === false) {
        if (this.selArt !== null && this.content === false) {
          return !this.btndis;
        } else {
          return this.btndis;
        }
      } else {
        if (
          this.modalart.codart.length === 10 &&
          this.modalart.desart !== "" &&
          this.modalart.unimed !== "" &&
          this.verif !== true
        ) {
          return !this.btndis;
        } else {
          return this.btndis;
        }
      }
    },

    LSdisabled() {
      const validation = [this.form.selArts.length === 0, this.whileSub];
      return validation.some((elem) => elem === true);
    },

    submitDis() {
      const hasCanreq = this.form.selArts.some((object) => {
        return object.canreq !== 0 && object.canreq !== "";
      });
      const validation = [
        this.form.codcen === "",
        this.form.desreq === "",
        hasCanreq !== true,
        this.form.selArts.length === 0,
        this.whileSub,
      ];

      return validation.some((elem) => elem === true);
    },

    disabledArt() {},
  },

  methods: {
    async addNewArt() {
      const data = this.modalart;

      await axios
        .post("/modulo/Compras/RequisicionD/RequisicionNewArt", data)
        .then(({ data }) => {
          if (data.success) {
            this.$toast.success(
              "Artículo registrado con éxito, seleccione arriba",
              {
                onclose: setTimeout(2000),
              }
            );
            this.articulos = data.articulos;
          }
        })
        .catch((e) => {
          if (data.error) {
            this.$toast.error("Error al registrar artículo", {
              onclose: setTimeout(2000),
            });
          }
        });
    },

    async sendreq() {
      this.whileSub = true;
      this.form.monreq = this.total;
      const data = this.form;

      await axios
        .post(`/modulo/Compras/RequisicionP/RequisicionPStore`, data)
        .then(({ data }) => {
          if (data.success) {
            this.whileSub = false;
            this.$toast.success(data.message, {
              onclose: setTimeout(() => {
                window.location = data.redirect;
              }, 2000),
            });
          }
        })
        .catch((error) => {
          console.log(error.response);
          if (error.response) {
            this.$toast.error(error.response.data.msg, {
              position: "top-right",
              timeout: 5000,
              closeOnClick: true,
            });
            this.whileSub = false;
          }

          if (error.response.status == 422) {
            this.errors = error.response.data.errors;
            this.whileSub = false;
          }
        });
    },

    async saveReq() {
      !this.whileSub;
      this.form.monreq = this.total;
      const data = this.form;

      if (this.form.selArts.length !== 0) {
        axios
          .post(`/modulo/Compras/RequisicionP/RequisicionPSave`, data)
          .then(({ data }) => {
            if (data.success) {
              this.$toast.success(data.message, {
                onclose: setTimeout(() => {
                  window.location.reload();
                }, 2000),
              });
            }
          });
      }
    },

    async getData() {
      try {
        const res = await axios.get(
          `/modulo/Compras/createRequisicionP/getData`
        );
        this.articulos = res.data.articulos;
        this.articulosMap();
      } catch (error) {
        console.log(error);
      }
    },

    async artExist(val) {
      const data = {
        consulta: val,
      };

      try {
        const res = await axios
          .post(
            `/modulo/Compras/RequisicionD/RequisicionDCreate/artExist`,
            data
          )
          .then(({ data }) => {
            if (data.data === true) {
              this.verif = true; //existe
            } else {
              this.verif = false;
            }
          });
      } catch (error) {
        console.log(error);
      }
    },

    async reqExist(val) {
      const data = {
        consulta: val,
      };

      try {
        const res = await axios
          .post(
            `/modulo/Compras/RequisicionD/RequisicionDCreate/reqExist`,
            data
          )
          .then(({ data }) => {
            if (data.data === true) {
              this.verreq = true; //existe
            } else {
              this.verreq = false;
            }
          });
      } catch (e) {
        console.log(e);
      }
    },

    key(val) {
      val.length === 5 ? (this.modalart.codart = val + "-" + "") : "";
    },

    back() {
      window.location.href = "/modulo/Compras/RequisicionD";
    },

    addArt() {
      this.form.selArts.push(this.selArt);
      this.selArt = null;
    },

    deleteArt(index) {
      this.form.selArts.splice(index, 1);
    },

    modal() {
      this.showModal = true;
    },

    selectLoad(val) {
      let objeto = {};
      for (let i = 0; i < val.length; i++) {
        Object.assign(objeto, val[i]);
      }

      objeto.articulos.forEach((element) => {
        element.cosult = element.costo;
      });

      this.form.date = objeto.fecreq;
      this.form.numero = objeto.reqart;
      this.form.codcen = objeto.codcen;
      this.form.empsol = objeto.empsol;
      this.form.desreq = objeto.desreq;
      this.form.selArts = objeto.articulos;
      this.form.prvsel = objeto.proreq;
      this.form.id = objeto.id;
    },

    async loadPendientes() {
      try {
        const res = await axios.get(
          `/modulo/Compras/createRequisicionP/getPendientes`
        );
        this.pendientes = res.data;
      } catch (error) {
        console.log(error);
      }
    },

    newArtm() {
      this.newArt = !this.newArt;

      this.selArt = null;
    },

    articulosMap() {
      this.articulos.map(function (x) {
        return (x.item = x.codart + " - " + x.desart);
      });

      this.costos.map(function (x) {
        return (x.item = x.codcen + " - " + x.descen);
      });
    },
  },

  watch: {
    reqart: {
      handler: function (val, oldval) {
        if (val.length === 13) {
          this.reqExist(val);
        }
      },
    },
  },

  created() {
    this.getData();
    this.loadPendientes();
    this.form.date = new Date().toJSON().slice(0, 10);
  },

  mounted() {},
};
</script>

<style>
</style>