<template>
<div class="card card-primary card-outline" id="card-cliente">
               
               <form id="formPersona">
               <div class="card-body disabledbutton" id="cardCliente">
                 <div class="form-group row">
                     <label for="tipodocumento" class="col-4 col-form-label">TIPO DE DDOCUMENTO</label> 
                     <div class="col-8">
                     <select class="form-control" style="width: 100%;" tabindex="-1" aria-hidden="true" id="tipodocumento" name="tipodocumento">
                       <option  value="V">V</option>
                       <option  value="E">E</option>
                       <option  value="J">J</option>
                       <option  value="G">G</option>
                       <option  value="P">P</option>
                       <option  value="R">R</option>
                       <option  value="C">C</option>
                   </select>
                     </div>
                     </div>
                    
                   <div class="form-group row">
                     <label for="documento" class="col-4 col-form-label">N° DOCUMENTO</label> 
                     <div class="col-8">
                       <input  name="documento" type="text" class="form-control">
                     </div>
                     </div>

                     <div class="form-group row">
                     <label for="nombre" class="col-4 col-form-label">NOMBRE</label> 
                     <div class="col-8">
                       <input id="nombre" name="nombre" onkeyup="pasarMayusculas(this.value, this.id)"  type="text" class="form-control">
                     </div>
                     </div>

                  <!--    <div class="form-group row">
                      <label for="direccion" class="col-4 col-form-label">Dirección Fiscal</label>
                       <div class="col-8">
                        <textarea type="text" onkeyup="pasarMayusculas(this.value, this.id)" class="form-control" class="@error('direccion') is-invalid @enderror" placeholder="Avenida..." name="direccion" id="direccion"> </textarea>
                       </div>
                       @error('direccion')
                      <div class="alert alert-danger">{!!$message!!}</div>
                       @enderror
                    </div> -->
                   
                   <div class="row">
                   <div class="col-5">
                       <select name="clientes" id="clientes" class="form-control select2" data-dropdown-css-class="select2-danger">
                           <option disabled selected>BUSCAR CLIENTE</option>
                            
                             </select>
                     <!--<button class="btn btn-success"><b>F-1 SELECCIONAR CLIENTE</b></button>-->
                   </div>
                   <div>
                     <button type="button" class="button border1 border11 ml-4 nuevoC" data-toggle="modal" data-target="#nuevocliente"><b>NUEVO CLIENTE</b></button>
                   </div>
                   </div>
              
                 </div>
               </form>
             </div>

</template>
<script>

export default {
    mounted(){
        console.log("llego")
    }
};
</script>