<template>
    <div class="col-lg-8 facturacion"  >
              <div class="card card-primary card-outline">
                <!-- <div class="card-header" style="background: linear-gradient(90deg, blue, purple);">
                  <h5 class="card-title m-0" style="color: white"><i class="fas fa-file-alt"></i><b> DETALLES DE FACTURA</b></h5>
                </div> -->
                <img  height="50px" style="display: block;margin: 0 auto;width: 100%;">
                   <form id="formFacturacion" method="POST">
              
                  <div class="row">
                    <div class="col-6">
           
                        <div class="form-group row mb-2 ml-3">
                          
                        
                        <label for="text1" id="Iva" class="col-4 col-form-label totally"> <i class="fa fa-edit"></i> IVA ()</label> 
                        <div class="col-6">
                          <input TabIndex ='-1' readonly id="iva" name="iva" type="text" value="0" class="form-control mt-1 " style="font-size:180%;font-weight:bold">
                        </div>
                      </div>
                      <div class="form-group row mb-2 ml-3">
                        <label for="descuento" class="col-4 col-form-label totally">DESCUENTO</label> 
                        <div class="col-6">
                          <input TabIndex ='-1' readonly id="descuento" name="descuento" type="text" value="0" class="form-control mt-1"  style="font-size:180%;font-weight:bold">
                        </div>
                      </div>
                        <div class="form-group row mb-2 ml-3 tasa">
                        <label for="tasa" id="labelTasa" class="col-4 col-form-label totally">TASA $</label> 
                        <div class="col-6">
                          <input TabIndex ='-1' readonly id="tasa" name="tasa" type="text" class="form-control mt-1" style="font-size:180%;font-weight:bold;">
                        </div>
                      </div>
                      <div class="form-group row mb-2 ml-3 moneda">
                        <label for="moneda" id="labelMoneda" class="col-4 col-form-label totally" >MONEDA : BOLIVARES </label> 
                      </div>

                      <div class="form-group row mb-2 ml-3 transporte">
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                         <input type="checkbox" class="custom-control-input" id="customSwitch3" name="transporte">
                         <label class="custom-control-label" for="customSwitch3"> TRANSPORTE </label>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-6">
                    
                      <div class="form-group row mb-2">
                        <label for="subtotal" class="col-4 col-form-label totally">SUBTOTAL</label> 
                        <div class="col-6">
                          <input TabIndex ='-1' readonly id="subtotal" name="subtotal" type="text" value="0" class="form-control mt-1"  style="font-size:180%;font-weight:bold">
                        </div>
                      </div>
                      <div class="form-group row mb-2">
                        <label for="total" class="col-4 col-form-label totally">TOTAL</label> 
                        <div class="col-6">
                          <input TabIndex ='-1' readonly id="total" name="total" type="text" value="0" class="form-control mt-1" style="font-size:180%;font-weight:bold">
                        </div>
                      </div>
                      <div class="form-group row mb-2 bolivarrestan">
                        <label for="bolivarrestan" id="labelRestan" class="col-4 col-form-label totally">RESTANTE Bs</label> 
                        <div class="col-6">
                          <input TabIndex ='-1' readonly id="bolivarrestan" name="bolivarrestan" type="text" value="0" class="form-control mt-1"  style="font-size:180%;font-weight:bold;">
                        </div>
                      </div>
                      <div class="form-group row mb-2 tasarestan">
                        <label for="tasa" id="labelTasa" class="col-4 col-form-label totally">RESTANTE $</label> 
                        <div class="col-6">
                          <input TabIndex ='-1' readonly id="tasarestan" name="tasarestan" type="text" value="0" class="form-control mt-1"  style="font-size:180%;font-weight:bold;">
                        </div>
                      </div>

                      <div class="form-group row mb-2 transporcost">
                        <label for="tasa" id="labelTransporcost" class="col-4 col-form-label totally">COSTO TRANSPORTE</label> 
                        <div class="col-6">
                          <input TabIndex ='-1' readonly id="transporcost" name="transporcost" type="text" value="0" class="form-control mt-1"  style="font-size:180%;font-weight:bold;">
                        </div>
                      </div>

                    </div>
                  </div>
                    <div>
                      <input id="inventario" type="hidden" name="inventario">
                    </div>
                    <div>
                      <input id="pagos" type="hidden" name="pagos">
                    </div>
                    <div class="col-6">
                      <input id="monrgo" name="monrgo" type="hidden" >
                    </div>
                    <input type="hidden" id="recargos_json" >
                  <div class="row">
                    <div class="col-12">
                      <div class="input-group ml-3 col-12 cuadroarticulos">
                        <div class="col-5">
                          <select name="articulos" id="articulo" style="width: 90%; text-align: center;"  class="form-control select2 articulos" data-dropdown-css-class="select2-danger" aria-hidden="true">
                            <option disabled selected>BUSCAR ARTICULO</option>
                          </select>  
                        </div>

                         <div class="col-2">
                          <input id="cantidad" value="1" disabled name="cantidad"   type="text" placeholder="CANTIDAD" class="form-control" data-toggle="tooltip" data-html="true" title="">
                         </div>
                         
                         <div class="col-2">
                          <input readonly id="preunit" TabIndex ='-1' name="preunit" type="text" value="0" placeholder="0" class="form-control">
                         </div>


                          <input readonly type="hidden" id="preunit2"  name="preunit2" value="0" placeholder="0" class="form-control">
                       

                         <div class="col-3">
                          <input readonly id="precio" TabIndex ='-1' name="precio" type="text" value="0" placeholder="0" class="form-control">
                          
                         </div>
                         
                           <input readonly type="hidden" id="precio2"  name="precio2" value="0" placeholder="0" class="form-control">
                          
                        </div>

                    <div class="input-group mb-2 mt-4 ml-2 col-12 cuadropagos" style="display: none">
                      <div class="col-3">
                        <select name="fpagos" id="fpagos" class="form-control" data-dropdown-css-class="select2-danger"  aria-hidden="true">
                            <option disabled selected>FORMA DE PAGO</option>
                              </select>

                               <select name="tipocredito" id="tipocredito" class="form-control mt-2" style="display:none" data-dropdown-css-class="select2-danger" aria-hidden="true">
                              <option disabled selected>SELECCIONE</option>
                               <option value="VISA">VISA</option>
                               <option value="MASTERCARD">MASTERCARD</option>
                         </select>
                       </div>

                       <div class="col-3 ml-1">
                          <input id="montopago" name="montopago" value="0" type="text" placeholder="0" class="form-control" data-toggle="tooltip" data-html="true" title="">
                       </div>

                       <div class="col-3 ml-1">
                         <select name="bancos" id="bancos" class="form-control" aria-hidden="true">
                              
                         </select>
                        </div>

                         <div class="col-2 ml-1">
                            <button type="button" id="pagocompleto" disabled class="button ml-1 mb-4 pagartodo"><b>COMPLETO</b>
                            </button>

                          
                             <button type="button" id="pagorestante" style="display: none" disabled class="button pagarrestante ml-1 mb-4"><b>RESTANTE</b>
                            </button>

                             <a type="button" id="monedapago" class="button monedapago btn btn-warning"><i class="fas fa-dollar-sign"></i>
                            </a>
                         </div>

                          <div class="ml-2 mt-1">
                          <!--   <label>Ref.Billete</label> -->
                            <input  type="text" name="refbillete" id="refbillete" placeholder="N° Referencia">
                          </div>
                          <div class="ml-2 mt-1">
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                </div>
                                <input type="text" style="text-align: center"  name="cantcambiar" id="cantcambiar"   value="0" placeholder="0">
                              </div>
                            </div>
                          </div>
                          <div class="ml-2 mt-1">
                            <p style="text-align: center;"><i class="fas fa-equals"></i></p>
                          </div>
                          <div class="ml-2 mt-1">
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                 <span class="input-group-text" >Bs</span>
                                </div>
                               <input type="text" style="text-align: center" readonly  name="montocambiar" id="montocambiar"  value="0" placeholder="0">
                              </div>
                            </div>
                          </div>
                         </div>
                        </div>
                      </div>

                        <!--botones-->
                        <div class="row">
                           <div class="col-4 ml-3">
                             <button type="button" id="añadir" style="display:block;" disabled class="button border1 border11 mt-2 ml-3 añadir"><b><i class="fas fa-plus"></i> AÑADIR ARTICULO</b>
                             </button>
                             
                             <button type="button" id="añadirpago" style="display:none;" disabled class="button mt-2 ml-2 añadirp"><b>AÑADIR PAGO</b></button>
                           </div>
                           
                          <div class="col-4">
                            <button type="button" id="pago" class="button mt-2 ml-4 tpago" style="display:none;"><b>FORMA DE PAGO</b></button>
                            
                              
                            <button type="button" id="listarticulos" style="display:none" class="button mt-2 ml-2 tart"><b>ARTICULOS</b>
                            </button>
                        
                          </div>
                          
                      </div>
                       
                        </form>
                       
                      <div class="card-body table-responsive p-0" id="artitabla" style="height: 600px;display:block">
                        <table class="table table-head-fixed">
                          <thead>
                            <tr style="text-align:center">
                              <th>°</th>
                              <th>CODIGO</th>
                              <th>ARTICULO</th>
                              <th>DIVISA</th>
                              <th>PRECIO</th>
                              <th>SERIAL</th>
                              <th>CANTIDAD</th>
                              <th>DESCUENTO</th>
                              <th>DESCONTADO</th>
                              <th>IVA</th>
                              <th>ACCION</th>

                            </tr>
                          </thead>
                          <tbody class="arts">
                           <!--  <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr> -->
                          </tbody>
                        </table>
                      </div>
                        <div class="card-body table-responsive p-0" id="pagotabla" style="height: 300px; display:none">
                        <table class="table table-head-fixed">
                          <thead>
                            <tr style="text-align:center">
                              <th>°</th>
                              <th>MONEDA</th>
                              <th>FORMATO</th>
                              <th>MONTO</th>
                              <th>BANCO</th>
                              <th>CREDITO</th>
                              <th>REF</th>
                              <th>ACCION</th>
                            </tr>
                          </thead>
                          <tbody class="cosaspagos">
                           <!--  <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr> -->
                          </tbody>
                        </table>
                      </div>
                    </div>
                    </div>
    </div>
</template>