<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="card card-info">
            <div class="card-header">
              <p class="card-text">
                REGISTRAR NOTA DE ENTREGA DE FACTURACION
              </p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-1">
                  <div class="form-group">
                    <label for="fecnota">Fecha</label>
                    <div class="input-group">
                      <input
                        type="text"
                        v-model="form.date"
                        disabled
                        class="form-control"
                      >
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="fecnota">Cajero</label>
                    <div class="input-group">
                      <input
                        type="text"
                        v-model="user.nomuse"
                        disabled
                        class="form-control"
                      >
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="cliente">Cliente</label>
                    <v-select
                      placeholder="Seleccione un cliente"
                      :options="clientes"
                      label="item"
                      v-model="form.codcli"
                      :reduce="(cli) => cli.codpro"
                    />
                  </div>
                </div>
                <div class="col-sm-1">
                  <div class="form-group">
                    <label
                      for="fecnota"
                      style="opacity: 0;"
                    >aux</label>
                    <div class="input-group">
                      <a
                        type="button"
                        class="btn btn-info"
                        data-toggle="modal"
                        data-target="#nuevocliente"
                      ><b>Nuevo Cliente</b></a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="tipmon">Moneda</label>
                    <div class="input-group">
                      <select
                        name="moneda"
                        id=""
                        class="form-control"
                        v-model="form.tipmon"
                      >
                        <option
                          value="0"
                          disabled
                        >Seleccione una moneda</option>
                        <option value="0">DOLLAR</option>
                        <option
                          :value="moneda.codigoid"
                          v-for="moneda in monedas"
                          :key="moneda.id"
                        >
                          {{ moneda.nombre }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="forpag">Forma de pago</label>
                    <v-select
                      name="forpag"
                      placeholder="Seleccione una forma de pago"
                      :options="formas"
                      label="destippag"
                      v-model="form.forpag"
                      :reduce="(el) => el.destippag"
                    />
                  </div>
                </div>
              </div>
              <div
                class="row"
                v-if="pagos.includes(form.forpag)"
              >
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="banco">Bancos</label>
                    <v-select
                      name="banco"
                      placeholder="Seleccione un banco"
                      :options="bancos"
                      label="nomban"
                      v-model="form.banco"
                      :reduce="(el) => el.id"
                    />
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="refer">Referencia</label>
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        v-model="form.refer"
                        name="refer"
                      >
                    </div>
                  </div>
                </div>

              </div>
              <div>
                <div class="row p-4">
                  <h4>Artículos</h4>
                  <div class="table-responsive table-wrapper">
                    <table
                      class="table table-hover table-bordered"
                      style="width: 100%"
                    >
                      <thead>
                        <tr style="text-align: center">
                          <th>Nro.</th>
                          <th>Artículo</th>
                          <th>Precio</th>
                          <th>Serial</th>
                          <th>Cantidad</th>
                          <th>Descuento</th>
                          <th>Recargo</th>
                          <th>Subtotal</th>
                          <th>Descuento</th>
                          <th>IVA</th>
                          <th>Total</th>
                          <th>Total ($)</th>
                          <th>Acción</th>
                        </tr>
                      </thead>

                      <tbody style="text-align: center">
                        <tr
                          v-for="(art, index) in arts"
                          :key="index"
                        >
                          <td>{{ index }}</td>
                          <td>
                            <v-select
                              id="mySelect"
                              style="width: 500px;"
                              placeholder="Seleccione un artículo"
                              :options="articulos"
                              label="item"
                              :reduce="(art) => art.codart"
                              v-model="art.codart"
                              @input="getArt"
                            />
                          </td>

                          <td>
                            <input
                              class="form-control"
                              placeholder="0.00"
                              name="unimed[]"
                              type="number"
                              v-model="art.precio"
                              readonly
                            />
                          </td>

                          <td>

                            <button
                              type="button"
                              class="btn btn-outline-light"
                              @click="getSeriales(art.codart), artModal = art.codart"
                              data-toggle="modal"
                              data-target="#serialModal"
                              v-if="art.isserial === true"
                            >
                              <i class="fa fa-book blue"></i>

                            </button>
                          </td>

                          <td>
                            <input
                              class="form-control"
                              placeholder="Ej: 10.00"
                              v-model="art.cantart"
                              type="number"
                              min="0.01"
                              step="0.01"
                              @input="getCant(art.cantart, index)"
                            />
                          </td>
                          <td>
                            <select
                              name="descuento"
                              id=""
                              class="form-control"
                              v-model="art.descto"
                            >
                              <option
                                v-for="des in descuentos"
                                :key="des.id"
                                :value="des.mondesc"
                              >{{ des.desdesc }}</option>
                            </select>
                          </td>
                          <td>
                            <select
                              class="form-control"
                              name="recargos"
                              id=""
                              v-model="art.monrgo"
                            >
                              <option
                                value="0"
                                selected
                              >SIN RECARGO</option>
                              <option
                                v-for="recargo in recargos"
                                :key="recargo.id"
                                :value="recargo.monrgo"
                              >{{ recargo.nomrgo }}</option>
                            </select>
                          </td>

                          <td>
                            <input
                              type="number"
                              class="form-control"
                              disabled
                              step="any"
                              v-model="art.subtotal"
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              disabled
                              step="any"
                              v-model="art.mondes"
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              disabled
                              step="any"
                              v-model="art.totrgo"
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              step="any"
                              disabled
                              v-model="art.totart"
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              step="any"
                              disabled
                              v-model="art.montasa"
                            />
                          </td>

                          <td style="align-content: center">
                            <a
                              href="#"
                              class="btn btn-outline-light"
                              @click="deleteArt(index)"
                            >
                              <i class="fa fa-trash red"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div
                  class="row"
                  style="display: flex; justify-content: flex-end"
                >
                  <button
                    class="btn btn-primary m-4"
                    @click="addart()"
                  >
                    Añadir artículo
                  </button>
                </div>

                <div
                  class="row mx-4"
                  style="display: flex; justify-content: flex-end"
                >

                  <div class="col-sm-1">
                    <div class="form-group">
                      <label for="tasa">Tasa del día</label>
                      <div class="input-group">
                        <input
                          type="number"
                          class="form-control"
                          readonly
                          v-model="tasa.valor"
                          name="tasa"
                        >
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-1">
                    <label for="monto">Subtotal:</label>
                    <input
                      type="number"
                      class="form-control"
                      v-model="form.subtotalNota"
                      step="0.01"
                      readonly
                    />
                  </div>

                  <div class="col-sm-1">
                    <label for="monto">Descuento:</label>
                    <input
                      type="number"
                      class="form-control"
                      v-model="form.descuentoNota"
                      step="0.01"
                      readonly
                    />
                  </div>
                  <div class="col-sm-1">
                    <label for="monto">IVA:</label>
                    <input
                      type="number"
                      class="form-control"
                      v-model="form.ivaNota"
                      step="0.01"
                      readonly
                    />
                  </div>
                  <div class="col-sm-1">
                    <label for="monto">Total:</label>
                    <input
                      type="number"
                      class="form-control"
                      v-model="form.totalNota"
                      step="0.01"
                      readonly
                    />
                  </div>
                  <div class="col-sm-1">
                    <label for="monto">Total ($):</label>
                    <input
                      type="number"
                      class="form-control"
                      v-model="form.tasaNota"
                      step="0.01"
                      readonly
                    />
                  </div>
                </div>

                <!-- MODAL PARA ARTÍCULOS -->

              </div>
            </div>
            <div class="card-footer">
              <a
                class="btn btn-default ml-4"
                @click="closeBox()"
              ><i class="fas fa-chevron-circle-left"></i><b> Volver</b></a>
              <button
                type="submit"
                class="btn btn-success"
                @click="sendNota"
              >
                Guardar
              </button>
              <!--  -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="nuevocliente"
      tabindex="-1"
      role="dialog"
      aria-labelledby="nuevocliente"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="nuevoclientelabel"
            ><b> Agregar Cliente</b></h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body content-centered">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="tipodocumento">Tipo de documento</label>
                  <select
                    class="form-control"
                    style="width: 100%;"
                    data-select2-id="1"
                    tabindex="-1"
                    aria-hidden="true"
                    name="tipodocumento"
                    v-model="cliente.tipodocumento"
                  >
                    <option
                      selected
                      value="V"
                    >V</option>
                    <option value="E">E</option>
                    <option value="J">J</option>
                    <option value="G">G</option>
                    <option value="P">P</option>
                    <option value="R">R</option>
                    <option value="C">C</option>
                  </select>
                  <span
                    dir="ltr"
                    data-select2-id="2"
                    style="width: 100%;"
                  ></span>

                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label>Numero de documento</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">V/J</span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      @blur="persona()"
                      placeholder="Ejem: 1234567"
                      name="documento"
                      id="cedularifcliente"
                      v-model="cliente.cedularif"
                    >
                  </div>

                </div>
              </div>
            </div>

            <div class="form group">
              <label for="nombre">Nombre o razón social</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Aa</span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  onkeyup="pasarMayusculas(this.value, this.id)"
                  placeholder="Ejem: Juan Gutierrez"
                  name="nombre"
                  id="nombre"
                  v-model="cliente.nombre"
                >
              </div>

            </div>

            <div class="form group">
              <label for="direccion">Dirección Fiscal</label>
              <div class="input-group mb-3">
                <textarea
                  type="text"
                  class="form-control"
                  placeholder="Dirección Fiscal..."
                  name="direccion"
                  id="direccion"
                  v-model="cliente.direccion"
                > </textarea>
              </div>

            </div>

            <div class="form group">
              <label for="telefono">Numero de teléfono</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-phone-square"></i></span>
                </div>
                <input
                  type="tel"
                  class="form-control"
                  placeholder="Ejem: 041..."
                  name="telefono"
                  onKeypress="javascript:return NumerosReales(event)"
                  id="telefonocliente"
                  v-model="cliente.telefono"
                >
              </div>

            </div>

            <div class="form group">
              <label for="email">Correo Electrónico</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Ejem: Juan@email.com"
                  name="email"
                  id="emailcliente"
                  v-model="cliente.email"
                >
              </div>

            </div>

          </div> <!--modal body -->

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-dismiss="modal"
            ><b> Cerrar</b></button>
            <button
              type="button"
              class="btn btn-success"
              id="guardarCliente"
              @click="newClient"
            ><b> Guardar</b></button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="serialModal"
      role="dialog"
      aria-labelledby="cajaModalLabel"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-lg"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="exampleModalLabel"
            >Seriales</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <label for="Serial">Buscar</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Serial"
                  aria-label="Serial"
                  aria-describedby="basic-addon2"
                  v-model="search"
                >
              </div>
              <hr>
              <div class="row">
                <table
                  class="table table-hover"
                  v-if="seriales!== null"
                >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Serial</th>
                      <th>Activar</th>
                    </tr>
                  </thead>
                  <tbody :name="artModal">
                    <tr
                      v-for="(ser, index) in seriales"
                      :key="ser.serial"
                    >
                      <td>{{ index }}</td>
                      <td>{{ ser.serial }}</td>
                      <td>
                        <input
                          type="checkbox"
                          :id="ser"
                          @change="ser.checked = !ser.checked, pushSerial(ser, index)"
                        >
                      </td>
                    </tr>
                  </tbody>
                  <p></p>
                </table>
                <div
                  class="container"
                  style="width: auto;"
                  v-else
                >
                  <p class="font-italic font-weight-bold">{{ msgSerial }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >Cerrar</button>
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              @click="saveSerial()"
            >Guardar</button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="cajaModal"
      role="dialog"
      aria-labelledby="cajaModalLabel"
      data-backdrop="static"
      data-keyboard="false"
      aria-hidden="true"
      ref="modal"
    >
      <div
        class="modal-dialog"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="cajaModalLabel"
            >Elija una caja</h5>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="caja">Cajas asociadas</label>
              <div class="col-sm-12">
                <select
                  name="caja"
                  id="caja"
                  class="form-control"
                  placeholder="Seleccione una caja"
                  v-model="cajaSelected"
                >
                  <option
                    value="0"
                    disabled
                  >Seleccione una caja</option>
                  <option
                    v-for="caja in cajas"
                    :key="caja.codcaja"
                    :value="caja.codcaja"
                  >{{ caja.caja.descaj }}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="pass">Contraseña</label>
              <div class="col-sm-12">
                <input
                  type="password"
                  class="form-control"
                  v-model="passCaja"
                  @keyup.enter="cajaAuth()"
                >
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a
              class="btn btn-default ml-4"
              v-bind:href="'/modulo/Facturacion/NotaEntrega'"
            ><i class="fas fa-chevron-circle-left"></i><b> Volver</b></a>
            <button
              type="button"
              class="btn btn-primary"
              @click="cajaAuth()"
              :disabled="cajaDisable"
            >ABRIR CAJA</button>
          </div>
        </div>
      </div>
    </div>

  </section>

</template>

<script>
import Axios from "axios";

export default {
  props: {
    numero: {
      type: String,
    },
    user: {
      type: Object,
    },
    tasa: {
      type: Object,
    },
    articulos: {
      type: Array,
    },
    recargos: {
      type: Array,
    },
    descuentos: {
      type: Array,
    },
    monedas: {
      type: Array,
    },
    bancos: {
      type: Array,
    },
    cajas: {
      type: Array,
    },
  },
  data() {
    return {
      clientes: [],
      formas: [],
      arts: [],
      seriales: [],
      artModal: null,
      msgSerial: null,
      search: "",
      btnDisplay: false,
      selectSeriales: [],
      cajaSelected: null,
      passCaja: "",
      form: {
        date: null,
        codcli: null,
        forpag: null,
        refer: null,
        totalNota: 0,
        subtotalNota: 0,
        ivaNota: 0,
        descuentoNota: 0,
        tasaNota: 0,
        tipmon: null,
        banco: null,
      },
      cliente: {
        tipodocumento: "V",
        cedularif: null,
        nombre: null,
        direccion: null,
        telefono: null,
        email: null,
      },
      pagos: ["DEPOSITO", "TRANSFERENCIA"],
    };
  },
  computed: {
    cajaDisable() {
      if (this.cajaSelected === null || this.passCaja === "") {
        return true;
      } else {
        return false;
      }
    },
  },
  methods: {
    async sendNota() {
      this.form.tasa = this.tasa.codigoid;
      this.form.caja = this.cajaSelected;
      this.form.arts = this.arts;
      const data = this.form;
      try {
        const res = await Axios.post(
          `/modulo/Facturacion/NotaEntrega/store`,
          data
        ).then(({ data }) => {
          if (data.success) {
            this.$toast.success(data.message, {
              onclose: setTimeout(() => {
                window.location = data.redirect;
              }, 2000),
            });
          }
        });
      } catch (error) {
        if (error.response.status === 422) {
          const validations = Object.values(error.response.data.errors);
          console.log(validations);
          validations.forEach((element) => {
            this.$toast.warning(element.join(" "), {
              timeout: 2500,
            });
          });
        }
      }
    },

    async cajaAuth() {
      try {
        const data = {
          id: this.cajaSelected,
          id2: this.passCaja,
        };

        const res = await axios.post(
          `/modulo/Seguridad/ReiniciarContraCaja/CedulaUSer/loginCajas/{id?}/{id2?}`,
          data
        );

        if (res.data.status !== null) {
          this.$toast.success(res.data.logueado, { duration: 2000 });
          let element = this.$refs.modal;
          $(element).modal("hide");
        } else {
          this.$toast.error(res.data.logueado, {
            duration: 2000,
          });
        }
      } catch (error) {
        console.log(error);
      }
    },

    async closeBox() {
      await axios
        .get(`/modulo/Facturacion/NotaEntrega/closeCaja`)
        .then(({ data }) => {
          this.$toast.success(data.titulo, {
            duration: 2000,
            onclose: setTimeout(() => {
              window.location = data.redirect;
            }, 2000),
          });
        });
    },

    async getData() {
      try {
        const res = await Axios.get(`/modulo/Facturacion/NotaEntrega/getData`);
        this.clientes = res.data.clientes;
        this.formas = res.data.fpagos;
      } catch (error) {
        console.log(error);
      }
    },

    async persona() {
      let url = "/modulo/ConfiguracionGenerales/Clientes/getPersonaJsonFactura";

      await Axios.get(url, {
        params: {
          tipodocumento: this.cliente.tipodocumento,
          cedularif: this.cliente.cedularif,
        },
      })
        .then(({ data }) => {
          this.$toast.success("Cliente encontrado", {
            onclose: setTimeout(2000),
          });
          if (data.titulo === "encontrado") {
            this.cliente.nombre = data.cliente.nompro;
            this.cliente.direccion = data.cliente.dirpro;
            this.cliente.telefono = data.cliente.telpro;
            this.cliente.email = data.cliente.email;
          } else {
            let response = JSON.parse(data);
            const str = response.response.direccion;
            const index = str.indexOf("Registro");
            const substr = str.slice(0, index);
            this.cliente.nombre = response.response.completo;
            this.cliente.direccion = substr;
            this.cliente.telefono = "";
            this.cliente.email = "";
          }
        })
        .catch((e) => {
          this.$toast.error("Error al buscar información", {
            onclose: setTimeout(2000),
          });
        });
    },

    async newClient() {
      let url = "/modulo/Facturacion/NotaEntrega/newCliente";

      try {
        const res = await Axios.post(url, this.cliente).then(({ data }) => {
          console.log(data);
          if (data.success) {
            this.$toast.success(data.message, {
              onclose: setTimeout(2000),
            });
            this.clientes = data.clientes;
          } else {
            this.$toast.error(data.message, {
              onclose: setTimeout(2000),
            });
          }
        });
        console.log(res);
      } catch (error) {
        console.log(error);
      }
    },

    async getSeriales(val, serial) {
      let isSerial;
      let index = this.arts.findIndex((el) => el.codart === val);
      this.arts[index].seriales = [];
      serial !== null ? (isSerial = true) : (isSerial = false);
      const res = await Axios.get(
        "/modulo/Facturacion/Facturacionv2/getSeriales",
        {
          params: {
            codart: val,
            serial: serial,
            isSeriales: isSerial,
          },
        }
      )
        .then(({ data }) => {
          if (data.msg) {
            this.seriales = null;
            this.msgSerial = data.msg;
          } else {
            this.seriales = data.seriales.map((string) => ({
              serial: string,
              checked: false,
            }));
          }
        })
        .catch((e) => {
          console.log(e);
          this.$toast.error(
            "Se ha encontrado un error al buscar los seriales de este artículo"
          );
        });
    },

    addart() {
      this.arts = [...this.arts, { codcli: this.form.codcli }];
    },

    deleteArt(index) {
      this.arts.splice(index, 1);
    },

    getArt(val) {
      console.log(val);
      let index = this.arts.findIndex((el) => el.codart === val);
      let art = this.articulos.find((el) => el.codart === val);

      this.arts[index].precio = art.faartpvp.pvpart;
      this.arts[index].isserial = art.isserial;
      this.arts[index].cantidad = art.inventario.exiact;
      this.arts[index].codalm = art.inventario.codalm;
      this.arts[index].seriales = [];
    },

    getCant(cant, index) {
      let art = this.arts[index];
      let seriales = art.seriales;
      let isserial = art.isserial;
      let cantidad = parseInt(art.cantidad);
      if (isserial) {
        if (cant > seriales.length || cant > cantidad) {
          art.cantart = "";
          this.$toast.error("Cantidad inválida", { duration: 500 });
        }
      } else {
        if (cant > cantidad) {
          art.cantart = "";
          this.$toast.error("Cantidad inválida", { duration: 500 });
        }
      }
    },

    pushSerial(val) {
      let index = this.arts.findIndex((el) => el.codart === this.artModal);
      if (!this.selectSeriales[index]) {
        this.selectSeriales[index] = [];
      }
      if (val.checked) {
        this.selectSeriales[index].push(val.serial);
      } else {
        let aux = this.selectSeriales[index].indexOf(val.serial);
        if (aux !== -1) {
          this.selectSeriales[index].splice(aux, 1);
        }
      }
    },

    async checkCaja() {
      await axios
        .get("/modulo/Facturacion/NotaEntrega/checkCaja")
        .then(({ data }) => {
          !data.caja ? this.showModal() : "";
        });
    },

    saveSerial() {
      let index = this.arts.findIndex((el) => el.codart === this.artModal);
      this.arts[index].seriales = this.selectSeriales[index];

      console.log(this.arts);
    },

    precios() {
      let tasa = this.tasa.valor;
      this.arts.map(function (articulo) {
        if (articulo.cantart && articulo.precio) {
          articulo.subtotal =
            parseFloat(articulo?.cantart) * parseFloat(articulo?.precio ?? 0);
        } else {
          articulo.subtotal = 0;
        }
        articulo.subtotal = articulo.subtotal.toFixed(2);

        if (articulo.subtotal && articulo.descto) {
          articulo.mondes =
            (parseFloat(articulo?.subtotal) * parseFloat(articulo?.descto)) /
            100;
        } else {
          articulo.mondes = 0;
        }
        articulo.mondes = articulo.mondes.toFixed(2);

        if (articulo.subtotal && articulo.mondes && articulo.monrgo) {
          articulo.totrgo =
            ((parseFloat(articulo?.subtotal) - parseFloat(articulo?.mondes)) *
              parseFloat(articulo?.monrgo)) /
            100;
        } else {
          articulo.totrgo = 0;
        }
        articulo.totrgo = articulo.totrgo.toFixed(2);

        if (articulo.subtotal && articulo.monrgo && articulo.mondes) {
          articulo.totart =
            parseFloat(articulo?.subtotal) -
            parseFloat(articulo?.mondes) +
            parseFloat(articulo?.totrgo);
        } else {
          articulo.totart = 0;
        }

        articulo.totart = articulo.totart.toFixed(2);

        if (articulo.totart) {
          articulo.montasa = parseFloat(articulo?.totart) / parseFloat(tasa);
        } else {
          articulo.montasa = 0;
        }
        articulo.montasa = articulo.montasa.toFixed(2);

        return (
          articulo.totart,
          articulo.mondes,
          articulo.subtotal,
          articulo.totrgo,
          articulo.montasa
        );
      });

      this.$forceUpdate();
    },

    totales() {
      let total = 0;
      let subtotal = 0;
      let descuento = 0;
      let impuesto = 0;
      let totalTasa = 0;
      for (let prop in this.arts) {
        total += parseFloat(this.arts[prop].totart);
        subtotal += parseFloat(this.arts[prop].subtotal);
        descuento += parseFloat(this.arts[prop].mondes);
        impuesto += parseFloat(this.arts[prop].totrgo);
        totalTasa += parseFloat(this.arts[prop].montasa);
      }

      this.form.totalNota = total.toFixed(2);
      this.form.descuentoNota = descuento.toFixed(2);
      this.form.subtotalNota = subtotal.toFixed(2);
      this.form.ivaNota = impuesto.toFixed(2);
      this.form.tasaNota = totalTasa.toFixed(2);
    },

    showModal() {
      let element = this.$refs.modal;
      $(element).modal("show");
    },
  },

  watch: {
    search: {
      handler: function (val, oldVal) {
        if (val !== "") {
          this.getSeriales(this.artModal, val);
        } else {
          this.getSeriales(this.artModal);
        }
      },
      deep: true,
    },

    arts: {
      deep: true,
      handler: function (after) {
        this.precios();
        this.totales();
      },
    },
  },

  created() {
    this.getData();
    this.form.tipmon = "1-0001";
    this.form.date = new Date().toJSON().slice(0, 10);

    this.articulos.map(function (x) {
      return (x.item = x.codart + " - " + x.desart);
    });
  },
  updated() {
    this.clientes.map(function (x) {
      return (x.item = x.nompro + " - " + x.codpro);
    });
  },

  mounted() {
    //this.showModal();
    this.checkCaja();
  },
};
</script>

<style scoped>
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  /* -moz-appearance: textfield; */
  text-align: right;
}

#mySelect .v-select .dropdown-toggle {
  border: none;
  width: 300px;
}
.table-wrapper {
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 66.4vh;
  margin-top: 22px;
  height: 500px;

  margin: 15px;
  padding-bottom: 20px;
}

table {
  min-width: max-content;
  border-spacing: 0px;
}

table th {
  position: sticky;
  top: 0px;
  text-align: center;
}

table th,
table td {
  position: sticky;
  padding-top: 10px;
  padding-bottom: 10px;
}

table td {
  text-align: center;
}
</style>