<template>
  <div>
    <!-- <p>{{ nota }}</p> -->
    <section class="content">
      <p
        class="text-center text-danger"
        v-if="nota.status === 'ANULADA'"
      > <b>Razón de anulación: {{ nota.motanu }}</b> </p>

      <div class="container-fluid">
        <div class="col-14">
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title mt-2">Detalles de Nota de Entrega</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-1">
                  <div class="form-group">
                    <label for="empsol">Fecha</label>
                    <input
                      type="text"
                      class="form-control"
                      disabled
                      v-model="nota.fecnota"
                    >
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="empsol">Código</label>
                    <input
                      type="text"
                      class="form-control"
                      disabled
                      v-model="nota.codnota"
                    >
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="empsol">Cajero</label>
                    <input
                      type="text"
                      class="form-control"
                      disabled
                      v-model="nota.cajero.nomuse"
                    >
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="empsol">Caja</label>
                    <input
                      type="text"
                      class="form-control"
                      disabled
                      v-model="nota.caja.descaj"
                    >
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="empsol">Cliente</label>
                    <input
                      type="text"
                      class="form-control"
                      disabled
                      v-model="nota.cliente.nompro"
                    >
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="empsol">Estado</label>
                    <input
                      type="text"
                      class="form-control"
                      disabled
                      v-model="nota.status"
                    >
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="forpag">Moneda</label>
                    <input
                      type="text"
                      class="form-control"
                      disabled
                      v-model="nota.moneda.nombre"
                    >
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="forpag">Forma de pago</label>
                    <input
                      type="text"
                      class="form-control"
                      disabled
                      v-model="nota.tippag"
                    >
                  </div>
                </div>
                <div
                  class="col-sm-3"
                  v-if="pagos.includes(nota.tippag)"
                >
                  <div class="form-group">
                    <label for="banco">Banco</label>
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        v-model="nota.banco.nomban"
                        name="banco"
                        disabled
                      >
                    </div>
                  </div>

                </div>
                <div
                  class="col-sm-3"
                  v-if="pagos.includes(nota.tippag)"
                >
                  <div class="form-group">
                    <label for="refer">Referencia</label>
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        v-model="nota.refer"
                        name="refer"
                        disabled
                      >
                    </div>
                  </div>

                </div>

              </div>
              <div class="row p-4">
                <h4>Artículos</h4>
                <div class="table-responsive table-wrapper">
                  <table
                    class="table table-hover table-bordered"
                    style="width: 100%;"
                  >
                    <thead>
                      <tr style="text-align: center;">
                        <th>Nro.</th>
                        <th>Artículo</th>
                        <th>Precio</th>
                        <th>Seriales</th>
                        <th>Cantidad</th>
                        <th>Descuento</th>
                        <th>Recargo</th>
                        <th>Subtotal</th>
                        <th>Total</th>
                        <th>Total ($)</th>
                      </tr>
                    </thead>
                    <tbody style="text-align: center;">
                      <tr
                        v-for="(art, index) in nota.articulos"
                        :key="index"
                      >
                        <td>{{ index }}</td>
                        <td>
                          <input
                            type="text"
                            readonly
                            class="form-control"
                            v-model="art.codart + ' - ' + art.articulo.desart"
                          >
                        </td>
                        <td>
                          <input
                            type="number"
                            readonly
                            class="form-control"
                            v-model="art.costos.pvpart"
                          >
                        </td>
                        <td>
                          <button
                            type="button"
                            class="btn btn-outline-light"
                            data-toggle="modal"
                            data-target="#serialModal"
                            v-if="art.isserial"
                            @click="getSeriales(art.codart)"
                          >
                            <i class="fa fa-book blue"></i>

                          </button>
                        </td>
                        <td>
                          <input
                            type="number"
                            readonly
                            class="form-control"
                            v-model="art.cantart"
                          >
                        </td>
                        <td>
                          <input
                            type="number"
                            readonly
                            class="form-control"
                            v-model="art.mondes"
                          >
                        </td>
                        <td>
                          <input
                            type="number"
                            readonly
                            class="form-control"
                            v-model="art.totrgo"
                          >
                        </td>
                        <td>
                          <input
                            type="number"
                            readonly
                            class="form-control"
                            v-model="art.subtotal"
                          >
                        </td>
                        <td>
                          <input
                            type="number"
                            readonly
                            class="form-control"
                            v-model="art.totart"
                          >
                        </td>
                        <td>
                          <input
                            type="number"
                            readonly
                            class="form-control"
                            v-model="art.montasa"
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div
                class="row mx-4"
                style="display: flex; justify-content: flex-end"
              >

                <div class="col-sm-1">
                  <div class="form-group">
                    <label for="tasa">Tasa del día</label>
                    <div class="input-group">
                      <input
                        type="number"
                        class="form-control"
                        readonly
                        name="tasa"
                        v-model="nota.tasa.valor"
                      >
                    </div>
                  </div>
                </div>

                <div class="col-sm-1">
                  <label for="monto">Subtotal:</label>
                  <input
                    type="number"
                    class="form-control"
                    v-model="nota.subtotal"
                    step="0.01"
                    readonly
                  />
                </div>

                <div class="col-sm-1">
                  <label for="monto">Descuento:</label>
                  <input
                    type="number"
                    class="form-control"
                    v-model="nota.mondes"
                    step="0.01"
                    readonly
                  />
                </div>
                <div class="col-sm-1">
                  <label for="monto">IVA:</label>
                  <input
                    type="number"
                    class="form-control"
                    v-model="nota.monrecargo"
                    step="0.01"
                    readonly
                  />
                </div>
                <div class="col-sm-1">
                  <label for="monto">Total:</label>
                  <input
                    type="number"
                    class="form-control"
                    v-model="nota.monto"
                    step="0.01"
                    readonly
                  />
                </div>
                <div class="col-sm-1">
                  <label for="monto">Total ($):</label>
                  <input
                    type="number"
                    class="form-control"
                    v-model="nota.montasa"
                    step="0.01"
                    readonly
                  />
                </div>
              </div>
            </div>
            <div class="card-footer">
              <a
                class="btn btn-default ml-4"
                v-bind:href="'/modulo/Facturacion/NotaEntrega'"
              ><i class="fas fa-chevron-circle-left"></i><b> Volver</b></a>
              <button
                class="btn btn-warning"
                @click="sendDevolcion"
                v-if="nota.status !== 'ANULADA'"
              >
                <i class="fa fa-undo"></i>
                Devolver</button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="modal fade"
        id="serialModal"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-lg"
          role="document"
        >
          <div class="modal-content">
            <div class="modal-header">
              <h5
                class="modal-title"
                id="exampleModalLabel"
              >Seriales</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">

                <div class="row">
                  <table
                    class="table table-hover"
                    v-if="seriales!== null"
                  >
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Serial</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(ser, index) in seriales"
                        :key="ser.serial"
                      >
                        <td>{{ index }}</td>
                        <td>{{ ser.serial }}</td>

                      </tr>
                    </tbody>
                    <p></p>
                  </table>
                  <div
                    class="container"
                    style="width: auto;"
                    v-else
                  >
                    <p class="font-italic font-weight-bold">{{ msgSerial }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >Cerrar</button>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</template>

<script>
export default {
  props: {
    nota: {
      type: Object,
    },
  },
  data() {
    return {
      pagos: ["DEPOSITO", "TRANSFERENCIA"],
      seriales: [],
    };
  },

  methods: {
    async getSeriales(codart) {
      const data = {
        factura: this.nota.codnota,
        codart: codart,
      };
      console.log(data);
      const res = await axios
        .post("/modulo/Facturacion/Facturacion/Serial", data)
        .then(({ data }) => {
          console.log(data);
          this.seriales = data.seriales;
        });
    },

    async sendDevolcion() {
      const data = {
        codcaja: this.nota.codcaj,
        codnota: this.nota.codnota,
      };

      Swal.fire({
        title: "Ingrese un motivo de anulación",
        input: "text",
        inputAttributes: {
          autocapitalize: "on",
        },
        showCancelButton: true,
        confirmButtonText: "Confirmar",
        showLoaderOnConfirm: true,
        preConfirm: async (login) => {
          try {
            const data = {
              codcaja: this.nota.codcaj,
              codnota: this.nota.codnota,
              motanu: login,
            };
            const res = await axios.post(
              `/modulo/Facturacion/NotaEntrega/devolucion`,
              data
            );
            Swal.fire({
              title: "Éxito",
              text: res.data.message,
              icon: "success",
              onClose: () => {
                window.location.href = "/modulo/Facturacion/NotaEntrega";
              },
            });
          } catch (error) {
            Swal.showValidationMessage(`
        Request failed: ${error.response.data.errors.motanu[0]}
      `);
          }
        },
        allowOutsideClick: () => !Swal.isLoading(),
      }).then((result) => {
        console.log(result);
      });
    },
  },

  watch: {
    search: {
      handler: function (val, oldVal) {
        //console.log(val);
        if (val !== "") {
          this.getSeriales(this.artModal, val);
        } else {
          this.getSeriales(this.artModal);
        }
      },
      deep: true,
    },
  },
};
</script>

<style scoped>
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  /* -moz-appearance: textfield; */
  text-align: right;
}

#mySelect .v-select .dropdown-toggle {
  border: none;
  width: 300px;
}
.table-wrapper {
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 66.4vh;
  margin-top: 22px;
  height: 500px;

  margin: 15px;
  padding-bottom: 20px;
}

table {
  min-width: max-content;
  border-spacing: 0px;
}

table th {
  position: sticky;
  top: 0px;
  text-align: center;
}

table th,
table td {
  position: sticky;
  padding-top: 10px;
  padding-bottom: 10px;
}

table td {
  text-align: center;
}
</style>