<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">

          <div
            class="card-header"
            v-if="type === 'creating'"
          >
            <strong>REGISTRAR TURNO</strong>
          </div>

          <div
            class="card-header"
            v-if="type === 'editing'"
          >
            <strong>EDITAR TURNO</strong>
          </div>

          <div v-if="type === 'creating'">

            <div class="card-body">
              <div class="row">

                <div class="col-sm-6 col-md-6">
                  <label>Caja</label>
                  <v-select
                    placeholder="Seleccione una caja"
                    :options="cajas"
                    v-model="form.caja"
                    :reduce="(cajas) => cajas.id"
                    label="descaj"
                    @input="getCajeros"
                  />
                </div>

                <div class="col-sm-6 col-md-6">
                  <label>Cajero</label>
                  <v-select
                    placeholder="Seleccione un cajero"
                    :options="cajeros"
                    v-model="form.cajero"
                    :reduce="(cajeros) => cajeros.cedula"
                    label="loguse"
                  />
                </div>

                <div class="col-sm-6 col-md-6">
                  <label>Tipo Turno</label>
                  <v-select
                    placeholder="Seleccione un turno"
                    :options="turnos"
                    v-model="form.tipoturno"
                    :reduce="(turnos) => turnos.value"
                    label="label"
                  />

                </div>

                <div class="col-sm-6 col-md-6">
                  <label>Supervisor</label>
                  <v-select
                    placeholder="Seleccione un supervisor"
                    :options="supervisores"
                    v-model="form.supervisor"
                    :reduce="(supervisores) => supervisores.cedemp"
                    label="nomuse"
                  />
                </div>

              </div>
            </div>

            <div class="card-footer">
              <div class="d-flex">
                <button
                  class="btn btn-secondary"
                  @click.prevent="back"
                >
                  <i class="fa fa-arrow-left"></i> Volver
                </button>
                <button
                  type="submit"
                  class="ml-auto btn btn-success"
                  @click="sendturno"
                >Guardar</button>
              </div>
            </div>

          </div>

          <div v-if="type === 'editing'">

            <div class="card-body">
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <label>Caja</label>
                  <v-select
                    placeholder="Seleccione una caja"
                    :options="cajas"
                    v-model="form.caja"
                    :reduce="(cajas) => cajas.id"
                    label="descaj"
                  />
                  <div
                    v-show="msgCajaError === 'caja'"
                    class="alert alert-danger"
                    role="alert"
                  >
                    El caja es obligatorio
                  </div>
                </div>

                <div class="col-sm-6 col-md-6">
                  <label>Cajero</label>
                  <v-select
                    placeholder="Seleccione un cajero"
                    :options="cajeros"
                    v-model="form.cajero"
                    :reduce="(cajeros) => cajeros.cedula"
                    label="loguse"
                  />
                  <div
                    v-show="msgCajeroError === 'cajero'"
                    class="alert alert-danger"
                    role="alert"
                  >
                    El cajero es obligatorio
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <label>Tipo Turno</label>
                  <v-select
                    placeholder="Seleccione un turno"
                    :options="turnos"
                    v-model="form.tipoturno"
                    :reduce="(turnos) => turnos.value"
                    label="label"
                  />
                  {{ validateError }}
                  <div
                    v-show="msgTurnoError === 'tipoturno'"
                    class="alert alert-danger"
                    role="alert"
                  >
                    El turno es obligatorio
                  </div>
                </div>

                <div class="col-sm-6 col-md-6">
                  <label>Supervisor</label>
                  <v-select
                    placeholder="Seleccione un supervisor"
                    :options="supervisores"
                    v-model="form.supervisor"
                    :reduce="(supervisores) => supervisores.cedemp"
                    label="nomuse"
                  />
                  <div
                    v-show="msgSupervisorError === 'supervisor'"
                    class="alert alert-danger"
                    role="alert"
                  >
                    El supervisor es obligatorio
                  </div>
                </div>

              </div>
            </div>

            <div class="card-footer">
              <div class="d-flex">
                <button
                  class="btn btn-secondary"
                  @click.prevent="back"
                >
                  <i class="fa fa-arrow-left"></i> Volver
                </button>
                <button
                  type="submit"
                  class="ml-auto btn btn-success"
                  @click="sendturnoEdit"
                  :disable="whileSub"
                >Guardar</button>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: "creating",
    },

    turno: {
      type: [String, Object],
    },
  },

  data() {
    return {
      cajas: [],
      cajeros: [],
      supervisores: [],
      form: {
        caja: "",
        cajero: "",
        tipoturno: "",
        supervisor: "",
      },
      turnos: [
        { value: "MATUTINO", label: "Matutino" },
        { value: "VESPERTINO", label: "Vespertino" },
        { value: "COMPLETO", label: "Completo" },
      ],
      errorsTurno: [],
      msgTurnoError: "",
      msgCajeroError: "",
      msgCajaError: "",
      msgSupervisorError: "",
      whileSub: false,
    };
  },
  mounted() {
    this.getTurno();
    this.getData();
  },
  computed: {
    validateError() {
      //[0]['key'][0]
      this.errorsTurno.forEach((padre) => {
        padre["key"].forEach((hijo, index2) => {
          padre["msg"][index2].forEach((nieto, index3) => {
            if (hijo === "tipoturno") {
              this.msgTurnoError = hijo;
            } else if (hijo === "cajero") {
              this.msgCajeroError = hijo;
            } else if (hijo === "caja") {
              this.msgCajaError = hijo;
            } else if (hijo === "supervisor") {
              this.msgSupervisorError = hijo;
            }
            console.log(hijo);
          });
        });
      });
      //this.errorsTurno = [];
    },
  },
  methods: {
    async getData() {
      try {
        const res = await axios.get(
          `/modulo/Facturacion/Turnos/Create/getData`
        );
        this.cajas = res.data.cajas;
        this.supervisores = res.data.supervisores;
      } catch (error) {
        console.log(error);
      }
    },

    async getCajeros() {
      this.cajero = "";
      const data = {
        caja: this.form.caja,
      };
      try {
        const res = await axios
          .post(`/modulo/Facturacion/Turnos/Create/getCajeros`, data)
          .then(({ data }) => {
            this.cajeros = data.cajeros;
          });
      } catch (error) {
        console.log(error);
      }
    },

    back() {
      window.history.back();
    },

    async getTurno() {
      const data = {
        id: this.turno.id ? this.turno.id : "",
      };
      try {
        const res = await axios.post(
          `/modulo/Facturacion/Turnos/getTurno`,
          data
        );

        this.form.caja = res.data.turno.caja ? res.data.turno.caja : "";
        this.form.cajero = res.data.turno.cajero ? res.data.turno.cajero : "";
        this.form.tipoturno = res.data.turno.tipoturno
          ? res.data.turno.tipoturno
          : "";
        this.form.supervisor = res.data.turno.supervisor
          ? res.data.turno.supervisor
          : "";
      } catch (error) {}
    },

    async sendturno() {
      this.whileSub = true;

      const data = this.form;

      await axios
        .post(`/modulo/Facturacion/Turnos/Create/sendturno`, data)
        .then(({ data }) => {
          if (data.success) {
            this.$toast.success(data.msg, {
              onclose: setTimeout(() => {
                window.location = data.redirect;
              }, 2000),
            });
            this.whileSub = false;
          }
        })
        .catch((error) => {
          if (data.error) {
            this.$toast.error("Error al registrar orden", {
              position: "top-right",
              timeout: 5000,
              closeOnClick: true,
            });
            this.whileSub = false;
          }

          if (error.response.status == 422) {
            const validations = Object.values(error.response.data.errors);
            console.log(validations);
            validations.forEach((element) => {
              this.$toast.warning(element.join(" "), {
                timeout: 2500,
              });
            });
          }
        });
    },

    async sendturnoEdit() {
      this.whileSub = true;

      const data = this.form;

      await axios
        .post(`/modulo/Facturacion/Turnos/update/` + this.turno.id, data)
        .then(({ data }) => {
          if (data.success) {
            this.whileSub = false;
            this.$toast.success(data.message, {
              onclose: setTimeout(() => {
                window.location = data.redirect;
              }, 2000),
            });
          }
        })
        .catch((error) => {
          //console.log(error.response)
          // if (data.error) {
          //     this.$toast.error("Error al registrar orden", {
          //     position: "top-right",
          //     timeout: 5000,
          //     closeOnClick: true,
          //     });
          //     this.whileSub = false;
          // }

          if (error.response.status == 422) {
            this.errorsTurno = [
              ...this.errorsTurno,
              {
                key: Object.keys(error.response.data.errors).filter(
                  (val) =>
                    val === "tipoturno" ||
                    val === "cajero" ||
                    val === "caja" ||
                    val === "supervisor"
                ),
                msg: Object.values(error.response.data.errors).map(
                  (val) => val
                ),
              },
            ];
            console.log();

            console.log();
            this.whileSub = false;
          }
        });
    },
  },
};
</script>
