<template>
  
        <div class="row justify-content-center">
            
   

              
            <div class="col-12">

<div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">SERIALES</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">SERIALES DISPONIBLES</a>
</div>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
  <div class="card-body">
            
                <div class="card-header">
                <h3 class="card-title"><b></b></h3>

                <div class="card-tools">
                 <div class="row">


               <br>
               <div class="col">
                  <div class="row">
                    <div class="col">

                   <div>
                        <form @submit.prevent="filtrarSeriales">
                        <div class="input-group">
                            <input type="text" placeholder="Buscar" name="filtro" class="form-control float-right" v-model="form.filtro">
                            <button type="submit" style="height: 38px; width: 38px" class="btn btn-default btn-sm float-left">
                            <i class="fas fa-search"></i>
                            </button>
                            <a @click="borrarFiltro" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Regresar">
                                <i class="fas fa-arrow-left"></i>
                            </a>

                        </div>
                        </form>

                    </div>

                    </div>
                  </div>
                 </div>

                 </div><!--row -->
                </div>
              </div>


        <div class="card-body table-responsive p-0 text-center">
                <table class="table table-hover">
                  <thead>
                    <tr style="text-align:center">
                      <th>FACTURA</th>
                      <th>SERIAL</th>
                      <th>PRODUCTO</th>
                      <th>FACTURADO</th>
                      <th>FECHA</th>
                    </tr>
                  </thead>
                  <tbody style="text-align:center" >              
                   
                        <tr style="text-align:center" v-for="serial in seriales.data" :key="serial.id" >
                            
                            <td>{{ serial.factura }}</td>
                            <td>{{ serial.serial }}</td>
                            <td>{{ serial.codart }}</td>

                            <td v-if="serial.facturar_serial == false">
                                <i class="fas fa-ban"></i>
                            </td>

                            <td v-else-if="serial.facturar_serial == true">
                                <i class="fas fa-check"></i>
                            </td>

                            <td>{{ serial.created_at | fechaFormato }}</td>

                        </tr>

                  </tbody>

                </table>

                <div class="text-center pt-3 pl-3" >
                    <pagination
                            :data="seriales"
                            :limit="5"
                            @pagination-change-page="getResults">

                            <span slot="prev-nav"><i class="fas fa-arrow-left"></i></span>
                            <span slot="next-nav"><i class="fas fa-arrow-right"></i></span>
                    </pagination>
                </div>
               
          </div>
      
            
          </div>
         

  </div>


<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
  <div class="card-body">
            
                <div class="card-header">
                <h3 class="card-title"><b></b></h3>

                <div class="card-tools">
                 <div class="row">


               <br>
               <div class="col">
                  <div class="row">
                    <div class="col">

                   <div>
                        <form @submit.prevent="filtrarSerialesDisponibles">
                        <div class="input-group">
                            <input type="text" placeholder="Buscar" name="filtroD" class="form-control float-right" v-model="form.filtroD">
                            <button type="submit" style="height: 38px; width: 38px" class="btn btn-default btn-sm float-left">
                            <i class="fas fa-search"></i>
                            </button>
                            <a @click="borrarFiltro2" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Regresar">
                                <i class="fas fa-arrow-left"></i>
                            </a>

                        </div>
                        </form>

                    </div>

                    </div>
                  </div>
                 </div>

                 </div><!--row -->
                </div>
              </div>

              
        <div class="card-body table-responsive p-0 text-center">
                <table class="table table-hover">
                  <thead>
                    <tr style="text-align:center">
                      <th>CODIGO</th>
                      <th>SERIAL</th>
                      <th>DISPONIBLE</th>
                    </tr>
                  </thead>
                  <tbody style="text-align:center" >              
                   
                        <tr style="text-align:center" v-for="serialD in seriales_disponibles.data" :key="serialD.id" >
                            
                            <td>{{ serialD.codart }}</td>
                            <td>{{ serialD.seriales }}</td>

                            <td v-if="serialD.disponible == false">
                                <i class="fas fa-ban"></i>
                            </td>

                            <td v-else-if="serialD.disponible == true">
                                <i class="fas fa-check"></i>
                            </td>
                          

                        </tr>

                  </tbody>

                </table>

                <div class="text-center pt-3 pl-3" >
                    <pagination
                            :data="seriales_disponibles"
                            :limit="5"
                            @pagination-change-page="getResults2">

                            <span slot="prev-nav"><i class="fas fa-arrow-left"></i></span>
                            <span slot="next-nav"><i class="fas fa-arrow-right"></i></span>
                    </pagination>
                </div>
               
          </div>
      
            
    </div>
       
</div>

</div>
               

            
            </div>
       
    </div>
</template>

<script>

    


    Vue.filter('fechaFormato', function (fecha) {
    return fecha.split('T')[0];
    });

    export default {


        data() {
            return {
                
                seriales: {},
                seriales_disponibles: {},
                form: {
                    filtro: '',
                    filtroD: '',
                }
            }
        },


        mounted() {
           this.getSeriales();
           this.getSerialesDisponibles();
        },

        methods: {

            async filtrarSerialesDisponibles() {

                const data = this.form;
                try {
                    const res = await axios.post(`/modulo/Facturacion/getSerialesFiltroDisponibles`, data);
                    this.seriales_disponibles = res.data.seriales_disponibles; // Reemplazar la lista actual
                } catch (error) {
                    console.log(error);
                }
            },

            async filtrarSeriales() {

                const data = this.form;
                try {
                    const res = await axios.post(`/modulo/Facturacion/getSerialesFiltro`, data);
                    this.seriales = res.data.seriales; // Reemplazar la lista actual
                } catch (error) {
                    console.log(error);
                }
            },

            async getResults(page = 1) {
                try {
                    const res = await axios.get(`/modulo/Facturacion/getSeriales`, {
                    params: {
                        page: page,
                        filtro: this.form.filtro, // Incluir el filtro como parámetro
                    },
                    });
                    this.seriales = res.data.seriales;
                } catch (error) {
                    console.log(error);
                }
            },

             async getResults2(page = 1) {
                try {
                    const res = await axios.get(`/modulo/Facturacion/getSerialesDisponibles`, {
                    params: {
                        page: page,
                        filtroD: this.form.filtroD, // Incluir el filtro como parámetro
                    },
                    });
                    this.seriales_disponibles = res.data.seriales_disponibles;
                } catch (error) {
                    console.log(error);
                }
            },

            borrarFiltro() {
                this.form.filtro = '';  // Borra el valor del input
                this.getSeriales();  // Obtiene la lista completa sin filtro
            },

            borrarFiltro2() {
                this.form.filtroD = '';  // Borra el valor del input
                this.getSerialesDisponibles();  // Obtiene la lista completa sin filtro
            },

            async getSeriales() {
                try {
                    const res = await axios.get(`/modulo/Facturacion/getSeriales`);
                    this.seriales = res.data.seriales;

                } catch (error) {
                    console.log(error);
                }
            },

            async getSerialesDisponibles() {
                try {
                    const res = await axios.get(`/modulo/Facturacion/getSerialesDisponibles`);
                    this.seriales_disponibles = res.data.seriales_disponibles;

                } catch (error) {
                    console.log(error);
                }
            },


        }
    }
</script>
