<template>
    <div class="card card-primary card-outline">
                <!-- <div class="card-header" style="background: linear-gradient(90deg, blue, purple);">
                  <h5 class="card-title m-0" style="color: white"><i class="fas fa-edit"></i><b> OPCIONES</b></h5>
                </div> -->
                <img height="50px" style="display: block;margin: 0 auto;width: 100%;">
                <div class="card-body disabledbutton" id="opcionesF">
                  
            <div class="row">

              <button type="button" id="descuentob" class="btn mb-1 bg-gradient-primary boton-caja">
                 <div class="inner">
                  <h6 class="h-botton" ><b>F1</b></h6>  
                </div>
                <b>DESCUENTO</b>
              </button>

              <a class="m-1" id="facturar">
                    <img height="90px" style="display: block;margin: 0 auto;width: 100%;">
                  </a>
         
              <button type="button" id="presupuesto" class="btn mb-1 bg-gradient-secondary boton-caja">
                 <div class="inner">
                  <h6 class="h-botton" ><b>F4</b></h6>  
                </div>
                <b>PRESUPUESTO</b>
              </button>

              <button type="button" id="nota" class="btn mr-1 bg-gradient-default boton-caja">
                <b>NOTA DE ENTREGA</b>
              </button>

              <button type="button" id="devolucion" class="btn mr-1 bg-gradient-warning boton-caja">
                <div class="inner">
                  <h6 class="h-botton" ><b>F8</b></h6>  
                </div>
                <b>DEVOLUCIÓN</b>
              </button>

              <button type="button" id="limpiar" class="btn bg-gradient-danger btn-lg boton-caja">
                <div class="inner">
                  <h6 class="h-botton" ><b>F9</b></h6>  
                </div>
                <b>LIMPIAR</b>
              </button>
            
              
              <a  data-r="X" id="reporte" type="button" class="btn bg-gradient-dark btn-lg boton-caja reporteX">
                <div class="inner">
                    <h6 class="h-botton" style="font-size: 18px;"><b>SUPR</b></h6>
                </div>
                <b>Reporte X</b>
              </a>

              <a  data-r="Z" id="reporte"  type="button" class="btn bg-gradient-info btn-lg boton-caja reporteZ">
                <div class="inner">
                    <h6 style="font-size: 18px;" class="h-botton" ><b>ESC</b></h6>
                </div>
                <b>Reporte Z</b>
              </a>

              <a  id="arqueoCaja" type="button" class="btn bg-gradient-default btn-lg boton-caja">
                <div class="inner">
                    <h6 style="font-size: 18px;" class="h-botton" ><b>INS</b></h6>
                </div>
                <b>Arqueo de Caja</b>
              </a>

            </div>

                  </div> <!--row-->
                </div>
</template>