<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-10">
          <p
            class="text-danger"
            v-if="precom === true"
            style="text-align: center"
          >
            Ya existe precompromiso para esta requisición
          </p>
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">
                DETALLES PRESUPUESTARIOS DE REQUISICIÓN
              </h3>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="">Número</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="req.reqart"
                      readonly
                    />
                  </div>
                </div>

                <div class="col-sm-5">
                  <div class="form-group">
                    <label for="codcen">Centro de costo</label>
                    <div>
                      <input
                        type="text"
                        class="form-control"
                        v-model="req.ccosto.descen"
                        readonly
                      />
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="unires">Unidad responsable</label>
                    <div>
                      <input
                        type="text"
                        class="form-control"
                        v-model="req.unidad.nomcat"
                        readonly
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" style="align-content: center">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="tipfin">Tipo</label>
                    <div class="input-group">
                      <div class="input-group">
                        <input
                          class="form-control"
                          v-if="req.tipreq === 'S'"
                          value="SERVICIO"
                          readonly
                        />
                        <input
                          class="form-control"
                          v-if="req.tipreq === 'C'"
                          value="COMPRA"
                          readonly
                        />
                        <input
                          class="form-control"
                          v-if="req.tipreq === 'M'"
                          value="MIXTO"
                          readonly
                        />
                        <input
                          class="form-control"
                          v-if="req.tipreq === 'N'"
                          value="CONTRATACION"
                          readonly
                        />
                        <input
                          class="form-control"
                          v-if="req.tipreq === 'G'"
                          value="SERVICIOS GENERALES"
                          readonly
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="moneda">Moneda</label>
                    <div>
                      <input
                        type="text"
                        class="form-control"
                        v-model="req.moneda.nommon"
                        readonly
                      />
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="tipfin">Financiamiento</label>
                    <div>
                      <input
                        type="text"
                        class="form-control"
                        v-model="req.fin.nomext"
                        readonly
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mx-auto pb-3">
                <div class="col">
                  <label for="desreq">Justificación</label>
                  <textarea
                    class="form-control ta"
                    placeholder="Justificación"
                    cols="30"
                    rows="3"
                    v-model="req.desreq"
                    readonly
                  ></textarea>
                </div>
              </div>

              <div class="outer-wrapper">
                <label for="table"> Artículos</label>
                <div class="table-wrapper">
                  <table class="table table-hover table-bordered">
                    <thead class="bg-info">
                      <tr style="text-align: center">
                        <th>Artículo</th>
                        <th>Cód. unidad</th>
                        <th>Cód. presupuestario</th>
                        <th>Denominación</th>
                        <th>Descripción del artículo</th>
                        <th>Unidad de medida</th>
                        <th>Cant. requerida</th>
                        <th>Precio (U)</th>
                        <th>Recargo</th>
                        <th>Descuento</th>
                        <th>Costo total</th>
                      </tr>
                    </thead>

                    <tbody style="text-align: center">
                      <tr v-for="art in articulos" :key="art.index">
                        <td>
                          <div class="form-group">
                            <input
                              type="text"
                              class="form-control"
                              v-model="art.codart"
                            />
                          </div>
                        </td>

                        <td>
                          <input
                            type="text"
                            class="form-control"
                            v-model="art.codcat"
                            readonly
                          />
                        </td>

                        <td>
                          <div>
                            <p>
                              {{ art.codcat + "-" + art.partida.codpar }}
                            </p>
                          </div>
                        </td>

                        <td>
                          <textarea
                            type="text"
                            class="form-control"
                            v-model="art.partida.nompar"
                            readonly
                          >
                          </textarea>
                        </td>

                        <td>
                          <textarea
                            style="width: 500px"
                            class="form-control"
                            v-model="art.desart"
                            type="text"
                            readonly
                          >
                          </textarea>
                        </td>

                        <td>
                          <input class="form-control" v-model="art.unimed" />
                        </td>

                        <td>
                          <input class="form-control" v-model="art.canreq" />
                        </td>

                        <td>
                          <input
                            class="form-control"
                            v-model="art.costo"
                            type="number"
                            min="0"
                            step="0.01"
                          />
                        </td>

                        <td>
                          <input
                            type="text"
                            class="form-control"
                            v-model="art.monrgo"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            class="form-control"
                            v-model="art.mondes"
                          />
                        </td>
                        <td>
                          {{ art.canreq * art.costo }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div
                class="row my-4"
                style="display: flex; justify-content: space-between"
              >
                <div class="col-sm-4">
                  <label for="user">Analista responsable</label>
                  <input
                    type="text"
                    class="form-control"
                    v-model="user.nomuse"
                    readonly
                  />
                </div>

                <div class="col-sm-1 mr-2">
                  <label for="monto">Total:</label>
                  <input
                    class="form-control"
                    v-model="req.monreq"
                    step="0.01"
                    disabled
                    style="text-align: right"
                  />
                </div>
              </div>
            </div>

            <div class="card-footer">
              <a
                v-bind:href="'/modulo/Compras/RequisicionD'"
                class="btn btn-default ml-4"
                ><i class="fas fa-chevron-circle-left"></i><b> Volver</b></a
              >
              <template v-if="precom !== true">
                <button
                  type="submit"
                  class="btn btn-success"
                  @click="send('S')"
                >
                  <i class="fa fa-check" aria-hidden="true"></i>
                  Aceptar Requisición
                </button>
                <button type="submit" class="btn btn-danger" @click="send('N')">
                  <i class="fa fa-times" aria-hidden="true"></i>
                  Rechazar Requisición
                </button>
              </template>
              <!--  -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FORMULARIO DE EDICIÓN -->
  </section>
</template>

<script>
import { off } from "process";

export default {
  props: {
    req: {
      type: [String, Object],
    },
    user: {
      type: [String, Object],
    },
    precom: {
      type: Boolean,
    },
  },

  data() {
    return {
      reqart: this.req.reqart,
      articulos: [],
    };
  },

  methods: {
    send(val) {
      const data = {
        action: val,
        reqart: this.req.reqart,
      };

      if (val === "S") {
        axios
          .post("/modulo/Compras/RequisicionD/PresupuestoReq/action", data)
          .then(({ data }) => {
            if (data.success) {
              this.$toast.success("Requisición aceptada", {
                onclose: setTimeout(() => {
                  location.reload();
                }, 2000),
              });
            }
          });
      } else if (val === "N") {
        Swal.fire({
          title: "Razón de anulación",
          input: "text",
          inputAttributes: {
            autocapitalize: off,
          },
          showCancelButton: true,
          confirmButtonText: "Enviar",
          showLoaderOnConfirm: true,
          preConfirm: (obs) => {
            console.log(obs);
            data.obs = obs;
            axios
              .post("/modulo/Compras/RequisicionD/PresupuestoReq/action", data)
              .then(({ data }) => {
                if (data.success) {
                  this.$toast.success("Requisición anulada", {
                    onclose: setTimeout(() => {
                      location.reload();
                    }, 2000),
                  });
                }
              });
          },
        });
      }
    },

    async getReq() {
      const data = {
        id: this.reqart,
      };

      await axios
        .post("/modulo/Compras/RequisicionD/PresupuestoReq", data)
        .then(({ data }) => {
          console.log(data);
          this.articulos = data;
        });
    },
  },

  mounted() {
    this.getReq();
  },
};
</script>

<style scoped>
table {
  min-width: max-content;
  border-collapse: separate;
  border-spacing: 0px;
}

table th {
  position: sticky;
  top: 0px;
  text-align: center;
  font-weight: normal;
}

table th,
table td {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

table td {
  text-align: center;
  padding-left: 20px;
}
.outer-wrapper {
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: fit-content;
  max-height: fit-content;
}
.table-wrapper {
  overflow-y: scroll;
  overflow-x: scroll;
  height: fit-content;
  max-height: 66.4vh;

  margin-top: 22px;

  margin: 15px;
  padding-bottom: 20px;
}
</style>