<template>
  <section class="content">
    <div class="container-fluid" v-if="type === 'creating'">
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">REGISTRO REQUISICIÓN</h3>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="">Número</label>
                    <input
                      @keyup="key(reqart)"
                      type="text"
                      maxlength="13"
                      class="form-control"
                      v-model="reqart"
                      placeholder="Ej. OTI-2022-1234"
                      aria-describedby="helpId"
                      v-uppercase
                    />
                    <span class="text-red" style="font-size: 80%">{{
                      verreq ? "Código inválido" : ""
                    }}</span>
                  </div>
                </div>

                <div class="col-sm-5">
                  <div class="form-group">
                    <label for="codcen">Centro de costo</label>
                    <div>
                      <v-select
                        placeholder="Seleccione un centro"
                        :options="costos"
                        v-model="codcen"
                        :reduce="(centro) => centro.codcen"
                        label="descen"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="unires">Unidad responsable</label>
                    <div>
                      <v-select
                        placeholder="Seleccione la unidad"
                        :options="unires"
                        v-model="unisel"
                        :reduce="(unidad) => unidad.codcat"
                        label="nomcat"
                      ></v-select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" style="align-content: center">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="tipfin">Tipo</label>
                    <div class="input-group">
                      <select class="form-control" id="tipreq" v-model="tipreq">
                        <option value="" disabled>
                          Seleccione el servicio
                        </option>
                        <option value="S">SERVICIO</option>
                        <option value="C">COMPRA</option>
                        <option value="M">MIXTO</option>
                        <option value="N">CONTRATACION</option>
                        <option value="G">SERVICIOS GENERALES</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="moneda">Moneda</label>
                    <div>
                      <v-select
                        placeholder="Seleccione la moneda"
                        :options="monedas"
                        v-model="monsel"
                        :reduce="(moneda) => moneda.codmon"
                        label="nommon"
                      ></v-select>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="tipfin">Financiamiento</label>
                    <div>
                      <v-select
                        placeholder="Seleccione el financiamiento"
                        :options="tipfin"
                        v-model="tipsel"
                        :reduce="(finan) => finan.codfin"
                        label="nomext"
                      ></v-select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mx-auto pb-3">
                <div class="col">
                  <label for="desreq">Justificación</label>
                  <textarea
                    class="form-control ta"
                    v-model="desreq"
                    placeholder="Justificación"
                    cols="30"
                    rows="3"
                    v-uppercase
                  ></textarea>
                </div>
              </div>

              <div
                class="table-wrapper-scroll-y my-custom-scrollbar"
                v-if="selArts !== []"
              >
                <table class="table table-bordered table-hover" id="tabla">
                  <thead>
                    <tr style="text-align: center">
                      <th>Nro.</th>
                      <th>Descripción</th>
                      <th>Unidad de medida</th>
                      <th>Cant. requerida</th>
                      <th>Costo</th>
                      <th>Descuento</th>
                      <th>Recargo</th>
                      <th>Acción</th>
                    </tr>
                  </thead>

                  <tbody style="text-align: center">
                    <tr v-for="(art, index) in selArts" :key="art.index">
                      <td>{{ index }}</td>
                      <td>
                        <input
                          class="form-control"
                          disabled
                          v-model="art.desart"
                          type="text"
                        />
                      </td>

                      <td>
                        <input
                          class="form-control"
                          placeholder="Ej: SERVICIO"
                          v-model="art.unimed"
                          place
                          name="unimed[]"
                          type="text"
                        />
                      </td>

                      <td>
                        <input
                          class="form-control"
                          placeholder="Ej: 10.00"
                          v-model="art.canreq"
                          type="number"
                          min="0"
                          step="0.01"
                        />
                      </td>

                      <td>
                        <input
                          class="form-control"
                          placeholder="Ej: 274.90"
                          v-model="art.cosult"
                          type="number"
                          min="0"
                          step="0.01"
                        />
                      </td>

                      <td>
                        <input
                          class="form-control"
                          placeholder="Ej: 21.83"
                          v-model="art.mondes"
                          type="number"
                          min="0"
                          step="0.01"
                        />
                      </td>

                      <td>
                        <select class="form-control" v-model="art.monrgo">
                          <option selected value="0.00">Sin recargo</option>

                          <option
                            v-for="recargo in recargos"
                            :key="recargo.id"
                            :value="recargo.monrgo * 100"
                          >
                            {{ recargo.nomrgo }}
                          </option>
                        </select>
                      </td>
                      <td style="align-content: center">
                        <a
                          href="#"
                          class="btn btn-outline-light"
                          @click="deleteArt(index)"
                        >
                          <i class="fa fa-trash red" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <button
                  @click="showModal = true"
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myModal"
                  style="float: right"
                >
                  Añadir artículo
                </button>

                <transition name="fade" appear>
                  <div
                    class="modal fade"
                    data-backdrop="static"
                    id="myModal"
                    aria-labelledby="myModalLabel"
                    v-if="showModal"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="myModalLabel">
                            Añadir artículo
                          </h5>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="col-sm-12">
                            <label for="caregart">Seleccione artículo</label>
                            <v-select
                              :options="articulos"
                              v-model="selArt"
                              placeholder="Seleccione un artículo"
                              :reduce="(articulo) => articulo"
                              label="desart"
                              :disabled="newArt"
                            ></v-select>
                          </div>

                          <div class="custom-control custom-checkbox my-3">
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              id="customCheck1"
                              @click="newArtm"
                            />
                            <label
                              class="custom-control-label"
                              for="customCheck1"
                              >Añadir artículo no existente</label
                            >
                          </div>

                          <div v-if="newArt">
                            <!-- Inicio del formulario para registro de nuevo artículo -->
                            <div class="row">
                              <div class="col-sm-3">
                                <div class="form-group">
                                  <label for="">Código</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">A-1</span>
                                    </div>
                                    <input
                                      class="form-control"
                                      type="text"
                                      maxlength="10"
                                      placeholder="A1234-5678"
                                      v-model="modalart.codart"
                                      v-uppercase
                                    />
                                  </div>
                                  <span
                                    class="text-red"
                                    style="font-size: 80%"
                                    >{{ verif ? "Código inválido" : "" }}</span
                                  >
                                </div>
                              </div>

                              <div class="col-sm-9">
                                <div class="form-group">
                                  <label for="">Descripción</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">A</span>
                                    </div>
                                    <input
                                      class="form-control"
                                      type="text"
                                      v-model="modalart.desart"
                                      placeholder="ABC..."
                                      v-uppercase
                                    />
                                  </div>
                                </div>
                              </div>

                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="">Costo</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">123</span>
                                    </div>
                                    <input
                                      class="form-control"
                                      v-model="modalart.cosult"
                                      placeholder="3.14"
                                      type="number"
                                      min="0"
                                      step="0.01"
                                    />
                                  </div>
                                </div>
                              </div>

                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="">Unidad de medida</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">UND</span>
                                    </div>
                                    <input
                                      class="form-control"
                                      type="text"
                                      v-model="modalart.unimed"
                                      placeholder="SERVICIO"
                                      v-uppercase
                                    />
                                  </div>
                                </div>
                              </div>

                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="">Partida</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">0-9</span>
                                    </div>
                                    <input
                                      class="form-control"
                                      type="text"
                                      v-model="modalart.codpar"
                                      disabled
                                    />
                                  </div>
                                  <span
                                    class="text-red"
                                    style="font-size: 80%"
                                    >{{
                                      verifPartida
                                        ? "El código debe tener partida"
                                        : ""
                                    }}</span
                                  >
                                </div>
                              </div>

                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="">Descripción de Partida</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">123</span>
                                    </div>
                                    <input
                                      class="form-control"
                                      type="text"
                                      v-model="modalart.nompar"
                                      disabled
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Fin del formulario -->
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                          >
                            Cerrar
                          </button>
                          <button
                            type="button"
                            class="btn btn-primary"
                            data-dismiss="modal"
                            @click="addArt"
                            v-if="newArt === false"
                            :disabled="isDisabled"
                          >
                            Añadir artículo
                          </button>
                          <button
                            type="button"
                            class="btn btn-primary"
                            @click.prevent="addNewArt"
                            v-if="newArt === true"
                            :disabled="isDisabled"
                          >
                            Añadir nuevo
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </transition>
              </div>

              <div class="row" style="float: right">
                <div class="col-sm-6">
                  <label for="monto">Total:</label>
                  <input
                    class="form-control"
                    v-model="total"
                    step="0.01"
                    disabled
                    style="text-align: right"
                  />
                </div>
              </div>
            </div>

            <div class="card-footer">
              <a
                class="btn btn-default ml-4"
                v-bind:href="'/modulo/Compras/RequisicionD'"
                ><i class="fas fa-chevron-circle-left"></i><b> Volver</b></a
              >
              <button
                type="submit"
                class="btn btn-success"
                @click="sendreq"
                :disabled="submitDis"
              >
                Enviar Solicitud
              </button>
              <!--  -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FORMULARIO DE EDICIÓN -->

    <div v-if="type === 'editing'">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-10">
            <div style="text-align: center">
              <span class="text-red" v-if="req.stareq === 'N'"
                >Razón de anulación: {{ req.motreq }}</span
              >
            </div>
            <div style="text-align: center">
              <span class="text-red" v-if="req.orden !== null"
                >LA SOLICITUD TIENE ASOCIADA UNA ORDEN DE COMPRA
                {{ req.orden.ordcom }} DE FECHA 18/07/2022
                {{ req.orden.fecord }}</span
              >
            </div>
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">EDICIÓN REQUISICIÓN</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label for="">Número</label>
                      <input
                        type="text"
                        maxlength="13"
                        class="form-control"
                        v-model="req.reqart"
                        disabled
                        placeholder="Ej. OTI-2022-1234"
                        aria-describedby="helpId"
                        v-uppercase
                      />
                    </div>
                  </div>

                  <div class="col-sm-5">
                    <div class="form-group">
                      <label for="codcen">Centro de costo</label>
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          v-model="req.ccosto.descen"
                          disabled
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="unires">Unidad responsable</label>
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          v-model="req.unidad.nomcat"
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row" style="align-content: center">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="tipfin">Tipo</label>
                      <div class="input-group">
                        <input
                          class="form-control"
                          v-if="req.tipreq === 'S'"
                          value="SERVICIO"
                          readonly
                        />
                        <input
                          class="form-control"
                          v-if="req.tipreq === 'C'"
                          value="COMPRA"
                          readonly
                        />
                        <input
                          class="form-control"
                          v-if="req.tipreq === 'M'"
                          value="MIXTO"
                          readonly
                        />
                        <input
                          class="form-control"
                          v-if="req.tipreq === 'N'"
                          value="CONTRATACION"
                          readonly
                        />
                        <input
                          class="form-control"
                          v-if="req.tipreq === 'G'"
                          value="SERVICIOS GENERALES"
                          readonly
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="tipmon">Moneda</label>
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          v-model="req.moneda.nommon"
                          readonly
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="tipfin">Financiamiento</label>
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          v-model="req.fin.nomext"
                          readonly
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mx-auto pb-3">
                  <div class="col">
                    <label for="desreq">Justificación</label>
                    <textarea
                      class="form-control ta"
                      v-model="req.desreq"
                      placeholder="Justificación"
                      cols="30"
                      rows="3"
                      readonly
                      v-uppercase
                    ></textarea>
                  </div>
                </div>

                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                  <table class="table table-bordered table-hover" id="tabla">
                    <thead>
                      <tr style="text-align: center">
                        <th>Nro.</th>
                        <th>Descripción</th>
                        <th>Unidad de medida</th>
                        <th>Cant. requerida</th>
                        <th>Costo</th>
                        <th>Descuento</th>
                        <th>Recargo</th>
                      </tr>
                    </thead>

                    <tbody style="text-align: center">
                      <tr v-for="(art, index) in arts" :key="art.index">
                        <td>{{ index }}</td>
                        <td>
                          <input
                            class="form-control"
                            readonly
                            v-model="art.desart"
                            type="text"
                          />
                        </td>

                        <td>
                          <input
                            class="form-control"
                            readonly
                            placeholder="Ej: SERVICIO"
                            v-model="art.unimed"
                            type="text"
                            v-uppercase
                          />
                        </td>

                        <td>
                          <input
                            class="form-control"
                            readonly
                            placeholder="Ej: 10.00"
                            v-model="art.canreq"
                            type="number"
                            min="0"
                            step="0.01"
                          />
                        </td>

                        <td>
                          <input
                            class="form-control"
                            readonly
                            placeholder="Ej: 274.90"
                            v-model="art.costo"
                            type="number"
                            min="0"
                            step="0.01"
                          />
                        </td>

                        <td>
                          <input
                            class="form-control"
                            readonly
                            placeholder="Ej: 21.83"
                            v-model="art.mondes"
                            type="number"
                            min="0"
                            step="0.01"
                          />
                        </td>

                        <td>
                          <input
                            type="text"
                            readonly
                            class="form-control"
                            v-model="art.monrgo"
                          />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="row" style="float: right" v-if="type === 'editing'">
                  <div class="col-sm-6">
                    <label for="monto">Total:</label>
                    <input
                      class="form-control"
                      v-model="req.monreq"
                      step="0.01"
                      disabled
                      style="text-align: right"
                    />
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <a
                  class="btn btn-default ml-4"
                  v-bind:href="'/modulo/Compras/RequisicionD'"
                  ><i class="fas fa-chevron-circle-left"></i><b> Volver</b></a
                >
                <button
                  type="submit"
                  class="btn btn-success"
                  @click="action('S')"
                >
                  <i class="fa fa-check" aria-hidden="true"></i>
                  Aceptar Solicitud
                </button>
                <button
                  type="submit"
                  class="btn btn-danger"
                  @click="action('N')"
                >
                  <i class="fa fa-times" aria-hidden="true"></i>
                  Anular Solicitud
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { off } from "process";

export default {
  props: {
    type: {
      type: String,
      default: "creating",
    },

    req: {
      type: [String, Object],
    },

    partida: {
      type: [String, Object],
    },

    arts: {
      type: [String, Array],
    },

    user: {
      type: [String, Object],
    },
  },

  data() {
    return {
      selArt: null,
      costos: [],
      tipfin: [],
      unires: [],
      monedas: [],
      recargos: [],
      partidas: [],
      articulos: [],
      selArts: [],
      monto: [],
      gerentes: [],
      codcen: "",
      unisel: "",
      tipsel: "",
      tipreq: "",
      monsel: "",
      desreq: "",
      reqart: "",
      parsel: "",
      showModal: false,
      newArt: false,
      btndis: true,
      verif: false,
      verreq: false,
      modalart: {
        codart: "",
        desart: "",
        cosult: "",
        codpar: "",
        nompar: "",
        unimed: "",
      },
      aux: null,
      verpar: true,
    };
  },

  computed: {
    isDisabled() {
      if (this.newArt === false) {
        if (this.selArt !== null) {
          return !this.btndis;
        } else {
          return this.btndis;
        }
      } else {
        if (
          this.modalart.codart.length === 10 &&
          this.modalart.desart !== "" &&
          this.modalart.cosult !== "" &&
          this.modalart.unimed !== "" &&
          this.verif !== true
        ) {
          return !this.btndis;
        } else {
          return this.btndis;
        }
      }
    },

    total() {
      let monto = 0;

      for (let prop in this.selArts) {
        if (this.selArts[prop].mondes === undefined) {
          this.selArts[prop].mondes = 0.0;
        }

        var totprc =
          parseFloat(this.selArts[prop].cosult) *
          parseFloat(this.selArts[prop].canreq);

        var iva = (totprc * this.selArts[prop].monrgo) / 10000;

        monto = monto + (totprc + iva) - parseFloat(this.selArts[prop].mondes);
      }

      return monto.toFixed(2);
    },

    verifPartida() {
      if (this.modalart.codart.length === 5 && this.modalart.codpar === "") {
        return this.verpar;
      } else {
        return !this.verpar;
      }
    },

    submitDis() {
      const validation = [
        this.reqart === "",
        this.codcen === "",
        this.unisel === "",
        this.tipreq === "",
        this.monsel === "",
        this.tipsel === "",
        this.desreq === "",
        this.selArts.length === [],
        this.verreq === true,
        Number.isNaN(this.total), //Ver si el monto total es un número válido
      ];

      return validation.some((elem) => elem === true);
    },
  },

  methods: {
    key(val) {
      if (val.length === 3) {
        const anio = new Date().getFullYear();
        var newReq = val + "-" + anio + "-";
        this.reqart = newReq;
      }
    },

    back() {
      window.location.href = "/modulo/Compras/RequisicionD";
    },

    addArt() {
      this.selArts.push(this.selArt);
      this.selArt = null;
    },

    deleteArt(index) {
      this.selArts.splice(index, 1);
    },

    modal() {
      this.showModal = true;
    },

    action(val) {
      const data = {
        req: this.req.reqart,
        user: this.user.cedemp,
        unires: this.req.unires,
        status: val,
      };

      if (val === "S") {
        axios
          .post(
            "/modulo/Compras/RequisicionD/RequisicionDCreate/aceptarReq",
            data
          )
          .then(({ data }) => {
            if (data.success) {
              this.$toast.success("Requisición aceptada", {
                onclose: setTimeout(() => {
                  location.reload();
                }, 2000),
              });
            }
          });
      } else if (val === "N") {
        Swal.fire({
          title: "Razón de anulación",
          input: "text",
          inputAttributes: {
            autocapitalize: off,
          },
          showCancelButton: true,
          confirmButtonText: "Enviar",
          showLoaderOnConfirm: true,
          preConfirm: (obs) => {
            //console.log(obs);
            data.obs = obs;
            axios
              .post(
                "/modulo/Compras/RequisicionD/RequisicionDCreate/aceptarReq",
                data
              )
              .then(({ data }) => {
                if (data.success) {
                  this.$toast.success("Requisición anulada", {
                    onclose: setTimeout(() => {
                      location.reload();
                    }, 2000),
                  });
                }
              });
          },
        });
      }
    },

    newArtm() {
      this.newArt = !this.newArt;

      this.selArt = null;
    },

    async addNewArt() {
      const data = this.modalart;

      await axios
        .post("/modulo/Compras/RequisicionD/RequisicionNewArt", data)
        .then(({ data }) => {
          console.log(data);
          if (data.success) {
            this.$toast.success(
              "Artículo registrado con éxito, seleccione arriba",
              {
                onclose: setTimeout(2000),
              }
            );
            this.articulos = data.articulos;
          }
        })
        .catch((e) => {
          console.log(e);
          if (data.error) {
            this.$toast.error("Error al registrar artículo", {
              onclose: setTimeout(2000),
            });
          }
        });
    },

    async sendreq() {
      const data = {
        reqart: this.reqart,
        codcen: this.codcen,
        unires: this.unisel,
        tipreq: this.tipreq,
        tipmon: this.monsel,
        tipsel: this.tipsel,
        parpre: this.codpar,
        desreq: this.desreq,
        monreq: this.total,
        correo: this.correo,
        articulos: this.selArts,
      };

      await axios
        .post(`/modulo/Compras/RequisicionD/RequisicionDStore`, data)
        .then(({ data }) => {
          if (data.success) {
            this.$toast.success("Requisición registrada con éxito", {
              onclose: setTimeout(() => {
                location.reload();
              }, 2000),
            });
          }
        })
        .catch((error) => {
          console.log(error);
          if (data.error) {
            this.$toast.error("Error al registrar requisición", {
              position: "top-right",
              timeout: 5000,
              closeOnClick: true,
            });
          }
        });
    },

    async gerSelect(val) {
      const data = {
        gerencia: val,
      };
      console.log(data);

      await axios
        .post(
          "/modulo/Compras/RequisicionD/RequisicionDCreate/getGerente",
          data
        )
        .then(({ data }) => {
          console.log(data);
          this.correo = data;
          console.log(this.correo);
        });
    },

    async getData() {
      try {
        const res = await axios.get(
          `/modulo/Compras/RequisicionD/RequisicionDCreate/getData`
        );
        this.costos = res.data.costos;
        this.unires = res.data.unires;
        this.tipfin = res.data.tipfin;
        this.monedas = res.data.monedas;
        this.recargos = res.data.recargos;
        this.partidas = res.data.partidas;
        this.articulos = res.data.articulos;
        this.gerentes = res.data.gerentes;
      } catch (error) {
        console.log(error);
      }
    },

    async artExist(val) {
      const data = {
        consulta: val,
      };

      try {
        const res = await axios
          .post(
            `/modulo/Compras/RequisicionD/RequisicionDCreate/artExist`,
            data
          )
          .then(({ data }) => {
            if (data.data === true) {
              this.verif = true; //existe
            } else {
              this.verif = false;
            }
          });
      } catch (error) {
        console.log(error);
      }
    },

    async reqExist(val) {
      const data = {
        consulta: val,
      };

      try {
        const res = await axios
          .post(
            `/modulo/Compras/RequisicionD/RequisicionDCreate/reqExist`,
            data
          )
          .then(({ data }) => {
            if (data.data === true) {
              this.verreq = true; //existe
            } else {
              this.verreq = false;
            }
          });
      } catch (e) {
        console.log(e);
      }
    },

    async getPart(val) {
      const data = {
        codart: val,
      };

      await axios
        .post(`/modulo/Compras/RequisicionD/RequisicionDCreate/getPart`, data)
        .then(({ data }) => {
          this.modalart.codpar = data.data.codpar;
          this.modalart.nompar = data.data.nompar;
        })

        .catch((e) => console.log(e));
    },
  },

  watch: {
    "modalart.codart": {
      //Watcher para la verificación de código ya existente en el caso de serlo
      handler: function (val, oldval) {
        this.artExist(val);

        if (val.length === 5) {
          this.getPart(val);
        } else if (val.length < 5) {
          this.modalart.codpar = "";
          this.modalart.nompar = "";
        }
      },
    },

    unisel: {
      handler: function (val, oldval) {
        this.gerSelect(val);
      },
    },

    reqart: {
      handler: function (val, oldval) {
        if (val.length === 13) {
          this.reqExist(val);
        }
      },
    },
  },

  created() {
    this.getData();
  },

  mounted() {
    document.addEventListener("DOMContentLoaded", function () {
      $("#selectModal").select2({
        dropdownParent: $("#myModal"),
      });
    });
  },

  updated() {
    //this.total();
  },
};
</script>

<style>
</style>