<template>

	<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card">
          
            <div class="card-header">
              <h3 class="card-title">
                <b>
                  Reporte de familiares
                </b>
              </h3>
            </div>
            
            <div class="card-body text-center">
    

              <div class="row" style="justify-content: center">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="gerencia">Gerencia</label>
                    <select class="form-control select2" name="gerencia" id="gerencia" v-model="gerencia" v-select2>
                      <option value="all">TODAS</option>
                      
                        <option v-for="(gerencia, index) in gerencias" 
                        :value="gerencia.codniv"> {{ gerencia.desniv }} </option>
                      
                    </select>
                  </div>
                </div>
              </div>
        
                
              <h6 class="table-title m-0 mt-4 mb-4" style="text-align:center"><b></b></h6>
                <div class="row" style="justify-content: center">
                <div class="offset-2 col-sm-4 ml-4">
                  <div class="form-group">
                  <label for="desde">Desde</label>
                    <select class="form-control select2" v-model="desde" name="desde" id="desde" v-select2>
                     
                        <option v-for="(trab) in first"
                        :key="trab.codemp" 
                        :value="trab.codemp"
                        > {{ trab.nomemp }}
                    </option>
                     
                    </select>
                  </div>     
                </div>

                <div class="col-sm-4 ml-4">
                  <div class="form-group">
                  <label for="hasta">Hasta</label>
                    <select class="form-control select2" v-model="hasta" name="hasta" id="hasta" v-select2>
                      
                        <option v-for="(trab) in first"
                        :key="trab.codemp"
                        :value="trab.codemp"
                        >{{ trab.nomemp }}</option>
                  
                    </select>
                  </div>     
                </div>
              </div>
              
              
              <div class="row">
                <div class="col-12">
                  <div class="card-body">
                    <div class="col">
                      <button class="btn btn-info ml-3 mt-4" @click="enviar" target="__blank">
                        <b>GENERAR REPORTE</b>
                      </button>
                    </div>
                    <div class="col">
                      <button type="button" id="limpiar" class="btn btn-warning ml-3 mt-4" @click="clean">
                        <b>REINICIAR</b>
                      </button>
                    </div>         
                  </div>
                </div> 
            </div>
          
          </div>
        </div>
      </div>
    </div>
      
  </div>

</template>

<script>

	export default {

		props: {

			/*first : {
				type: [String, Array]
			}, 

			second : {
				type: [String, Object]
			},*/ 

			gerencias : {
				type: [String, Object]
			}, 

		},

		data(){
			return {

			desde: '',
			hasta: '',
      gerencia: '',
      first: [],
      second: [],
			}
		},

		computed: {

		},

		methods: {

      clean(){

        this.gerencia = '';

      },
			
      async trabas(val){
        

      try {

      const data = {

      gerencia: val,
      }
      
      const res = await axios.post(`/modulo/Fasvit/Gerencia/Trabas`, data)

      this.first = res.data.first
      this.second = res.data.second
      

      }
      

      catch(error) {
        console.log(error);
      }

      },

      async enviar(){


        try {

          const data = {
            desde: this.desde,
            hasta: this.hasta,
            gerencia: this.gerencia,

          }

          const config = {
            headers: { 
             header1:  
              {'Content-Type': 'multipart/form-data',
               'Content-Disposition': "attachment; filename=PDF.pdf"
              }
            }
          }

          const res = await axios.post('/modulo/Fasvit/Familiares/Reporte/pdf', data,{responseType: 'arraybuffer'})
            .then((res) => {
              console.log(res);

              let blob = new Blob([res.data], {type: 'application/pdf'}),
                url = window.URL.createObjectURL(blob)

              window.open(url);
  
            })

        }

        catch(error){
          console.log(error)
        }
      },


		},

    watch: {
      'gerencia': {
        handler: function(val, oldVal){
      
          this.trabas(val);
        },
        deep: true
      },

      /*'desde': {

      },*/

      },

		mounted(){


		},

    updated(){
      
    }
	}
	
</script>

<style>
	
</style>