<template>
  <div class="container big-container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h1 class="h1-title" v-if="type === 'creating'">Registro tratamientos a familiares</h1>
        <div class="card">

          <div class="card-header" v-if="type === 'creating'">
          Registro de tratamiento
        </div>

          <div class="card-header" v-if="type === 'editing'">
          Gestión de solicitud
        </div>

          <div class="card-body" v-if="type === 'creating'">
            <div class="row">
              <div class="col-sm-6 col-md-4" >
                <label for="exampleInputEmail1">C&eacute;dula</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id=""
                    v-model="cedula"
                    placeholder="Ingrese Cédula"   
                    maxlength="8"
                    @keyup.enter="buscarUser"
                  />
                  <template>
                    <div @click="buscarUser" class="input-group-append as-button">
                      <span class="input-group-text">
                        <template v-if="!loading">
                          <i class="fas fa-search"></i>
                          <b>Buscar</b>
                        </template>
                        <template v-else>
                          <i class="fas fa-circle-notch fa-spin"></i>
                          <b>Buscando</b>
                        </template>
                      </span>
                    </div>
                  </template>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="form-group">
                <label>Titular</label>
                
                  <input type="text"
                  class="form-control"
                  v-model="nombre"
                  disabled>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="form-group">
                <label>Beneficiario</label>
                
                  <select class="form-control" v-model="cedulafam" title="Seleecione el familiar">
                    
                    <option disabled selected>Seleccione un familiar</option>
                    <option v-for= "(familiar, index) in familiares" 
                    :value="familiar.cedfam"
                    :key="familiar.id"
                    >
                    {{ familiar.nomfam }}
                    </option>

                  </select>
                  </div>
                </div>

                <div class="col-sm-6 col-md-4">
                <div class="form-group">
                <label>Correo</label>
                
                  <input type="text"
                  class="form-control"
                  v-model="correo"
                  disabled 
                  >
                </div>
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="form-group">
                <label>Código de verificación</label>
                
                  <input type="text"
                  class="form-control"
                  v-model="codver"
                  maxlength="10"
                  >
                  <span class="text-red">{{ errors.codver ? 'Campo requerido'  : ''}}</span>
                </div>
              </div>
              
              <div class="col-sm-12" v-if="cedulafam !== ''"> <!-- _Formulario de creación_  -->

              <h4>Datos del récipe</h4>

                <table class="table table-bordered">

                  <thead style="text-align: center;">
                    <th>Medicamento</th>
                    <th>Dosis</th>
                    <th>Frecuencia</th>
                    <th>Duración</th>
                    <th>Cantidad (cajas)</th>
                    <th>Acción</th>
                  </thead>

                  <tbody>

                    <tr v-for="(medicamento, index) in medicamentos" :key="medicamento.id"> <!--  -->

                    <template>
                    <td>
                      <input 
                      type="text"
                      class="form-control"
                      v-model="medicamento.nombremed"
                      placeholder="Nombre"
                      v-uppercase-only
            
                    >
                    </td>
                    <td><input 
                      type="text"
                      min="1"
                      class="form-control"
                      placeholder="Dosis"
                      v-model="medicamento.dosis"
                      v-uppercase-only

                  
                    >
                    </td>

                    <td><input 
                      type="text"
                      placeholder="Frecuencia"
                      class="form-control"
                      v-model="medicamento.frecuencia"
                      v-uppercase-only
                    
                      
                    >
                    </td>

                    <td><input 
                      type="text"
                      class="form-control"
                      placeholder="Duracion"
                      v-model="medicamento.duracion"
                      v-uppercase-only
                    
                    >
                    </td>

                    <td><input 
                      type="number"
                      min="1"
                      placeholder="Cantidad"
                      class="form-control"
                      v-model="medicamento.cantidad"
                    >
                    </td>
                    <td>
                    
                      <a
                          href="#"
                          class="btn btn-outline-danger"
                          :disabled="medisable"
                          @click.prevent="deletemed(index)"
                          ><i class="fa fa-times fa-lg"></i
                        ></a>

                    </td>

                    </template>
                    </tr>

                  </tbody>

                </table>

                <button class="btn btn-success" @click="addmed()" :disabled="medisable">
                <i class="fa fa-medkit"></i>  Añadir medicamento
                </button>

                <span class="text-red">{{ tamano === 5 ? 'El máximo de medicamentos para registrar es de 5'  : ''}}</span>

            

              <div class="form-group mt-2"> 
              <h4 class="mx-0">Diagnóstico del beneficiario</h4>

              <div class="row">  

              <div class="col-sm-6 col-md-4">

                <label>Patología</label>
                <div class="input-group">
                <select class="form-control" placeholder="Patología" v-model="patselect" :disabled="diagdisable">

                  <option selected disabled>Seleccione una patología</option>

                  <option v-for="pat in pats" :value="pat">
                    {{ pat.nombre }}
                  </option>

                </select>
                

                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" @click="clean" :disabled="diagdisable">
                      <i class="fa fa-undo" aria-hidden="true"></i>
                        Limpiar
                    </button>
                 </div>

                 </div>
                

                <div class="custom-control custom-checkbox" v-if="patselect === null">

                  <input type="checkbox" class="custom-control-input" id="customCheck1"  @click="diagdisable = !diagdisable">

                  <label class="custom-control-label" for="customCheck1">Otra</label>

                </div>

              </div> 

            

              <div class="col-sm-6 col-md-4" v-show="diagdisable">




                <label>Especialidad</label>
                <select class="form-control" placeholder="Especialidad" v-model="especselect">

                  <option disabled selected>Seleccione una especialidad</option>

                  <option v-for="espec in especs" :value="espec.id">
                    {{ espec.nombreesp }}
                  </option>

                </select>

              </div>
              

              <div class="col" v-show="diagdisable">

              <label>Descripción del diagnóstico</label>              
              <textarea class="form-control mb-1" 
              rows="2" 
              v-model="diagnosticos.descdiag" 
              placeholder="Descripcion del diagnóstico"
              v-uppercase
              ></textarea>
              <span class="text-red">{{ diagnosticos.descdiag.length < 5 ? 'La descripción debe tener más de 5 caracteres'  : ''}}</span>

              <span class="text-red">{{ diagnosticos.descdiag.length >= 100 ? 'La descripción no debe tener más de 100 caracteres'  : ''}}</span>
              
              </div>
              

              </div>

              
              


              <h4>Vigencias</h4>

              
              <table class="table-bordered center" style="text-align: center;">
                <thead>
                  <th colspan="2">Informe médico</th>
                  <th colspan="2">Récipe médico</th>
                </thead>

                <tbody>
                  <td>
                    <label>Desde</label>
                    <input type="date" class="form-control" v-model="diagnosticos.fecdsdinf">
                  </td>
                  <td>
                    <label>Hasta</label>
                    <input type="date" class="form-control" v-model="diagnosticos.fechstinf">
                  </td>
                  <td>
                    <label>Desde</label>
                    <input type="date" class="form-control" v-model="diagnosticos.fecdsdrec">
                  </td>
                  <td>
                    <label>Hasta</label>
                    <input type="date" class="form-control" v-model="diagnosticos.fechstrec">
                  </td>
                </tbody>

              </table>

              <div class="" style="margin-left: auto; margin-right: auto; text-align: center;">
                
                <span class="text-red">{{ !diagnosticos.fecdsdinf || !diagnosticos.fechstinf || !diagnosticos.fecdsdrec || !diagnosticos.fechstrec ? 'Campos requeridos'  : ''}}</span> 
                
              </div>

              </div>              

              <h4>Observaciones</h4>

              <textarea class="form-control" 
              rows="3" 
              v-model="diagnosticos.observaciones" 
              placeholder="Observaciones"
              v-uppercase
              ></textarea>   

              


            </div>
          </div>
        </div>  

          <div class="card-body" v-if="type === 'editing'"> <!--_Formulario de edición_ -->
            <div class="row">
            <div class="col-sm-6 col-md-4" >
                <label for="exampleInputEmail1">C&eacute;dula</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    disabled
                    v-model="info.codemp"
                  />
                  
              </div>
            </div>

              <div class="col-sm-6 col-md-4">
                <div class="form-group">
                <label>Titular</label>
                
                  <input type="text"
                  class="form-control"
                  v-model="info_empleado.nomemp"
                  disabled>

                </div>
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="form-group">
                <label>Beneficiario</label>
                
                  <input type="text" class="form-control" disabled v-model="infobeneficiario.nomfam">

                  </div>
                </div>
              
              <div class="col-sm-12 mt-3">

              <h4>Datos del récipe</h4>

                <table class="table table-bordered" >

                  <thead style="text-align: center;">
                    <th>Medicamento</th>
                    <th>Dosis</th>
                    <th>Frecuencia</th>
                    <th>Duración</th>
                    <th>Cantidad (cajas)</th>

                  </thead>

                  <tbody>

                    <tr v-for="(medicamento, index) in infomedicamentos"  :key="index"> <!--  -->

                    <template>
                    <td>

                      {{ medicamento.nombre }}
                    
                    </td>
                    <td> 
                      
                      {{ medicamento.dosis }}
                    
                    </td>

                    <td>
                    
                      {{ medicamento.frecuencia }}
                    
                    </td>

                    <td>

                      {{ medicamento.duracion }}
                    
                    </td>

                    <td>

                      {{ medicamento.cantidad }}
                    
                    </td>


                    </template>
                    </tr>

                  </tbody>

                </table>
            

              <div class="form-group" > 
              <h4>Diagnóstico del beneficiario</h4>

              <textarea class="form-control mb-3" 
              rows="3" v-model="info.diagnostic.diagnostico" 
              disabled placeholder="Descripcion del diagnóstico">
              </textarea>
              

            
          

              <h4>Vigencias</h4>

              
              <table class="table-bordered center" style="text-align: center;">
                <thead>
                  <th colspan="2">Informe médico</th>
                  <th colspan="2">Récipe médico</th>
                </thead>

                <tbody>
                  <td>
                    <label>Desde</label>
                    <input type="date" required pattern="\d{2}-\d{2}-\d{4}" class="form-control" disabled v-model="info.diagnostic.fecdsdinf">
                  </td>
                  <td>
                    <label>Hasta</label>
                    <input type="date" required pattern="\d{2}-\d{2}-\d{4}" class="form-control" disabled v-model="info.diagnostic.fechstinf">
                  </td>
                  <td>
                    <label>Desde</label>
                    <input type="date" required pattern="\d{2}-\d{2}-\d{4}" class="form-control" disabled v-model="info.diagnostic.fecdsdrec">
                  </td>
                  <td>
                    <label>Hasta</label>
                    <input type="date" required pattern="\d{2}-\d{2}-\d{4}" class="form-control" disabled v-model="info.diagnostic.fechstrec">
                  </td>
                </tbody>
              </table>

              



              </div>
              

              
              <h4>Observaciones</h4>

              <textarea class="form-control" rows="3" v-model="info.diagnostic.observaciones" disabled placeholder="Observaciones"></textarea>        
            </div>
          </div>
        </div>




          <div class="card-footer"> <!-- Footer -->
            
                <button class="btn btn-primary" @click.prevent="enviarmed" v-if="type === 'creating'">
                <i class="fa fa-check"></i>  Registrar solicitud
                </button>

                <template v-if="type === 'editing'">

                <button class="btn btn-success" @click.prevent="aprobar">
                <i class="fa fa-check"></i>  Aceptar solicitud
                </button>

                <button class="btn btn-danger" @click.prevent="rechazar">
                <i class="fa fa-times"></i>  Rechazar solicitud
                </button>

                </template>

                <button class="btn btn-secondary" @click.prevent="back">
                <i class="fa fa-arrow-left"></i>  Volver
                </button>
                
          </div>


      </div>
    </div>
  </div>
</div>

</template>


<script>

      // NKT1YG4ZXB

export default {
  props: {

    info : {
      type : [String, Object],
    },

    type : {
      type : String,
      default : 'creating'
    },

    info_empleado : {
      type : [String, Object]
    },

    infomedicamentos : {
      type : [String, Array]
    },

    infobeneficiario : {
      type : [String, Object]
    },
  },

  data(){
    return {
      empleado: {},
      cedula: '',
      nombre: '',
      familiarselect: "",
      pats: {},
      especs: {},
      patselect: null,
      especselect: null,
      correo: null,
      cedulafam: '',
      undoRegisters: [],
      medisable: null,
      tamano: null,
      errors: {},
      estatus: '',
      codver: '',
      diagdisable: false,
      disacheck: false,

      diagnosticos: {
        descdiag: '',
        fecdsdinf: '',
        fechstinf: '',
        fecdsdrec: '',
        fechstrec: '',
        observaciones: '',

      },

    }; 
  },

  computed: {

    familiares: {
      get() {
        return this.$store.state.familiares;
      },
      set(data) {
        this.$store.commit("setMuted", {
          prop: "familiares",
          payload: data,
        });
      },
    },

    medicamentos: {
      get() {
        return this.$store.state.medicamentos;
      },
      set(data) {
        this.$store.commit("setMuted", {
          prop: "medicamentos",
          payload: data,
        });
      },
    },


    loading() {
      return this.$store.state.loading;
    },

  },

  methods: {

    clean(){

      this.patselect = null;

    },


    back(){

      window.history.back();

    },

      async buscarUser() {

        if (!this.cedula || this.cedula.length < 7) return;
        const { data, status } = await this.$store.dispatch("getInfoEmpleado", {
          cedula: this.cedula,
        });

          if (!data || status !== 200) {
        this.$toast.error(
          "Cedula ingresada no existe en nuestra base de datos"
        );
        return;
          }

      this.empleado = data.empleado;
      this.nombre = data?.empleado?.nomemp;
      this.correo = data?.empleado?.emaemp;

      this.buscFamiliares(data);
          },

      addmed() {

      this.medicamentos = [...this.medicamentos, {cedfam: this.cedulafam}]
      this.tamano = this.medicamentos.length;
      
        
      if (this.tamano > 4){
        this.medisable = true;
      } 

      },

      aprobar(){

        this.estatus = 'A';

        axios.put(`/modulo/Fasvit/Tratamientos/accion/`+this.info.id, {
          status: this.estatus,
        })

            .then(response => {

              Swal.fire({

              icon: 'success',
              title: 'Solicitud Aprobada',
              timer: 2000,

            })
              .then(function(){
              
              window.location.href = '/modulo/Fasvit/Tratamientos'
            
            })


          })

        .catch(error => {
          console.log(error)
        })

      },

      rechazar(){

        this.estatus = 'R';

        axios.put(`/modulo/Fasvit/Tratamientos/accion/`+this.info.id, {
            status: this.estatus,
        })

            .then(response => {

              Swal.fire({

              icon: 'error',
              title: 'Solicitud Rechazada',
              timer: 2000,

            }).then(function(){
              window.location.href = '/modulo/Fasvit/Tratamientos'
            })
              
            })

        .catch(error => {
          console.log(error)
        })
      },

      deletemed(index){
        
        console.log(this.medicamentos[index])
        this.undoRegisters = [this.medicamentos[index], ...this.undoRegisters]
        this.medicamentos.splice(index, 1)


        this.tamano = this.tamano - 1;
        if(this.tamano <5){
          this.medisable = false;
        }
        
      },

      async getPats(){ //funcion asíncrona trabajada con axios y try catch, mejor que con then y catch

        try {

          const res = await axios.get(`/modulo/Fasvit/getPats`)

          this.pats = res.data.pats;
          this.especs = res.data.especs

          }


        catch(error){
          console.log(error)
        }

      },

      async enviarmed(){ 

        if(this.especselect === null && this.diagnosticos.descdiag === '' && this.patselect !== {}){ //Condicional para patselect

          this.especselect = this.patselect.id_espec;
          this.diagnosticos.descdiag = this.patselect.nombre;

        } 

        const data = {
          codver: this.codver,
          emaemp: this.correo,
          cedula: this.cedula,
          idespec: this.especselect,
          cedulafam: this.cedulafam, 
          medicamentos: this.medicamentos,
          diagnosticos: this.diagnosticos,
        }

        await axios.post(`/modulo/Fasvit/Tratamientos/Registro/store`, data)
          .then (({ data }) => {
            if (data.success){
            this.$toast.success(
                "Solicitud suministrada correctamente",
                {
                  onclose : setTimeout(() => {
                    location.reload();
                  }, 2000)
                }
              );
              
            }
          })
          .catch((error) => {
            
            if(error.response.status === 422){

              this.errors = error.response.data.errors;

              this.$toast.error("Verifique los datos del formulario", {
                  position: "top-right",
                  timeout: 5000,
                  closeOnClick: true,
                  })
            }

          });
      },

      buscFamiliares({ familiares = {} }){

        const today = new Date();
        if (familiares.length === 0) return;
        this.$store.commit("setMuted", {
          prop: "familiares",
          payload: familiares,
        });
      },

      

    },

  mounted(){
    this.getPats(); //Ejecutar el async de las patologías
  },



}
</script>

<style type="text/css">
  
  h4 {
    text-align: center;
  }
  .center{
    margin-left: auto;
    margin-right: auto;
  }

  textarea {
    text-transform: uppercase;
  }

</style>