<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">

                     <div class="card-header" v-if="type === 'creating'">
                    <strong>REGISTRAR PATOLOGIA</strong>
                    </div>

                    <div class="card-header" v-if="type === 'editing'">
                    <strong>EDITAR PATOLOGIA</strong>
                    </div>

                <div v-if="type === 'creating'">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <label>Nombre</label>
                                    <div class="input-group">
                                        <input class="form-control" v-model="form.nombre" type="text" placeholder="Ingrese un Nombre" />
                                    </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <label>Especialidad</label>
                                    <v-select
                                        placeholder="Seleccione una especialidad"
                                        :options="especialidades"
                                        name="especialidad"
                                        v-model="form.id_espec"
                                        :reduce="(espec) => espec.id"
                                        label="nombreesp"
                                    />
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="d-flex">
                            <button class="btn btn-secondary" @click.prevent="back">
                                <i class="fa fa-arrow-left"></i>  Volver
                            </button>
                            <button type="submit" class="ml-auto btn btn-success" @click="sendesp">Guardar</button>
                        </div>
                    </div>

                </div>

                 <div v-if="type === 'editing'">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <label>Nombre</label>
                                    <div class="input-group">
                                        <input class="form-control" v-model="form.nombre" type="text" placeholder="Ingrese un Nombre" />
                                    </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <label>Especialidad</label>
                                    <v-select
                                        placeholder="Seleccione una especialidad"
                                        :options="especialidades"
                                        name="especialidad"
                                        v-model="form.id_espec"
                                        :reduce="(espec) => espec.id"
                                        label="nombreesp"
                                    />
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="d-flex">
                            <button class="btn btn-secondary" @click.prevent="back">
                                <i class="fa fa-arrow-left"></i>  Volver
                            </button>
                            <button type="submit" class="ml-auto btn btn-success" @click="sendespEdit">Guardar</button>
                        </div>
                    </div>

                </div>


                </div>
                
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        props: {

            type : {
            type : String,
            default : 'creating'
            },

            patologias : {
            type : [String, Object],
            },

        },

        data() {
            return {
                especialidades: [],
                form: {
                    id_espec: '',   
                    nombre:   '',

                }
            }
        },

        mounted() {
            this.getData();
            this.getPat()
        },

         methods: {

            back(){

                window.history.back();

            },

            async getData() {
                try {
                    const res = await axios.get(`/modulo/Fasvit/Patologias/Registro/getData`);

                    this.especialidades = res.data.especialidades;

                } catch (error) {}
            },

            async getPat() {
                const data = {
                    id: this.patologias.id ? this.patologias.id : '',
                }
                try {
                    const res = await axios.post(`/modulo/Fasvit/Patologias/Registro/getPat`, data);

                    this.form.id_espec = res.data.patologias.id_espec ? res.data.patologias.id_espec : '';
                    this.form.nombre = res.data.patologias.nombre ? res.data.patologias.nombre : '';

                } catch (error) {}
            },

            async sendesp() {
                this.whileSub = true;

                const data = this.form;

                await axios
                    .post(`/modulo/Fasvit/Patologias/Registro/sendData`, data)
                    .then(({ data }) => {
                    if (data.success) {
                        this.whileSub = false;
                        this.$toast.success(data.message, {
                        onclose: setTimeout(() => {
                            window.location = data.redirect;
                        }, 2000),
                        });
                    }
                    })
                    .catch((error) => {
                    if (data.error) {
                        this.$toast.error("Error al registrar orden", {
                        position: "top-right",
                        timeout: 5000,
                        closeOnClick: true,
                        });
                        this.whileSub = false;
                    }

                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                        this.whileSub = false;
                    }
                });
            },

            async sendespEdit() {
                this.whileSub = true;

                const data = this.form;

                await axios
                    .put(`/modulo/Fasvit/Patologias/Registro/sendDataEdit/`+this.patologias.id, data)
                    .then(({ data }) => {
                    if (data.success) {
                        this.whileSub = false;
                        this.$toast.success(data.message, {
                        onclose: setTimeout(() => {
                            window.location = data.redirect;
                        }, 2000),
                        });
                    }
                    })
                    .catch((error) => {
                    if (data.error) {
                        this.$toast.error("Error al registrar orden", {
                        position: "top-right",
                        timeout: 5000,
                        closeOnClick: true,
                        });
                        this.whileSub = false;
                    }

                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                        this.whileSub = false;
                    }
                });
            },

        },
    
    }
</script>
