<template>
  <div class="container big-container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h1 class="h1-title">Registro de familiares fasvit</h1>
        <div class="card">
          <div class="card-header">Registro de familiares fasvit</div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6 col-md-4">
                <label for="exampleInputEmail1">Cedula</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    placeholder="Ingrese Cedula"
                    v-model="cedula"
                    @keyup.enter="searchUser"
                  />
                  <template v-if="type!=='editing'">
                    <div @click="searchUser" class="input-group-append as-button">
                      <span class="input-group-text">
                        <template v-if="!loading">
                          <i class="fas fa-search"></i>
                          <b>Buscar</b>
                        </template>
                        <template v-else>
                          <i class="fas fa-circle-notch fa-spin"></i>
                          <b>Buscando</b>
                        </template>
                      </span>
                    </div>
                  </template>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="form-group">
                  <label for="name">Nombre</label>
                  <input
                    type="text"
                    disabled
                    class="form-control"
                    id="name"
                    placeholder=""
                    v-model="nombre"
                  />
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="form-group">
                  <label for="name">Codigo de Verificación</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder=""
                    v-model="codver"
                    maxlength="10"
                  />
                </div>
              </div>
								<div class="col-sm-4 offset-sm-4">
									<div class="form-group">
										<label for="name">Correo Corporativo</label>
										<input
											type="text"
											class="form-control"
											id="name"
											placeholder="Correo Corporativo"
											v-model="emaemp"
											maxlength="10"
										/>
                	</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group">
										<button
											type="submit"
											class="btn btn-success mb-3"
											@click.prevent="add"
										>
											<i class="fas fa-user-plus"></i>
											Añadir Beneficiario
										</button>
									</div>
                </div>
              <div class="col-sm-12" v-if="familiares.length > 0 || undoRegisters.length > 0">
                <h5 v-if="type !== 'editing'">
                  BENEFICIARIOS A SER INCLUIDOS EN EL FONDO AUTO-ADMINISTRADO DE
                  SALUD
                </h5>
                <h5>
                  BENEFICIARIOS REGISTRADOS EN SIGA
                </h5>
                <table class="table table-bordered">
                  <thead>
                    <th>Nombre</th>
                    <th>Cedula</th>
                    <th>Sexo</th>
                    <th>Fecha Nacimiento</th>
                    <th>Edad</th>
                    <th>Parentesco</th>
                    <th>%ECDM</th>
                    <th>{{type === 'creating' ? 'Eliminar' : 'Asegurar'}}</th>
                  </thead>
                  <tbody>
                    <tr
                      v-for="(familiar, index) in familiares"
                      :key="familiar.id"
                    >
                    <template>                        
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          v-model="familiar.nomfam"
                          v-uppercase
                        />
                      </td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          v-model="familiar.cedfam"
                          maxlength="8"
                          :disabled='familiar.edafam < 10'
                        />
                      </td>
                      <td>
                        <select
                          name=""
                          id=""
                          class="form-control"
                          v-model="familiar.sexfam"
                        >
                          <option value="F">Femenino</option>
                          <option value="M">Masculino</option>
                        </select>
                      </td>
                      <td>
                        <input
                          type="date"
                          class="form-control"
                          v-model="familiar.fecnac"
                        />
                      </td>
                      <td>
                        {{ (familiar.edafam = calcAge(familiar.fecnac)) }}
                      </td>
                      <td>
                        <select
                          name=""
                          id=""
                          class="form-control"
                          v-model="familiar.parfam"
                        >
                          <template v-for="par in tipos_parentesco_parsed">
                            <option :value="par.tippar" :key="par.id">
                              {{ par.despar }}
                            </option>
                          </template>
                        </select>
                      </td>
											<td>
												<input 
												type="number" 
												class="form-control"
												v-model="familiar.porcecdm"
												v-maxperfect
												>
											</td>
                      <template v-if="type === 'creating'">
                        <td>
                          <a
                            href="#"
                            class="btn btn-danger"
                            @click.prevent="removefam(index)"
                            ><i class="fa fa-times"></i
                          ></a>
                        </td>
                      </template>
                      <template>
                        <td>
                          <input class="form-control" type="checkbox" v-model="familiar.hcm">
                        </td>
                      </template>
                    </template>
                    </tr>
                    <template>
                      <tr v-for="(undo,index) in undoRegisters" :key="index">
                        <td colspan="8" style="text-align:end">
                          <a class="btn btn-info" href="javascript:void(0)" @click="undoRemove(index)">
                            <i class="fas fa-undo"></i>Deshacer
                          </a>
                        </td>
                      </tr>
                    </template>
                  </tbody>
                </table>
                <span class="text-red">{{ percent_death !== 100 ? 'La suma de los porcetajes en caso de muerte deben ser iguales a 100%'  : ''}}</span>
              </div>
              
            </div>
          </div>
          <div class="card-footer">
            <button
              v-if="type === 'creating'"
              type="submit"
              class="btn btn-primary"
              :disabled="disabled"
              @click.prevent="onSubmit"
            >
              Enviar Solicitud
            </button>

            <button
              type="submit"
              class="btn btn-secondary"
              @click.prevent="back()"
            >
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
              Volver
            </button>
            <template v-if="type==='editing'">
              <button
                type="submit"
                class="btn btn-success"
                @click.prevent="approve"
                :disabled="disabled_edition"
              >
              <i class="fas fa-check"></i>
              Aprobar solicitud
              </button>
              <button
                type="submit"
                class="btn btn-danger"
                @click.prevent="reject"
                :disabled="disabled_edition"
              >
              <i class="fas fa-times"></i>
              Rechazar solicitud
              </button>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { methods_editing } from './mixins/methods_edit.js'
export default {
  props: {
    tipos_parentesco: {
      type: [String],
      default: () => [],
    },
    info : {
      type : [String, Object],
    },
    info_empleado : {
      type : [String, Object]
    },
    familiares_siga : {
      type : [String, Array]
    },
    type: {
      type: String,
      default : 'create'
    },
  },
  data() {
    return {
      cedula: "",
      nombre: "",
      empleado: {},
			emaemp: null,
      undo: [],
      codver: '',
      unselected: [],
      undoRegisters : [],
      familiares_indead_case: null,
      _disabled: null,
    };
  },
  mounted() {
    if (this.type === "editing") {
      this.prepareForEdit()
    }
  },
  methods: {

    back(){

      window.history.back();

    },
    
    async searchUser() {
      if (!this.cedula || this.cedula.length < 7) return;
      const { data, status } = await this.$store.dispatch("getInfoEmpleado", {
        cedula: this.cedula,
      });
      if (!data || status !== 200) {
        this.$toast.error(
          "Cedula ingresada no existe en nuestra base de datos"
        );
        return;
      }
      this.empleado = data.empleado;
      this.nombre = data?.empleado?.nomemp;
      this.emaemp = data?.empleado?.emaemp;

      this.getFamiliares(data);
    },
    add() {
      this.familiares = [...this.familiares, { codemp: this.cedula }];
    },
    removefam(index) {
      console.log(this.familiares[index])
      this.undoRegisters = [this.familiares[index], ...this.undoRegisters]
      this.familiares.splice(index, 1);
    },
    undoRemove(index) {
      console.log(this.undoRegisters[index])
      this.familiares = [...this.familiares, this.undoRegisters[index]]
      this.undoRegisters.splice(index, 1);
    },
    calcAge(fecha) {
      if (!fecha) return 0;
      const today = new Date();
      const edad = today - new Date(fecha);
      return Math.abs(new Date(edad).getFullYear() - 1970);
    },
    getFamiliares({ familiares = [] }) {
      const today = new Date();
      if (familiares.length === 0) return;
      familiares.forEach((elem) => {
        elem.edad = this.calcAge(elem.fecnac);
      });
      this.$store.commit("setMuted", {
        prop: "familiares",
        payload: familiares,
      });
    },
    async onSubmit() {
      this._disabled = true
      const only_one_par = [
        'MADRE',
        'CONYUGUE',
        'CONCUBINO (A)',
        'PADRE'
      ]

      const validate_parentescos = this.tipos_parentesco_parsed.map((parentesco) => {
        return this.familiares.filter((familiar) => {
          return familiar.parfam == parentesco.tippar && only_one_par.includes(parentesco.despar)
        }).length
      })

      if(validate_parentescos.includes(2)){
        this._disabled = false
        this.$toast.error(
          "Verifica bien los familiares"
        );
        return
      }
      const data = {
        cedula: this.cedula,
        nombre: this.nombre,
        codver: this.codver,
        emaemp: this.emaemp,
        empleado: this.empleado,
        familiares: this.familiares,
      };

      axios
        .post(`/modulo/Fasvit/Registro/Familiares/store`, data)
        .then(({ data }) => {
          if(data.success) {
            this.$toast.success(
              "Solicitud suministrada correctamente",
              {
                onclose : setTimeout(() => {
                  window.location.reload()
                }, 2000)
              }
            );
          }
        })
        .catch((error) => {
          this._disabled = false
          console.log(error);
        });
    },
    setOpc(elem) {
      //if(!elem.cedfam || elem.cedfam === 'sf') return
      //elem.cedfam
    },
    ...methods_editing
  },
  computed: {
    familiares: {
      get() {
        return this.$store.state.familiares;
      },
      set(data) {
        this.$store.commit("setMuted", {
          prop: "familiares",
          payload: data,
        });
      },
    },
    loading() {
      return this.$store.state.loading;
    },
    tipos_parentesco_parsed() {
      return JSON.parse(this.tipos_parentesco).filter(
        (elem) => !elem.despar.includes("TITULAR")
      );
    },
    disabled() {
      const validation = [
        !this.cedula,
        !this.nombre,
        !this.codver,
        this.codver.length != 10,
        this.percent_death !== 100,
        this._disabled
      ]
      return validation.some(elem => elem === true)
    },
    disabled_edition() {
      const validation = [
        !this.cedula,
        this.percent_death !== 100,
        this._disabled
      ]
      return validation.some(elem => elem === true)
    },
    fam_has_cedula() {
      return this.familiares.filter((elem) => elem.cedfam).length;
    },
    par_fam_available(){

      if(this.familiares && this.familiares.length > 0){
        const familiares = this.familiares
        const only_one_par = [
          'MADRE',
          'CONYUGUE',
          'CONCUBINO (A)',
          'PADRE'
        ]
        return this.tipos_parentesco_parsed.reduce((acc, curr) => {
          return familiares.some((elem) => curr.tippar === elem.parfam) && 
          only_one_par.includes(curr.despar) ? acc : [...acc, curr]
        }, [])
      }else{
        return this.tipos_parentesco_parsed
      }
    },
		percent_death() {
			return this.familiares.reduce((acc, curr) => {
				const current = (curr.porcecdm) ? parseInt(curr.porcecdm) : 0
				return Number.parseInt(acc) + (parseInt(current) > 100 ? 100 : parseInt(current))
			}, 0)
		},
    
  },
};
</script>
