<template>
	
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card">
            
                <div class="card-header">
                <h3 class="card-title"><b>Gerencia de tratamientos</b></h3>
                <div class="card-tools">
                    <div class="row">
                    <!-- Para botones en el header -->
                    </div>
                </div>
                </div>

                <div class="card-body">

                <form>

                	<div class="row">

		                <div class="col-sm-6 col-md-4">
		                
		                <label>Oficina</label>
		                
		                <select class="form-control" placeholder="Seleccione la oficina" name="grc" v-model="ofiselect">
		                    
		                    <option disabled selected>Seleccione una oficina</option>
		                    	                    
		                    
		                   <option v-for="gerencia in gerencias" :value="gerencia.codniv">

		                   	{{ gerencia.desniv }}
		                       
		                   		

		                   </option>

		                   
		                    
		                </select>
		            
		                </div>


		                <div class="col-sm-6 col-md-4">

		                    <label>Especialidad</label>
		                
		                <select class="form-control" title="Seleccione la oficina" v-model="especselect">
		                    
		                    <option disabled selected>Seleccione una especialidad</option>
		                    
		                    
		                    
		                   <option v-for="espec in especs" :value="espec.id">
		                       
		                   		{{ espec.nombreesp }}

		                   </option>

		                   
		                    
		                </select>

		                </div>

		                

		                	<button class="btn btn-success mt-4" @click.prevent="filtro">
		                		<i class="fa fa-search" aria-hidden="true"></i>
		                		Filtrar
		                	</button>

		                	<button class="btn btn-secondary mt-4 ml-2" @click.prevent="clean">
		                		<i class="fa fa-undo" aria-hidden="true"></i>
		                		Limpiar
		                	</button>

            		</div>

            	</form>

            		<div class="col-sm-12 mt-4">

            		<table class="table table-bordered table-hover">

            			<thead>
            				<th>Oficina</th>
            				<th>Nombre del titular</th>
            				<th>Especialidad</th>
            				<th>Diagnóstico del beneficiario</th>
            				<!--<th>Acción</th> -->
            			</thead>

            			<tbody>
            				
            				<tr v-for="solicitud in solicitudes" :key="solicitud.id">
            					<td>{{ solicitud.oficina.desniv }}</td>
            					<td>{{ solicitud.titular.nomemp }}</td>
            					<td>{{ solicitud.especialidad.nombreesp }}</td>
            					<td>{{ solicitud.diagnostic.diagnostico }}</td>
            					<!--<td>
            						<button class="btn btn-warning" style="display: none;">Prueba</button>
            					</td>-->
            				</tr>
            				
            				
            			</tbody>
            			
            		</table>

            		</div>
        </div>
    </div>
    </div>
</div>
</div>



</template>

<script>

export default{
	props: {

	gerencias : {
   		type : [String, Array]
   	},

   	especs : {
   		type : [String, Array]
   	},

	},

	data(){
		return {

			ofiselect: '',
			especselect: null,
			solicitudes: [],	

		}

	},

	computed: {



	},	

	methods: {

		clean(){

			this.ofiselect = '';
			this.especselect = null;

			this.solicitudes = this.solics();

		},


		async filtro(){

		  if(this.ofiselect !== '' || this.especselect !== null){

			try {

			const data = {

			oficina: this.ofiselect,
			especialidad: this.especselect,

			}
			
			const res = await axios.post(`/modulo/Fasvit/Gerencia/Filtro`, data)
			

			this.solicitudes = res.data

			}
			

			catch(error) {
				console.log(error);
			}

		  }
		  else{

			this.$toast.error("Datos inválidos", {
                  position: "top-right",
                  timeout: 2500,
                  closeOnClick: true,
                  	})

		};

		},

		async solics(){

			try {

				const res = await axios.get(`/modulo/Fasvit/getPats`)

				this.solicitudes = res.data.solics

			}

			catch(error){

					console.log(error)

			}
		}

	},

	mounted() {

		this.solics();
		
	},

}
	
</script>

<style>
	
</style>