<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">
                Cotización
              </h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-1">
                  <div class="form-group">
                    <label for="refcot">Número</label>
                    <div>
                      <input
                        type="text"
                        name="refcot"
                        class="form-control"
                        v-model="form.refcot"
                        disabled
                      >
                    </div>
                  </div>
                </div>

                <div class="col-sm-1">
                  <div class="form-group">
                    <label for="feccot">Fecha</label>
                    <div class="">
                      <input
                        type="date"
                        name="feccot"
                        class="form-control"
                        v-model="form.feccot"
                      >
                    </div>
                  </div>
                </div>

                <div class="col-sm-1">
                  <div class="form-group">
                    <label for="codmon">Moneda</label>
                    <div>
                      <v-select
                        placeholder="Seleccione una moneda"
                        :options="monedas"
                        name="codmon"
                        :reduce="(moneda) => moneda.codmon"
                        label="nommon"
                        v-model="form.codmon"
                      ></v-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-1">
                  <div class="form-group">
                    <label for="valmon">Valor</label>
                    <div>
                      <input
                        type="text"
                        name="valmon"
                        class="numero form-control"
                        disabled
                        v-model="form.valmon"
                      >
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <label for="">N° de Solicitud</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      aria-describedby="basic-addon2"
                      v-model="pedido.reqart"
                      disabled
                    >
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline-secondary"
                        type="button"
                        id="button-addon2"
                        data-toggle="modal"
                        data-target="#exampleModal"
                        @click="loadPedidos()"
                      >...</button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="codpro">Proveedor</label>
                    <div>
                      <v-select
                        placeholder="Seleccione un proveedor"
                        :options="proveedores"
                        name="codpro"
                        :reduce="(moneda) => moneda.codpro"
                        label="nompro"
                        v-model="form.codpro"
                      ></v-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="refcot">Referencia de cotización</label>
                    <div>
                      <input
                        type="text"
                        name="refcot"
                        class="form-control"
                        v-model="form.refpro"
                        placeholder="REFERENCIA"
                        v-uppercase
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="conpag">Condición de pago</label>
                    <div>
                      <v-select
                        placeholder="Seleccione una condición"
                        :options="condiciones"
                        name="conpag"
                        :reduce="(condic) => condic.codconpag"
                        label="desconpag"
                        v-model="form.conpag"
                      ></v-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="forent">Forma de entrega</label>
                    <div>
                      <v-select
                        placeholder="Seleccione una forma"
                        :options="formas"
                        name="forent"
                        :reduce="(form) => form.codforent"
                        label="desforent"
                        v-model="form.forent"
                      ></v-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <label for="tipo">Descuenta</label>
                  <div
                    class="form-check"
                    v-for="descuento in descuentos"
                    :key="descuento.id"
                  >
                    <input
                      class="form-check-input"
                      type="radio"
                      name="tipo"
                      id="tipo1"
                      :value="descuento.code "
                      v-model="form.tipo"
                    >
                    <label
                      class="form-check-label"
                      for="tipo1"
                    >
                      {{ descuento.name }}
                    </label>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--
      Modal
    -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="exampleModalLabel"
            >Modal title</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="filter">Filtrar por código</label>
            <input
              type="text"
              class="form-control mb-3"
              v-model="filters2.name.value"
              v-uppercase
              placeholder="Código"
            />
            <v-table
              :data="pedidos"
              :filters="filters2"
              class="table table-bordered"
              selectionMode="single"
              selectedClass="table-info"
              @selectionChanged="selectedRow2 = $event"
              @totalPagesChanged="totalPages = $event"
              :pageSize="5"
              :currentPage.sync="currentPage"
            >
              <thead slot="head">
                <th>Código</th>
                <th>Justificación</th>
                <th>Departamento</th>
                <th>Fecha</th>
              </thead>
              <tbody
                slot="body"
                slot-scope="{ displayData }"
              >
                <v-tr
                  v-for="row in displayData"
                  :key="row.id"
                  :row="row"
                >
                  <td>{{ row.reqart }}</td>
                  <td>{{ row.desreq }}</td>
                  <td>{{ row.codcen }}</td>
                  <td>{{ row.fecreq }}</td>
                </v-tr>
              </tbody>
            </v-table>

            <smart-pagination
              :currentPage.sync="currentPage"
              :totalPages="totalPages"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >Cerrar</button>
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              @click="selectPedido(selectedRow2)"
            >Seleccionar</button>
          </div>
        </div>
      </div>
    </div>
    <!--
      Modal
    -->
  </section>
</template>

<script>
export default {
  props: {
    numero: {
      type: String,
    },
    monedas: {
      type: Array,
    },
    tasa: {
      type: Object,
    },
    proveedores: {
      type: Array,
    },

    formas: {
      type: Array,
    },

    condiciones: {
      type: Array,
    },
  },

  data() {
    return {
      form: {
        valmon: 0,
        feccot: null,
        codmon: null,
        refcot: null,
        conpag: null,
        forent: null,
        refpro: null,
        tipo: null,
      },
      pedidos: [],
      filters2: {
        name: { value: "", keys: ["reqart"] },
      },
      currentPage: 1,
      totalPages: 0,
      selectedRow2: {},
      pedido: {},
      descuentos: [
        {
          id: 1,
          name: "Total",
          code: "T",
        },
        {
          id: 2,
          name: "Porcentaje",
          code: "P",
        },
        {
          id: 3,
          name: "Monto",
          code: "M",
        },
      ],
    };
  },

  methods: {
    async loadPedidos() {
      try {
        const res = await axios.get(`/modulo/Compras/Cotizaciones/loadPedidos`);
        console.log(res.data);
        this.pedidos = res.data;
      } catch (e) {
        console.log(e);
      }
    },
    selectPedido(val) {
      let objeto = {};
      for (let i = 0; i < val.length; i++) {
        Object.assign(objeto, val[i]);
      }
      this.pedido = objeto;
    },
  },
  watch: {
    "form.codmon": {
      handler: function (val, oldval) {
        if (val === "001") {
          this.form.valmon = 1;
        } else {
          this.form.valmon = this.tasa.valor;
        }
      },
    },
  },
  mounted() {
    this.form.codmon = "001";
    this.form.forent = "0001";
    this.form.conpag = "0001";
    this.form.refcot = this.numero;
    this.form.tipo = "T";
  },
};
</script>

<style>
.numero {
  text-align: right;
}
</style>